<ul class="contact-info">
                    
    <li>
        <div class="contact-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
        <div class="text"><a href="mailto:{{ site.data.sitewide.email }}">{{ site.data.sitewide.email }}</a></div>
    </li>

    <li>
        <div class="contact-icon"><i class="fa fa-twitter" aria-hidden="true"></i></div>
        <div class="text">
        <a href="https://twitter.com/{{ site.data.trans[page.lang].twitter }}">{{ site.data.trans[page.lang].twitter }}</a></div>
    </li>

    <!-- <li>
        <div class="contact-icon"><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
        <div class="text"><a href="https://youtube.com/{{site.data.sitewide.youtube}}">youtube.ca/{{site.data.sitewide.youtube}}</a></div>
    </li> -->

    <li>
        <div class="contact-icon"><i class="fa fa-github-alt" aria-hidden="true"></i></div>
        <div class="text"><a href="https://github.com/{{site.data.sitewide.github}}">{{ site.data.sitewide.github }}</a></div>
    </li>

</ul>