<ul class="contact-info">

    <li>
        <div class="contact-icon"><a href="mailto:{{ site.data.sitewide.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a></div>
        <div class="text"><a href="mailto:{{ site.data.sitewide.email }}"><span class="sr-only">Email: </span>{{ site.data.sitewide.email }}</a></div>
    </li>

    <li>
	    <div class="contact-icon"><a href="https://twitter.com/{{ site.data.trans[page.lang].twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
        <div class="text">
        <a href="https://twitter.com/{{ site.data.trans[page.lang].twitter }}"><span class="sr-only">Twitter: </span>{{ site.data.trans[page.lang].twitter }}</a></div>
    </li>

    <li>
	    <div class="contact-icon"><a href="https://linkedin.com/company/{{site.data.sitewide.linkedin}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></div>
        <div class="text"><a href="https://linkedin.com/company/{{site.data.sitewide.linkedin}}"><span class="sr-only">LinkedIn: </span>{{ site.data.sitewide.linkedin }}</a></div>
    </li>

    <li>
	    <div class="contact-icon"><a href="https://github.com/{{site.data.sitewide.github}}"><i class="fa fa-github-alt" aria-hidden="true"></i></a></div>
        <div class="text"><a href="https://github.com/{{site.data.sitewide.github}}"><span class="sr-only">Github: </span>{{ site.data.sitewide.github }}</a></div>
    </li>

    <li>
		<div class="contact-icon"><a href="https://www.youtube.com/channel/UC7LZmDau701R-Tbs3c7miMQ"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
         <div class="text"><a href="https://www.youtube.com/channel/UC7LZmDau701R-Tbs3c7miMQ"><span class="sr-only">Youtube: </span>CDS/SNC</a></div>
    </li>

    <li>
		<div class="contact-icon"><a href={{site.data.sitewide.medium[page.lang].url}}><i class="fa fa-medium" aria-hidden="true"></i></a></div>
         <div class="text"><a href={{site.data.sitewide.medium[page.lang].url}}><span class="sr-only">Medium: </span>{{site.data.sitewide.medium[page.lang].name}}</a></div>
    </li>
</ul>