<div id="fip">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <a href="https://www.canada.ca/{{ page.lang }}.html" class="fip-logo gl-FIP" aria-label="{{ site.data.trans[page.lang].aria-canada-website }}">
                    <object type="image/svg+xml" tabindex="-1" role="img" data="/assets/img/cds/goc--header-logo.svg" aria-label="{{ site.data.trans[page.lang].goc-symbol }}" class="logo"></object>
                </a>
            </div>
            <div class="col-xs-8">
                <section id="wb-lng" class="visible-md visible-lg">
                    <h2>{{ site.data.trans[page.lang].language-selection }}</h2>
                    <div id="lang" class="lang">{% include cds/lang-switch.html %}</div>
                </section>
            </div>
        </div>
    </div>
</div>