<footer id="goc-footer">
    <div class="container">

        <div class="row">
            
            <div class="col-xs-12 col-sm-4 col-sm-push-8 goc-footer--logo">
                <object type="image/svg+xml" tabindex="-1" role="img" data="/assets/img/cds/goc--footer-logo.svg" aria-label="{{ site.data.trans[page.lang].goc-symbol }}" class="logo"></object>
            </div>

            <nav role="navigation" class="col-xs-12 col-sm-8 col-sm-pull-4 goc-footer--links">
                {% include cds/goc-footer-links.html %}
            </nav>
            
        </div>

    </div>
</footer>