<nav role="navigation" id="wb-sm" data-trgt="mb-pnl" class="cds-menu" typeof="SiteNavigationElement">
    <div class="container topbar" id="site--topbar">
        <h2>{{ site.data.trans[page.lang].topics-menu }}</h2>
        <div class="row">
            <div class="col-xs-4 col-sm-3">
                <a href="/" class="cds-logo" role="img" aria-label="{{ site.data.trans[page.lang].aria-cds-website }}"></a>
            </div>

            <div class="nav-container">
                <div id="js-mobileNav">
                    <div id="js-mobileNav--closeContainer">
                        <button id="js-mobileNav--button">
                            <span class="text">{{ site.data.trans[page.lang].close }}</span>
                            <span class="glyphicon glyphicon-remove close-icon"></span>
                        </button>
                    </div>
				<div class="mobile-lang">{% include cds/lang-switch.html %}</div>
                    <ul class="top-nav">
                        {% for menu in site.data.menu[page.lang] %}
                        <li class="top-nav--link{% if menu[1].url == page.url %} active{% endif %}">
                            <a href="{{ menu[1].url }}">{{ menu[1].name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <button class="main-nav-button" id="js-mainNavButton">
                    <span class="main-nav-button--text">Menu</span>
                    <span class="main-nav-button--button">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</nav>