
$talent-yellow: #F0CA4D;
$talent-lightblue: #66b3CF;
$talent-darkblue: #22596d; 
$talent-blue: #3173BF;
$talent-textblue: #18385D;

.tablet-borders {
	@include tablet {
		padding-left:5rem;
		padding-right: 5rem;
	}
}

.section-quote {
	font-size: 2.25rem;
	font-weight: 200;
	margin-bottom: 1.5rem;
	font-style: italic;

	@include tablet { font-size: 2.75rem; }

	@include desktop {
		font-size: 3.75rem;
		margin-bottom: 3rem;
	}
}

.quote-author {
	font-size: 0.9rem;
	margin-top: 1rem;
	text-align: right;

	@include tablet { font-size: 1.25rem; }
	@include desktop { font-size: 1.5rem; }
}

.cds-ceo {

	.section--title {
		@include desktop { margin-bottom: 7rem; }
	}

	.section-quote {
		@extend .tablet-borders;
	}

	.page-banner {
		height: 15rem;
		@include tablet { height: 20rem; }
		@include desktop { height: 40rem; }
	}

	.page-banner--title {
		h1 { 
			font-size: 2.5rem;
			padding: 1rem 0.5rem 0rem 0.5rem;
			margin: 1.5rem 1.5rem 0.5rem 1.5rem;
			line-height: 0rem;

			@include tablet {
				font-size: 3.5rem;
				margin-bottom: 1.25rem;
			}

			@include desktop {
				font-size: 6.5rem;
				margin-bottom: 4rem;
			}
		}

		.page-title-sub {
			margin-top: 0.5rem;
			font-size: 1.25rem;

			@include tablet { font-size: 1.5rem; }
			@include desktop { font-size: 2.25rem; }
		}
	}

	.page-talent-ceo--intro {

		p, .intro-quote { @extend .tablet-borders; }
	}

	.page-talent-ceo--role {
		background-image: linear-gradient(to right, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('/assets/img/talent/ceo-role-bk.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		color: $white;

		@include desktop { background-attachment: fixed; }

		p {
			
			@extend .tablet-borders;

			@include desktop { 
				padding-right: 0rem;
				margin-bottom: 3rem; 
			}
		}

		.section-quote {
			@extend .tablet-borders;
			padding-top: 5rem;
			font-size: 2rem;
			margin-bottom: 2.25rem;


			@include desktop {
				font-weight: 100;
				font-size: 2.15rem;
				border-left: rgba($talent-yellow, 0.5) 5px solid;
				padding-left: 2rem;
				padding-right: 0;
				padding-top: 1rem;
				padding-bottom: 1rem;
				margin-left: 1.75rem;
			}
		}
	}

	.page-talent-ceo--mission {
		background: $talent-yellow;

		h2.section--title:after { background: $talent-blue; }

		.row { margin-bottom: 4rem; }

		.mission-icon-container {
			text-align: center;

			@include tablet { text-align: right; }
		}

		.mission-icon {
			@include tablet {
				height: 10rem;
				margin-top: -1rem;
			}
		}

		.highlight {
			color: $talent-textblue;
			font-size: 2.5rem;
			font-style: italic;
			font-weight: bold;
		}
	}

	.page-talent-ceo--candidate {

		.candidate-icon-container { text-align: center; }

		.icon--circle-wrapper {
			background: $talent-lightblue;
			display: inline-block;
			padding: 2rem 2.3rem;
			border-radius: 50%;

			.candidate-icon {
				height: 10rem;

				@include tablet { height: 8rem; }
			}
		}

		.candidate-item { 
			margin-bottom: 4rem; 

			@include tablet {
				@-moz-document url-prefix() {
					height: 391px;
				}
			}
		}

		.text {
			text-align: center;

			h3 { 
				margin-bottom: 0.5rem; 
				margin-top: 1.75rem; 
				font-weight:400;

				@include tablet { font-size: 2.5rem; }
			}

			p {
				font-size: 1.75rem;
				
				@include tablet {
					margin-left: 1rem;
					margin-right: 1rem;
				}

				@include desktop {
					font-size: 1.5rem;
					line-height: 2.25rem;
				}
			}
		}
	}

	.page-talent-ceo--apply {
		background-image: linear-gradient(to right, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('/assets/img/talent/ceo-apply-bk.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		color: $white;
		padding-bottom: 0;

		.apply-now-container {
			border: $white 1px solid;
			margin: 4rem;
			text-align: center;

			

			@include tablet {
				padding: 3rem;
				max-width: 50rem;
				margin: 4rem auto;
			}

			@include desktop {
				max-width: 75rem;
				padding: 5rem;
				margin-top: 10rem;
				margin-bottom: 10rem;	
			}
		}

		@include desktop { background-attachment: fixed; }

		.button-or {
			display: block;

			@include tablet {
				display: inline-block;
				margin: 0 2rem;
			}
		}

		.lead {
			color: $white;
			font-size: 1.75rem;
			text-align: center;

			@include desktop { font-size: 2.5rem; }
		}
	}

	.page-talent-ceo--process {
		background: rgba(34,89,109,.9);
		color: $white;

		.section-smallcaps-title.dark  {
			text-transform: uppercase;
			@extend .tablet-borders;

			@include desktop { margin-bottom: 2rem; }
		}

		div > p { @extend .tablet-borders; }

		h3 {
			@extend .tablet-borders;
			font-size: 1.75rem;
			font-weight: 400;

			@include desktop {
				padding: 0 !important;
				margin-top:0.5rem;
				font-weight: bold;
			}
		}

		ul {
			@extend .tablet-borders;

			@include tablet { margin-left: 4rem; }
			@include desktop { padding: 0; }
		}

		li {
			
			list-style: square;
  			color: $talent-yellow;

  			a {
  				color: $white;
  				border-bottom: $talent-yellow 1px dotted;

  				&:hover {
  					border-bottom-style: solid;
  				}
  			}

			p {
				color: $white;
				
				@include desktop {
					font-size: 1.75rem;
					line-height: 2.25rem;
				}
			}
		}

		.contact-line {
			margin-top: 2rem;
			font-size: 1.75rem;

			@include tablet { font-size: 2.25rem; }
			
			@include desktop {
				text-align: center;
				font-size: 3rem;
				font-weight: 100;
				margin-top: 5rem;
				line-height: 4.5rem;

			}

			a {
				color: $white;
				font-weight: bold;
				border-bottom: $talent-yellow 1px dotted;
				padding-bottom: 0.25rem;
			}
		}
	}
}
