////////////////////////////////////////////////////////////
//
//  CDS MAIN TOP BAR
//
////////////////////////////////////////////////////////////

.topbar {
  padding: 1rem;
  z-index: 999;

  font-size: 2px;

  @include tablet {
    padding-top: 5rem;
  }

  .nav-container {
    @include tablet {
      padding-right: 0;
      font-size: 2px;

      .sticky & {
        padding-right: 1.5rem;
      }
    }
  }

  // TOPBAR SPECIFIC STYLE FOR HOMEPAGE
  .home & {
    @include tablet {
      padding-top: 3rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
  }
}

////////////////////////////////////////////////////////////
//
// CDS LOGO
//
////////////////////////////////////////////////////////////

.cds-logo {
  background-image: url("img/cds/cds-logo-en.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 3rem;
  width: 3rem;
  z-index: 1;

  @include mobile_only {
    background-image: url("img/cds/cds-logo-en-abbrev.svg");
  }

  @include tablet {
    height: 8rem;
    width: 8rem;
    position: absolute;
    top: -3.9rem;
  }

  @include desktop {
    height: 8rem;
    width: 8rem;
    top: -3.9rem;
  }

  @include tv {
    height: 8rem;
    width: 8rem;
    top: -3.9rem;
  }

  // FRONT PAGE SPECIFIC STYLES FOR CDS LOGO
  .home & {
    display: none;
  }

  // BILINGUAL SPECIFIC CDS LOGO
  .fr & {
    background-image: url("img/cds/cds-logo-fr.svg") !important;

    @include mobile_only {
      background-image: url("img/cds/cds-logo-fr-abbrev.svg") !important;
    }
  }

  /*.en .sticky & { background-image: url('img/cds/cds-logo-en-abbrev.svg') !important; }
  .fr .sticky & { background-image: url('img/cds/cds-logo-fr-abbrev.svg') !important; }

  .home .sticky .topbar & { display: block !important; }

  .sticky & {
    @include tablet {
      position: relative !important;
      top: 0;
      height: 5rem;
      width: 5rem;
    }

    @include desktop {
      height: 6rem;
      width: 6rem;
    }

  }*/
}

////////////////////////////////////////////////////////////
//
// TOP NAVIGATION
//
////////////////////////////////////////////////////////////

.top-nav {
  clear: both;
  float: right;
  list-style: none;
  text-align: right;
  margin: 1rem 0 1rem 0;
  padding: 0;

  @include mobile_only {
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  // FRONT PAGE SPECIFIC STYLES FOR TOP NAV
  .home & {
    @include tablet {
      clear: none;
    }

    a {
      color: $white;
      @include tablet {
        font-size: 2.5rem;
      }
    }
  }
}

// Main Navigation Link
.top-nav--link {
  display: block;
  text-align: center;

  @include mobile_only {
    margin: 2rem 0;
  }

  @include tablet {
    display: inline-block;
    position: relative;

    // Hide 'Home' Link for tablet and above
    &:first-child {
      display: none;
    }
  }

  @include desktop {
    margin: 0 1rem;
  }

  // Link Styles
  a {
    color: $white;
    font-size: 3.5rem;
    font-weight: 100;
    margin: 1.5rem;
    text-decoration: none;
    position: relative;

    @include tablet {
      color: $secondary-color;
      font-size: 1.5rem;
      margin: 0 1.25rem 0.25rem 1.25rem;

      .fr & {
        font-size: 1.5rem;
        padding-left: 0em;
        padding-right: 0em;
      }
    }

    @include desktop {
      font-size: 2rem;

      .fr & {
        font-size: 1.8rem;
        padding-left: 0em;
        padding-right: 0em;
      }
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      background: $primary-color;
      border: $primary-color 0px solid;
      width: 0%;
      height: 4px;
      bottom: -0.5rem;
      transition: all 0.45s ease-in-out;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover::after {
      @include tablet {
        width: 100%;
        border-width: 1px;
      }
    }

    .sticky & {
      @include tablet {
        font-weight: 300;
        color: $dark-grey;
      }
    }
  }

  // Style for when link is active
  &.active a::after {
    background: $primary-color;
    border: $primary-color 1px solid;
    width: 100%;
  }

  // Align nav to edge of document margin for tablet and up
  &:last-child a {
    @include tablet {
      margin-right: 0;
    }
  }
}

////////////////////////////////////////////////////////////
//
// MOBILE NAVIGATION WRAPPER
//
////////////////////////////////////////////////////////////

#js-mobileNav {
  display: none;
  position: relative;
  -webkit-backface-visibility: none;
  -webkit-transform-style: preserve-3d;

  @include tablet {
    display: block;
  }

  &.active {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    animation: fadeIn 0.3s ease-in-out forwards;

    @include mobile_only {
      .home & {
        height: 100vh;

        .top-nav {
          left: 0;
          top: 10rem;
          transform: translateX(0) translateY(0);
        }
      }
    }

    & > main {
      z-index: -1;
    }
  }

  &.hiding {
    animation: fadeOut 0.3s ease-in-out !important;
    animation-fill-mode: forwards;
  }

  #js-mobileNav--button {
    background: none;
    color: $white;
    border: none;
    position: fixed;
    right: 1rem;
    top: 1rem;
    padding: 1rem;

    &:focus {
      outline: none;
    }

    .text {
      float: left;
      text-align: right;
      font-size: 1.25rem;
      font-weight: 100;
      text-transform: uppercase;
      padding: 1rem 1rem 0 0;
    }

    .close-icon {
      float: right;
      font-size: 2rem;
      border: $white 1px solid;
      padding: 0.5rem;
      border-radius: 50%;
    }

    @include tablet {
      display: none;
    }
  }
}

////////////////////////////////////////////////////////////
//
// MOBILE NAVIGATION BUTTON (FOR TOP BAR)
//
////////////////////////////////////////////////////////////

.main-nav-button {
  display: inline;
  line-height: 0;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  float: right;
  margin-top: 0.25rem;
  z-index: 1;

  &:focus {
    outline: none;
  }

  .glyphicon {
    margin: 0px;
  }

  .home & {
    color: $white;
  }

  .sticky & {
    color: $dark-grey;
  }

  @include tablet {
    display: none;
  }
}

.main-nav-button--text {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.main-nav-button--button {
  display: inline-block;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  padding: 1.25rem;
}

////////////////////////////////////////////////////////////
//
// CDS TOPBAR
//
////////////////////////////////////////////////////////////

.cds-menu.sticky {
  animation: menuDown 0.3s ease-in-out;
  background: rgba($white, 0.9);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .home & .topbar {
    position: relative;
    transform: translateX(0%);
    left: 0;
  }

  .topbar {
    @include tablet {
      padding: 0.5rem 1rem;
      margin: 0;
      width: 100%;
    }

    @include desktop {
      max-width: 1150px;
      margin: 0 auto;
    }
  }

  #js-mobileNav {
    @include desktop {
      margin-top: 1rem;
    }
  }

  // Adjust page banner margin to avoid page jumping
  & + .page-banner {
    margin-top: 7rem;

    @include tablet {
      margin-top: 10rem;
    }
    @include desktop {
      margin-top: 11rem;
    }
  }
}

// Animations
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none !important;
    opacity: 0;
  }
}

@keyframes menuDown {
  0% {
    top: -10rem;
  }
  100% {
    top: 0;
  }
}
