////////////////////////////////////////////////////
//
// FRONTPAGE 
//
////////////////////////////////////////////////////

.homepage--intro {
	text-align: center;

	.container {
		max-width: 80rem;
	}

	@include desktop { 
		padding: 8rem; 
	}

	.text {
		color: $black; 
		font-weight: 200; 
		font-size: 2.15rem; 
		line-height: 1.35em; 
		

		@include tablet {
			margin-top	: 0.5rem;
			font-size: 2.25rem; 
		}

		@include desktop {
			margin-top: 1.5rem;
			font-size	: 2.5rem;
			font-weight: 300;
			
		}
	}

	.lead {
		color: #6c6464; 
		font-size:2.5rem;

		@include tablet {
			font-size: 2.75rem;
		}

		@include desktop {
			font-size: 3.25rem;
		}
	}
	
}

.homepage--what-we-do {
	border-top	: $medium-grey 1px solid;
	text-align	: center;

	.icon-text {
		margin-top: 1.5rem;

		@include tablet 	{ margin-bottom	: 4rem; }
		@include desktop 	{ margin-top	: 1rem; }
	}

	h3 {
		
		font-weight : 100;
		line-height : 2.75rem;
		margin 		: 2rem 0;

		@include tablet {
			font-size	: 2.4rem;
			font-weight	: 300;
			line-height	: 3.2rem;
			margin-top	: 5rem;
		}
	}

	i {
		border 			: $primary-color 5px solid;
		border-radius	: 50%;
		font-size 		: 5.5rem;
		margin-bottom 	: 1rem;
		margin-top 		: 2rem;
		padding 		: 3rem;

		@include desktop {
			font-size 	: 7rem;
			padding 	: 3.5rem;
		}
	}

	.text { 
		font-size: 2.5rem;
		margin-top: 1.0rem;
	}
}

.homepage--intro-cds {

	.intro-video {
		margin-bottom: 1rem;

		@include tablet { margin-bottom: 3rem; }
	}
	
	.our-team {

		@include tablet { border-top: lighten($medium-grey, 3) 5px solid; }

		h3 {
			@include mobile_only {
				border-top: $medium-grey 1px solid;
				padding-top: 3rem;
			}
		}
	}
}

.homepage--our-team {
	//background 		: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba($black,0.85)), to(rgba($black,0.85))), url('/assets/img/cds/header-images/our-team.jpg') center center no-repeat, $dark-grey;
	//background 		: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba($black,0.85)), to(rgba($black,0.85))), url('/assets/img/cds/header-images/our-team.jpg') center center no-repeat, $dark-grey;
	background 		: url('/assets/img/cds/header-images/our-team.jpg') center center no-repeat;
	background-color: #0f0a08;
	background-size	: cover;
	color 			: $white;
	font-weight:100;
	text-align: center;

	@include tablet {
		padding 		: 5rem 0 3rem 0;
	}

	a:not([class]) {
		color: $primary-color !important;
		border-bottom: $primary-color 1px dotted;
		transition: all 0.3s ease-in-out;

		&:hover {
			border-bottom: $primary-color 1px solid;
		}
	}
}

.homepage--budget {
	@include desktop {
		padding: 8rem 0;
	}
	blockquote {
		padding: 2.5rem 3.5rem 3rem 3.5rem;
		margin: 0rem;
		border: 0;
		position: relative;

		@include tablet {
			padding: 3.5rem 4rem 3rem 4.5rem;
		}

		@include desktop {
			padding: 3.5rem 3rem 3rem 5.5rem;
		}

		p {
			font-size: 2rem;
			line-height: 1.75em;

			@include desktop {
				font-size: 2.5rem;
			}

		}

		& + p {
			padding-left: 3.5rem;

			@include desktop {
				padding-left: 5.5rem;
			}
		}
	}

	.quote-ico {
		position: absolute;
		font-size: 5rem;
		opacity: 0.15;
		text-shadow: 0 -1px 0 #000;
		color: #CCC;

		@include tablet {
			font-size: 7rem;
		}

		@include desktop {
			font-size: 8rem;
		}

		&.left {
			top: 0;
			left: 0;
		}

		&.right {
			display: none;

			@include tablet {
				display: block;
				bottom: 3rem;
			right: 0;
			}

			@include desktop {
				bottom: -2rem;
			}
			
		} 
	}


}

.homepage--engagement-report {
	background 		: url('/assets/img/cds/engagementReport-bk.jpg') center center no-repeat;
	background-size	: cover;
	background-color: #121519;
	color 			: $white;
	padding-top 	: 5rem;

	@include desktop {
		padding: 8rem 0;
	}

	.title {
		@include tablet {
			border-right 	: $white 1px solid;
			padding-right 	: 3rem;
			padding-top 	: 1.5rem;
			padding-bottom 	: 1.5rem;
			text-align 		: right;
		}

		@include desktop {
			padding-top: 2rem;
			padding-bottom: 5rem;
		}
	}

	.text {
		@include tablet {
			padding-left 	: 3rem;
			padding-top 	: 1rem;
		}

		@include desktop { padding-top: 3rem; }
	}

	.pretitle {
		background 		: rgba(0,0,0,0.95);
		display 		: inline-block;
		font-size 		: 1.25rem;
		font-weight 	: 300;
		padding 		: 0.5rem 1rem;
		margin-bottom 	: 1rem;

		@include tablet { margin-bottom: 1rem; }
	}

	h2 {
		font-size 	: 3.25rem;
		font-weight : 100;
		margin 		: 0.5rem 0 2rem 0;
	}

	.postitle {
		font-size 		: 2rem;
		font-weight 	: 300;
		margin-top 		: 1.5rem;
		margin-bottom 	: 2rem;

		@include tablet {
			margin-top 	: 5rem;
			font-weight : 100;
		}

		@include desktop { margin-left: 5rem; }
	}
}

.section--featured-blogposts {
	
	background 		: $bg-grey;
	padding-bottom 	: 4rem;



	.blog-posts {

		@include tablet { margin-bottom: 3rem; }

		.post {
			background 	: $white;
			box-shadow 	: 0 0 10px rgba(0,0,0,0.5);
			display 	: block;
			transition 	: all 0.3s ease-in-out;

			&:hover {
				box-shadow 	: 0 0 30px rgba(0,0,0,0.80);
				color 		: lighten($secondary-color, 10);
			}

			@include mobile_only {
				margin 		: 1.5rem auto;
				max-width 	: 30rem;
			}

			@include tablet {
				height 	: 25rem;
				margin 	: 1.5rem 0;
			}

			.image {
				background-position 	: center center;
				background-size 		: cover;
				display 				: block;
				height 					: 15rem;
			}

			.text { padding: 1.5rem; }

			.date {
				color 		: $dark-grey;
				font-size 	: 1rem;
				font-weight : 500;
			}

			h3 {
				font-weight 	: 500;
				font-size 		: 1.5rem;
				margin 			: 0;
				margin-top 		: 0.5rem;
			}
		}
	}
}

.section--contact {

	h2 {
		font-weight	: 100;

		@include mobile_only {
			text-align 		: center;
			margin-bottom 	: 4rem;
		}

		@include desktop {
			font-size: 3.5rem;
			margin-bottom: 1rem;
		}
	}

	.hiGraphic {
		background 		: url('/assets/img/cds/hi.png') no-repeat center center;
		background-size : contain;
		display 		: block;
		height 			: 42rem;
		width 			: 100%;
		opacity 		: 0.25;

		.fr & {
			background 	: url('/assets/img/cds/salut.png') no-repeat center center;
			background-size : contain;
		}
	}
}

////////////////////////////////////////////////////
//
// HOW WE WORK
//
////////////////////////////////////////////////////

////////////////////////////////////////////////////
//
// WORK WITH US
//
////////////////////////////////////////////////////

///// MODAL STYLES

.work-with-us--modal {

	.modal-header {
		color: $black;
		padding: 2rem;
		border: none;
		text-align: center;

		.cds-icon{
			i {
				border 			: $black 5px solid;
				border-radius	: 50%;
				font-size 		: 3.5rem;
				padding 		: 3rem;
				color: $black;
				background-color: $white;
				height: 10rem;
				width: 10rem;
				text-align: center;

				@include desktop {
					font-size 	: 5rem;
					padding 	: 2rem;
				}
			}

			@include desktop {
				text-align: right;
			}
		}

		.container {
			width: 90%;
			border: none;
			padding: 0rem;
		}
	}

	.modal-footer {
		border: none;

		.btn {
			background-color: $black;
			color: $white;
			border-color: $black;

			&:hover {
				border-color: $light-grey;
			}
		}
	}

	.container {
		width: 85%;
		border-bottom: $black 1px solid;
		border-top: $black 1px solid;
		padding-bottom: 3rem; 
		padding-top: 3rem;
	}

	.text { 
		font-size: 1.5rem;
		font-weight: 100;
		margin-bottom: 2rem;
		color: $black;
	}

	.number-icon {
		background-color: $white;
		border: $black 3px solid;
		border-radius: 50%;
		height: 4rem;
		width: 4rem;
		vertical-align: middle;
		display: table-cell;
		text-align: center;
		font-size: 2rem;
		color: $black;
		padding-top: 0.25rem;
		position: relative;
	}

	.fixed-height {
		height: 9rem;

		@include desktop {
			height: 7rem
		}

		@include tablet {
			height: 7rem;
		}
	}

	.number-icon:after{

		content: "";

		position: absolute;
		top: 100%;
		left: 48%;
		height: 9rem;

		@include desktop {
			height: 5rem;
		}

		@include tablet {
			height: 5rem;
		}

		border-left: $black 3px solid;

	}

	.number-icon-last {
		background-color: $white;
		border: $black 3px solid;
		border-radius: 50%;
		height: 4rem;
		width: 4rem;
		vertical-align: middle;
		display: table-cell;
		text-align: center;
		font-size: 2rem;
		color: $black;
		padding-top: 0.25rem;
	}

	.row {
		margin-bottom: 0rem;
	}


	h3 {
		
		font-weight : 130;
		line-height : 2.75rem;
		font-size 	: 3rem;
		padding: 1rem;
	}

	&.design-modal {

		.modal-header{
			background-color: #F0CB4E;
		}

		.modal-body {
			background-color: #F0CB4E;
		}

		.modal-footer {
			background: #F0CB4E !important; 
		}
	}

	&.developer-modal {

		.modal-header{
			background-color: #E99267;
		}

		.modal-body {
			background-color: #E99267;
		}

		.modal-footer {
			background: #E99267 !important; 
		}

	}

	&.data-modal {

		.modal-header{
			background-color: #E5817A;
		}

		.modal-body {
			background-color: #E5817A;
		}

		.modal-footer {
			background: #E5817A!important; 
		}

	}

	&.product-manager-modal {

		.modal-header{
			background-color: #B9A2CD;
		}

		.modal-body {
			background-color: #B9A2CD;
		}

		.modal-footer {
			background: #B9A2CD !important; 
		}

	}

	&.engagement-modal {

		.modal-header{
			background-color: #67B3CF;
		}

		.modal-body {
			background-color: #67B3CF;
		}

		.modal-footer {
			background: #67B3CF !important; 
		}

	}

	&.privacy-modal {

		.container {
			border: none;
		}

		.modal-header{
			background-color: #739FAF;
		}

		.modal-body {
			background-color: $white;
			color: $black;
		}

		.modal-footer {
			background: #739FAF !important; 
		}
	}

}

.work-with-us--intro {
	text-align	: center;

	.container {
		max-width: 80rem;
	}

	.text { 
		font-size: 2.5rem;
		margin-top: 1.0rem;
	}
}

.work-with-us--details {
	text-align	: center;
	border-top	: $medium-grey 1px solid;

	.container {
		max-width: 80rem;
	}

	@include desktop { 
		padding-top: 3.0rem; 
	}

	.text { 
		font-size: 2.5rem;
		margin-top: 1.0rem;
	}
}

.work-with-us--looking-for {
	//background 		: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba($black,0.85)), to(rgba($black,0.85))), url('/assets/img/cds/header-images/our-team.jpg') center center no-repeat, $dark-grey;
	//background 		: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba($black,0.85)), to(rgba($black,0.85))), url('/assets/img/cds/header-images/our-team.jpg') center center no-repeat, $dark-grey;
	background 		: url('/assets/img/cds/header-images/looking-for.jpg') center center no-repeat;
	background-color: #0f0a08;
	background-size	: cover;
	color 			: $white;
	font-weight:100;
	text-align: center;

	.container {
		max-width: 100rem;
	}

	@include desktop {
		background-attachment: fixed;
	}

	@include tablet {
		padding 		: 5rem 0 3rem 0;
	}

	.custom-icon {

		border 			: $primary-color 5px solid;
		border-radius	: 50%;
		height: 10rem;
		width: 10rem;
		padding 		: 2rem;
		color: $black;
		background-color: $white;
		margin: 0 auto;

		@include desktop {
			height: 15rem;
			width: 15rem;
		}

	}

	.text { 
		margin-top: 2.0rem;
		margin-bottom: 2.0rem;
	}


}

.work-with-us--streams {
	text-align: center;
	width: 100%;
	margin-top:0rem;
	padding: 0rem;

	.button {
		background-color: $black;
		color: $white;
		border-color: $black;

		&:hover {
			border-color: $light-grey;
		}
	}

	.stream {
	
		&.design-stream {
			background-color: #F0CB4E;
		}

		&.developer-stream {
			background-color: #E99267;
		}

		&.data-stream {
			background-color: #E5817A;
		}

		&.product-manager-stream {
			background-color: #B9A2CD;
		}

		&.engagement-stream {
			background-color: #67B3CF;
		}

		&.how-to-apply {
			background-color: #739FAF;

			input, textarea, select {
				width: 100%;
			}
		}

	}

	.container {
		width: 100%;

		&.stream-content {
			width: 90%;
			border-top: $dark-grey 1px solid;
			border-bottom: $dark-grey 1px solid;
			margin: 0 auto;
			padding-top: 2rem; 
			font-weight: 100;

			@include desktop {
				width: 80%;
				padding-top: 4rem;
				padding-bottom: 4rem;
			}
		}

		&.button-container {
			margin-top: 3rem;
		}

	}

	.cds-icon{
		i {
			border 			: $black 5px solid;
			border-radius	: 50%;
			font-size 		: 3.5rem;
			padding 		: 3rem;
			color: $black;
			background-color: $white;
			height: 10rem;
			width: 10rem;
			text-align: center;

			@include desktop {
				font-size 	: 5rem;
				padding 	: 2rem;
			}
		}

		@include desktop {
			text-align: right;
		}
	}

	.fixed-height {
		min-height: 40rem;

		@include tablet {
			min-height: 30rem;
		}

		@include desktop {
			min-height: 30rem !important; 
		}

	}

	.custom-icon {
		border 			: $black 5px solid;
		border-radius	: 50%;
		padding 		: 1.5rem;
		color: $black;
		background-color: $white;
		height: 10rem;
		width: 10rem;
		margin: 0 auto;

		&.stream-header {
			@include desktop {
				float: right;
			}
		}

		@media print {
			display: none;
		}
	}

	.icon-text {
		margin-top: 1.5rem;

		@include tablet 	{ margin-bottom	: 4rem; }
		@include desktop 	{ margin-top	: 1rem; }
	}


	details {
		border: none;
		color: $black;
		margin-bottom: 0rem;
	} 

	%header-icon-block {
		height: 10rem;
		width: 10rem;
		border-radius: 50%;
		border: $black 5px solid;
		background-size: 5rem;
		content: "";
		display: block;
		margin: 0 auto;
		transition: all 0.3s ease-in-out;
		

		@include desktop {
			display: block;
			position: relative;
			float: left;
			top: 1rem;
		}
	}

	details summary {
		@extend details;
		text-decoration: none;
		outline: none;
		width: 75%;
		height: 20rem;
		margin: 0 auto;
		list-style-type: none !important;

		@include desktop {
			height: 15rem;
		}


		&.design-header::before {
			@extend %header-icon-block; 
			background: $white url('/assets/img/icons/Design1.svg') no-repeat center;
			background-size: 5rem;
		}

		&.developer-header::before {
			@extend %header-icon-block; 
			background: $white url('/assets/img/icons/Dev1.svg') no-repeat center;
			background-size: 5rem;
		}

		&.data-header::before {
			@extend %header-icon-block; 
			background: $white url('/assets/img/icons/Data1.svg') no-repeat center;
			background-size: 5rem;
		}

		&.product-header::before {
			@extend %header-icon-block; 
			background: $white url('/assets/img/icons/Prod1.svg') no-repeat center;
			background-size: 5rem;
		}

		&.engagement-header::before {
			@extend %header-icon-block; 
			background: $white url('/assets/img/icons/Engagement1.svg') no-repeat center;
			background-size: 5rem;
		}

		&.how-to-apply-header::before {
			@extend %header-icon-block;
			background: $white url('/assets/img/icons/np_question.svg') no-repeat center;
			background-size: 5rem;
		}

		&:hover {
			color: $white;
		}

		&:focus {
			@extend :hover;
		}

		&::after {
			content: "\25BA\a0";
			display: block;
			margin: 0 auto;
			padding-bottom: 2rem;
			transition: all 0.3s ease-in-out;

			@include desktop {
				float: right;
				position: relative;
				top: 5.75rem;
				left: -5rem;
			}
		}

		&::-webkit-details-marker {
			display: none;
		}

		h3 {
			font-weight : 130;
			font-size 	: 3rem;
			display: block;
			line-height: 6rem;
			margin: 0 auto;
			transition: all 0.3s ease-in-out;


			@include desktop {
				display: inline-block;
				position: relative;
				line-height: 3rem;
				top: 5rem;
				right: 5rem;
			}
		}
	}

	details[open] > summary {

		&:hover {
			h3 {
				color: $black;
			}
		}

		&:focus {
			@extend :hover;
		}

		&::after {
			content: "\25BC\a0";
			display: block;
			margin: 0 auto;
			color: $black;

			@include desktop {
				position: relative;
				top: 5.75rem;
				float: right;
				left: -5rem;
			}
		}

	}

	.text { 
		font-size: 1.5rem;
		margin-top: 2.0rem;
		margin-bottom: 4.0rem;
	}

	.checkbox {
		text-align: left;
	}
}


////////////////////////////////////////////////////
//
// OUR TEAM 
//
////////////////////////////////////////////////////


////////////////////////////////////////////////////
//
// BLOG LISTING
//
////////////////////////////////////////////////////

.blogpost-list {
	margin: 0;
	padding: 0;
	list-style: none;

	.post {
		padding: 4rem 0;
		border-bottom: #CCC 1px solid;


		@include tablet {
			padding: 4rem 2rem;
		}
	}

	.date {
		border-left: $primary-color 5px solid;
		padding-left: 1rem;
		font-size: 1.5rem;
		margin: 0.5rem 0 1rem 0;

		@include tablet {
			font-size: 1.75rem;
			font-weight:500;
		}
	}

	.author {
		margin: 2rem 0;
		font-weight:500;
	}

	.photo {
		display: block;
		height: 15rem;
		width: 100%;
		background-size: cover;
		background-position: center center;

		@include tablet {
			margin-top: 1rem;
		}

		@include desktop {
			height: 20rem;
		}
	}

	h2 {
		margin-top: 1.5rem;
	}

	.text {
		font-size: 2rem;
		font-weight: 100;
		line-height:1.6em;

		@include desktop {
			font-size: 2.25rem;
		}
	}

	.readmore {
		margin-top: 2rem;

		a {
			//border: $secondary-color 1px solid;
			display: inline-block;
			//padding: 0.5rem 1.5rem;
			//font-size: 1.5rem;
			//border-radius: 1rem;
		}
	}
}

article.post {
	padding: 2rem 0;
	.post-header {
		font-weight: 500;
		font-size: 1.5rem;
		margin: 1rem 0 2rem 0;

		time {
			display: block;
			font-weight: 500;
			
		}

		.author {
			display: block;
			font-weight: 500;

		}
	}
}

////////////////////////////////////////////////////
//
// CONTACT
//
////////////////////////////////////////////////////

.section--contact {
	.contact-info {
		@include mobile_only {
			max-width: 35rem;
			margin: 0 auto;
		}
	}
	
}

.section--mailing-list {
	background 		: $bg-grey;

	&.no-bg {
		background: none;
		border-top: $medium-grey 4px solid;
	}
	p {text-align:center;}
}
#mc_embed_signup {

	

	.email {
		margin: 0 auto;
		width: 90%;
		max-width: 45rem;
		border-radius: 0;
		border: $primary-color 2px solid;
		// padding: 2rem 1rem;
		height: 42px;
		font-weight: 100;
		font-size: 2rem;

		&::placeholder {
			font-weight: 100;
			font-style: italic;
			color: #BBB !important;
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}
	}

	label[for="mce-EMAIL"] {
		display: block !important;
		width: 100%;
	}

	.label-text {
		display: none;
	}

	.submit-button-container {
		text-align: center;
		margin-top: 2.5rem;
	}
	.mce-submit-button {
		background: $primary-color;
		color: $secondary-color;
	}

	.mce-privacy {
		font-size: 1.5rem;
		text-align: center;
		font-weight: 100;
		margin-top: 1rem;


	}
}

// TODO - update general CSS for the main content section
// and create specialized H3's etc. where needed.

.page-legal {
	h2 {
		font-weight: 500;

		@include desktop {
			font-size: 2.9rem;
			margin: 4.75rem 0 1rem 0;
		}
	}

	h3 {
		font-weight: 500;

		@include desktop {
			font-size: 2.45rem;
			margin: 3.0rem 0 1.5rem 0;
		}
	}

	p + ul {
		margin-top: 0.5em;
	}
}