/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
    *,
    *:before,
    *:after {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    blockquote {
        page-break-inside: avoid;
        margin-left: 2em;
        border: none;
        font-size: 18px;
    }

    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    .navbar {
        display: none;
    }
    .btn > .caret,
    .dropup > .btn > .caret {
        border-top-color: #000 !important;
    }
    .label {
        border: 1px solid #000;
    }
    .table {
        border-collapse: collapse !important;
    }
    .table td,
    .table th {
        background-color: #fff !important;
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ddd !important;
    }

    /* Additional print fixes */

    body {
        /*padding: 0 5em;*/
        font-size: 18px;
        line-height: 1.5;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    p {
        margin: 0 0 1.1em;
    }

    ul {
        margin: 0 0 1.6em;
    }

    p em.caption {
        margin: 0.3em 0;
        display: block;
    }

    .engagement-report-section {
        margin: 0 4em;

        li + li,
        li ul:first-child  { margin-top: 1.1em; }


    }

    a.toplink {
        display:none!important;
    }

    .comment-panel {

        page-break-inside: avoid;

        border: 5px solid #1d344b;
        margin: 1.8em 0em;
        padding: 1.8em 2.8em;

        p:last-child {
            margin: 0;
        }

        background: transparent;

        &.section--intro {
            border-color: #1d344b;
            background: transparent !important;
        }
        &.section--engagement {
            border-color: $engagement-color;
            background: transparent !important;
        }
        &.section--organizing {
            border-color: $organizing-color;
            background: transparent !important;
        }
        &.section--talent {
            border-color: $talent-color;
            background: transparent !important;
        }
        &.section--design {
            border-color: $design-color;
            background: transparent !important;
        }
        &.section--foundations {
            border-color: $foundations-color;
            background: transparent !important;
        }
        &.section--your-thoughts {
            border-color: $yourthoughts-color;
            background: transparent !important;
        }
    }

    .heading-container {

        page-break-after: avoid;

        margin: 2em 1em;

        .title {
            font-size: 40px;
        }

        .subtitle {
            font-size: 30px;
        }


        h2 {
            font-size: 36px;

            border-bottom: 4px solid #1d344b;

            /* Previous margin-bottom was 11.5px */
            margin-bottom: 9px;
            padding-bottom: 7px;

        }

        /* H2 border colours */
        &.section--engagement {
            h2 {
                border-color: $engagement-color;
            }
        }
        &.section--organizing {
            h2 {
                border-color: $organizing-color;
            }
        }
        &.section--talent {
            h2 {
                border-color: $talent-color;
            }
        }
        &.section--design {
            h2 {
                border-color: $design-color;
            }
        }
        &.section--foundations {
            h2 {
                border-color: $foundations-color;
            }
        }
        &.section--your-thoughts {
            h2 {
                border-color: $yourthoughts-color;
            } 
        }
    }


}