node_modules/*
static/admin/bundle.js
public/*
resources/*
.DS_Store
deploy.md
Dockerfile
backstop_data/html_report/
bitmaps_test/
**/.terragrunt-cache
# Specifically include these files
!.devcontainer/Dockerfile
