---
layout: cds/home
title: 'Accueil'
lang: fr
ref: home
description: "Les gens s’attendent à ce que les services gouvernementaux soient simples et faciles à utiliser. Le Service numérique canadien (SNC) regroupe les compétences et l’expertise nécessaires pour aider le gouvernement à concevoir et élaborer de meilleurs services."
trans_url: '/'
permalink: '/'
---

<div class="container">
	<section class="section homepage--intro page-intro--outer-container-padding">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-xs-12">
					<p class="lead"><a id="mission"></a>Le gouvernement du Canada doit adopter de nouveaux outils et de nouvelles méthodes en vue d’améliorer la façon dont il conçoit, élabore et offre ses services.</p>
					<p class="text">Le Service numérique canadien (SNC) regroupe les compétences et l’expertise nécessaires pour accélérer ce changement.</p>
				</div>
			</div>
	</section>
</div>

<div class="container">
	<section class="section homepage--what-we-do page-wide--outer-container-padding">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-xs-12">
				<h2 class="section--title">Ce que nous faisons</h2>
				<p>Le SNC se concentre sur la prestation : aider le gouvernement à concevoir et élaborer de meilleurs services.</p>
				<h3>Nous collaborons afin de...</h3>
				
				<div class="row icon-text-list">
					<div class="col-xs-12 col-sm-4 icon-text">
						<div class="cds-icon"><i class="fa fa-code" aria-hidden="true"></i></div>
						<div class="text">fournir des solutions</div>
					</div>
					
					<div class="col-xs-12 col-sm-4 icon-text">
						<div class="cds-icon"><i class="fa fa-cogs" aria-hidden="true"></i></div>
						<div class="text">créer la capacité</div>
					</div>
					
					<div class="col-xs-12 col-sm-4 icon-text">
						<div class="cds-icon"><i class="fa fa-comments-o" aria-hidden="true"></i></div>
						<div class="text">donner des conseils</div>
					</div>
				</div>
				
				<p>Nous sommes agiles et fonctionnons en nous fondant sur la rétroaction des utilisateurs. Nous apprenons par l’action et nous travaillons ouvertement.</p>
				
				<a href="/ce-que-nous-faisons" class="button">En savoir plus sur la façon dont nous travaillons</a>
			
			</div>
		</div>
	</section>
</div>

<section class="section section--featured-video">
    <div class="container video-container">
	    <div class="row">
		    <div class="col-md-10 col-md-offset-1">
			    <div class="embed-responsive embed-responsive-16by9">
				    <iframe src="https://www.youtube.com/embed/oX1d4FERTP8" title="Canadian Digital Service Video" allowfullscreen></iframe>
			    </div>
			    <div>
				    <a href="#video-transcript" title="Transcription" class="button small outline dark wb-lbx lbx-modal">Transcription</a>
			    </div>
			    
			    <section id="video-transcript" class="mfp-hide modal-dialog modal-content overlay-def">
				    <header class="modal-header">
					    <h2 class="modal-title">Transcription</h2>
				    </header>
				    
				    <div class="modal-body">
					    
					    <p>Le numérique ne concerne pas simplement l’élaboration d’applications ou l’utilisation des dernières technologies.</p>
					    
					    <p>Il s’agit de mettre les gens au premier plan, en concevant des services qui sont axés sur les besoins des utilisateurs.</p>
					    
					    <p>Nous travaillons pour rendre l’accès aux services gouvernementaux en ligne plus rapide, plus simple et plus facile.</p>
					    
					    <p>Nous regroupons les meilleurs talents du gouvernement et de l’extérieur qui comprennent les développeurs, les concepteurs, les scientifiques de données et les chercheurs en expérience utilisateur.</p>
					    
					    <p>Nous collaborons avec les ministères pour régler les problèmes, en vue d’améliorer les services.</p>
					    
					    <p>Nous travaillons ouvertement, à l’aide des méthodes agiles et d’une itération constante, tout en nous concentrant inlassablement sur les besoins des utilisateurs.</p>
					    
					    <p>La vocation du SNC ne tourne pas autour des technologies de l’information, mais autour des services.</p>
					    
					    <p>Des services gouvernementaux axés sur l’utilisateur. Il s’agit de reconnaître que les services doivent être au cœur de nos priorités gouvernementales.</p>
					    
					    <p>Notre pertinence au yeux des citoyens est en péril si nous ne pouvons pas fournir des services numériques de classe mondiale.</p>
					    
					    <p>Nous apprenons des manœuvres numériques des gouvernements dans le monde entier, et travaillons avec la collectivité numérique partout au Canada, pour façonner un service numérique canadien.</p>
					    
					    <p>Ensemble, nous pouvons offrir des services de classe mondiale simples et faciles à utiliser. C'est ce que les Canadiens souhaitent. Ouverts, agiles et axés sur les résultats. Nous sommes le Service numérique canadien.</p>
				    </div>
			    </section>
		    </div>
	    </div>
	</div>
</section>

<section class="section homepage--our-team">
	<div class="page-banner--scrim"></div>
	<div class="container page-wide--outer-container-padding">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-xs-12">
				<h2 class="section--title">Notre équipe</h2>

                <p>Nous formons une équipe avec des compétences et des parcours divers, et nous recrutons! <a
                        href="/notre-equipe">Apprenez-en davantage</a> au sujet des concepteurs, des développeurs, des
                    chercheurs en expérience utilisateur, des pirates en politique stratégique, des spécialistes de
                    données et des communicateurs qui forment le SNC.</p>

                <p class="homepage--our-team--buttons">
                    <a href="/notre-equipe" class="button yellow">En savoir plus sur notre équipe</a>
                    <a href="/travaillez-avec-nous" class="button yellow">Se joindre à notre équipe</a>
                </p>
            </div>
         </div>
	</div>
</section>

<div class="container">
	<section class="section homepage--budget">
	    <div class="row">
		    <div class="col-sm-10 col-xs-12">
		    <blockquote>
			    <i class="fa fa-quote-left quote-ico left" aria-hidden="true"></i>
			    <i class="fa fa-quote-right quote-ico right" aria-hidden="true"></i>
			    <p>S’appuyant sur des initiatives semblables aux États-Unis (le U.S. Digital Service/18F) et au Royaume-Uni
				 (le Government Digital Service), le gouvernement adoptera de nouvelles façons d’offrir des services aux
				 Canadiens. Une utilisation plus judicieuse des technologies numériques pourrait améliorer la façon dont
				 les entreprises accèdent aux services du gouvernement, accélérer les délais de traitement en matière
				 d’immigration grâce à une meilleure intégration des renseignements ou permettre aux Canadiens d’accéder
				 plus facilement à l’information en ligne sur l’impôt ou les prestations.</p>
			    </blockquote>
			    <p>&mdash; <a href="http://www.budget.gc.ca/2017/docs/plan/chap-01-fr.html#Toc477718113">Budget de 2017</a></p>
		    </div>
	    </div>
	</section>
</div>
<section class="section homepage--engagement-report">
    <div class="page-banner--scrim"></div>
    <div class="container">
	    <div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-xs-12">
				<div class="row">
					<div class="col-xs-12 col-sm-5 title">
						<div class="pretitle">Rapport d’engagement</div>
						<h2>Le commencement de la conversation</h2>
						<div class="postitle">Une approche canadienne en matière de gouvernement numérique</div>
					</div>
					<div class="col-md-6 col-xs-12 col-sm-7 text">
						<p>Au cours de la dernière année, nous avons rencontré des gens de partout au Canada, y compris de
						nouvelles entreprises, des organisations de technologie civile, des universités, des administrations
						municipales et des gouvernements provinciaux. Nous apprécions tous les commentaires alors que nous
						poursuivons notre parcours numérique ici au Canada.</p>
						<a href="/commencement-de-la-conversation" class="button">Lire le rapport d'engagement</a>
					</div>
				</div>
		    </div>
	    </div>
	</div>
</section>

<section class="section section--featured-blogposts">
    <div class="container">
        <h2 class="section--title">Les billets de blogue récents</h2>


        {% assign posts=site.posts | where:"lang", page.lang %}


        <div class="row blog-posts">

            {% for post in posts limit:4 %}
            <div class="col-xs-12 col-sm-4 col-md-3">
                <a class="post" href="{{ post.url | relative_url }}">
                    <div class="image" style="background-image:url('/assets/img/cds/post-images/{{ post.image }}')"></div>
                    <div class="text">
                        <div class="date">
                            {% assign m = post.date | date: "%-m" %}
                            {{ post.date | date: "%-d" }}
                            {% case m %}
                                {% when '1' %}janvier
                                {% when '2' %}février
                                {% when '3' %}mars
                                {% when '4' %}avril
                                {% when '5' %}mai
                                {% when '6' %}juin
                                {% when '7' %}juillet
                                {% when '8' %}août
                                {% when '9' %}septembre
                                {% when '10' %}octobre
                                {% when '11' %}novembre
                                {% when '12' %}décembre
                            {% endcase %}
                            {{ post.date | date: "%Y" }}
                        </div>
                        <h3>{{ post.title }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>

        <div class="button-center">
            <a href="/blogue" class="button">Plus de publications sur le blogue</a>
        </div>
    </div>
</section>

<section class="section section--contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 hidden-xs">
                <div class="hiGraphic"></div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>Communiquez avec nous!</h2>

                {% include cds/contact-info.html %}
            </div>
        </div>
    </div>
</section>

<section class="section section--mailing-list">
    {% include cds/{{ page.lang }}/mailing-list.html %}
</section>
