---
layout: cds/default
title: 'Home'
lang: en
ref: home
description: "People expect government services to be simple and easy to use. The Canadian Digital Service (CDS) is bringing together the skills and expertise needed to help government design and build better services."
trans_url: '/'
---

<section class="section homepage--intro">
    <div class="container">

        <p class="lead">The Government of Canada must embrace new methods and tools to improve how it designs, builds,
            and delivers services.</p>
        <p class="text">The Canadian Digital Service (CDS) is bringing together the skills and expertise needed to
            accelerate this change.</p>
    </div>
</section>

<section class="section homepage--what-we-do">
    <div class="container">

        <h2 class="section--title">What We Do</h2>
        <p>We are focused on delivery: helping government design and build better services.</p>
        <h3>We are partnering to...</h3>
        <div class="row icon-text-list">
            <div class="col-xs-12 col-sm-4 icon-text">
                <div class="cds-icon"><i class="fa fa-code" aria-hidden="true"></i></div>
                <div class="text">deliver solutions</div>
            </div>
            <div class="col-xs-12 col-sm-4 icon-text">
                <div class="cds-icon"><i class="fa fa-cogs" aria-hidden="true"></i></div>
                <div class="text">build capacity</div>
            </div>
            <div class="col-xs-12 col-sm-4 icon-text">
                <div class="cds-icon"><i class="fa fa-comments-o" aria-hidden="true"></i></div>
                <div class="text">provide advice</div>
            </div>
        </div>

        <p>We are agile and iterate based on user feedback. We learn by doing.</p>

        <a href="/how-we-work" class="button">Learn more about how we work</a>
    </div>
</section>

<section class="section homepage--our-team">
    <div class="page-banner--scrim"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section--title">Our Team</h2>

                <p>We are a building a team with diverse skills and backgrounds, and we’re recruiting! <a
                        href="/our-team" aria-label="Learn more about our team">Learn more</a> about the designers, developers, UX researchers, policy hackers,
                    data specialists, and communicators who make up CDS.</p>
                <p><a href="/our-team" class="button yellow">Meet our team</a></p>
            </div>
        </div>
    </div>
</section>

<section class="section homepage--budget">
    <div class="container">
        <blockquote>
            <i class="fa fa-quote-left quote-ico left" aria-hidden="true"></i>
            <i class="fa fa-quote-right quote-ico right" aria-hidden="true"></i>
            <p>Informed by similar initiatives in the U.S. (the U.S. Digital Service/18F) and the United Kingdom (the
                Government Digital Service), the Government will adopt new ways of serving Canadians. Better use of
                digital technologies could improve the ways in which businesses can access government services, speed up
                immigration processing times through better-integrated information, or make it easier for Canadians to
                access benefits or tax information online.</p>
        </blockquote>
        <p>&mdash; <a href="http://www.budget.gc.ca/2017/docs/plan/chap-01-en.html#Toc477707371" aria-label="Link to Budget 2017">Budget 2017</a></p>
    </div>
</section>

<section class="section homepage--engagement-report">
    <div class="page-banner--scrim"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 title">
                <div class="pretitle">Engagement Report</div>
                <h2>Beginning the Conversation</h2>
                <div class="postitle">A Made-in-Canada Approach to Digital government</div>
            </div>
            <div class="col-xs-12 col-sm-8 text">
                <p>Over the past year, we met with people from coast to coast to coast, including from start-ups, civic
                    tech organizations, academia, and municipal and provincial governments. We welcome your feedback as
                    we continue our digital journey here in Canada. </p>
                <a href="/beginning-the-conversation" class="button">Read the Engagement Report</a>
            </div>
        </div>
    </div>
</section>

<section class="section section--featured-blogposts">
    <div class="container">
        <h2 class="section--title">Featured Blog Posts</h2>

        {% assign posts=site.posts | where:"lang",page.lang %}

        <div class="row blog-posts">

            {% for post in posts %}
            <div class="col-xs-12 col-sm-4 col-md-3" style="margin: 0 auto; float:none;">
                <a class="post" href="{{ post.url | relative_url }}">
                    <div class="image" style="background-image:url('/assets/post-images/{{ post.image }}')"></div>
                    <div class="text">
                        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                        <div class="date">{{ post.date | date: date_format }}</div>
                        <h3>{{ post.title | escape }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="button-center">
            <a href="/blog" class="button">More blog posts</a>
        </div>
    </div>
</section>

<section class="section section--contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 hidden-xs">
                <div class="hiGraphic"></div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>Connect with us!</h2>
                {% include cds/contact-info.html %}
            </div>
        </div>
    </div>
</section>

<section class="section section--mailing-list">
    {% include cds/mailing-list.html %}
</section>
