---
layout: cds/default
title: 'Home'
lang: en
ref: home
description: "People expect government services to be simple and easy to use. The Canadian Digital Service (CDS) is bringing together the skills and expertise needed to help government design and build better services."
trans_url: '/'
---

<section class="section homepage--intro">
    <div class="container">

        <p class="lead">The Government of Canada must embrace new methods and tools to improve how it designs, builds,
            and delivers services.</p>
        <p class="text">The Canadian Digital Service (CDS) is bringing together the skills and expertise needed to
            accelerate this change.</p>
    </div>
</section>

<section class="section homepage--what-we-do">
    <div class="container">

        <h2 class="section--title">What We Do</h2>
        <p>We are focused on delivery: helping government design and build better services.</p>
        <h3>We are partnering to...</h3>
        <div class="row icon-text-list">
            <div class="col-xs-12 col-sm-4 icon-text">
                <div class="cds-icon"><i class="fa fa-code" aria-hidden="true"></i></div>
                <div class="text">deliver solutions</div>
            </div>
            <div class="col-xs-12 col-sm-4 icon-text">
                <div class="cds-icon"><i class="fa fa-cogs" aria-hidden="true"></i></div>
                <div class="text">build capacity</div>
            </div>
            <div class="col-xs-12 col-sm-4 icon-text">
                <div class="cds-icon"><i class="fa fa-comments-o" aria-hidden="true"></i></div>
                <div class="text">provide advice</div>
            </div>
        </div>

        <p>We are agile and iterate based on user feedback. We learn by doing.</p>

        <a href="/how-we-work" class="button">Learn more about how we work</a>
    </div>
</section>

<section class="section section--featured-video">
    <div class="container video-container">

        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/P_gjvWksYaA" title="Canadian Digital Service Video" allowfullscreen></iframe>
        </div>

        <div>
            <a href="#video-transcript" title="Video Transcript" class="button small outline dark wb-lbx lbx-modal">Transcript</a>
        </div>

        <section id="video-transcript" class="mfp-hide modal-dialog modal-content overlay-def">
            <header class="modal-header">
                <h2 class="modal-title">Transcript</h2>
            </header>
            <div class="modal-body">
                <p>Digital isn't just about building apps, or using the latest technology. It's about putting people first, by designing services that are focused on what users need.</p>
                
                <p>We're about making it faster, simpler, and easier, to access government services online.</p>
                
                <p>We are bringing together top talent from inside and outside of government that includes developers, designers, data scientists and user experience researchers. We're partnering with departments to solve problems, in order to make services better.</p>
                
                <p>We're working in the open, using agile methods and constantly iterating, while relentlessly focusing on user needs.</p>
                
                <p>CDS is not about IT. It's about service. User centric government services. It's about recognizing services need to be at the centre of our priorities as a government. Our relevance to citizens is in jeopardy if we can't deliver digital services.</p>
                
                <p>We are learning from digital government movements across the globe, and working with the digital community across Canada, to shape a Canadian Digital Service.</p>
                
                <p>Together, we can deliver world-class services that are simple and easy to use. It's what Canadians expect. Open. Agile. And focused on delivery. We are the Canadian Digital Service.</p>
            </div>
        </section>

    </div>
</section>

<section class="section homepage--our-team">
    <div class="page-banner--scrim"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section--title">Our Team</h2>

                <p>We are a building a team with diverse skills and backgrounds, and we’re recruiting! <a
                        href="/our-team">Learn more<span class="sr-only"> about our team:</span></a> about the designers, developers, UX researchers, policy hackers,
                    data specialists, and communicators who make up CDS.</p>
                <p><a href="/our-team" class="button yellow">Meet our team</a></p>
            </div>
        </div>
    </div>
</section>

<section class="section homepage--budget">
    <div class="container">
        <blockquote>
            <i class="fa fa-quote-left quote-ico left" aria-hidden="true"></i>
            <i class="fa fa-quote-right quote-ico right" aria-hidden="true"></i>
            <p>Informed by similar initiatives in the U.S. (the U.S. Digital Service/18F) and the United Kingdom (the
                Government Digital Service), the Government will adopt new ways of serving Canadians. Better use of
                digital technologies could improve the ways in which businesses can access government services, speed up
                immigration processing times through better-integrated information, or make it easier for Canadians to
                access benefits or tax information online.</p>
        </blockquote>
        <p>&mdash; <a href="http://www.budget.gc.ca/2017/docs/plan/chap-01-en.html#Toc477707371" aria-label="Link to Budget 2017">Budget 2017</a></p>
    </div>
</section>

<section class="section homepage--engagement-report">
    <div class="page-banner--scrim"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 title">
                <div class="pretitle">Engagement Report</div>
                <h2>Beginning the Conversation</h2>
                <div class="postitle">A Made-in-Canada Approach to Digital government</div>
            </div>
            <div class="col-xs-12 col-sm-8 text">
                <p>Over the past year, we met with people from coast to coast to coast, including from start-ups, civic
                    tech organizations, academia, and municipal and provincial governments. We welcome your feedback as
                    we continue our digital journey here in Canada. </p>
                <a href="/beginning-the-conversation" class="button">Read the Engagement Report</a>
            </div>
        </div>
    </div>
</section>


<section class="section section--featured-blogposts">
    <div class="container">
        <h2 class="section--title">Featured Blog Posts</h2>

        {% assign posts=site.posts limit:4 | where:"lang", page.lang %}

        <div class="row blog-posts">

            {% for post in posts %}
            <div class="col-xs-12 col-sm-4 col-md-3">
                <a class="post" href="{{ post.url | relative_url }}">
                    <div class="image" style="background-image:url('/assets/img/cds/post-images/{{ post.image }}')"></div>
                    <div class="text">
                        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                        <div class="date">{{ post.date | date: date_format }}</div>
                        <h3>{{ post.title | escape }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="button-center">
            <a href="/blog" class="button">More blog posts</a>
        </div>
    </div>
</section>

<section class="section section--contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 hidden-xs">
                <div class="hiGraphic"></div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2>Connect with us!</h2>
                {% include cds/contact-info.html %}
            </div>
        </div>
    </div>
</section>

<section class="section section--mailing-list">
    <h2 class="section--title">Join our mailing list!</h2>
    <div class="container">
        <p>Sign up to our mailing list for information on recruitment, project updates, and new posts from the CDS blog.</p>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
            <form action="//canada.us15.list-manage.com/subscribe/post?u=729a207773f7324e217a1d945&amp;id=eb357181d2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                <div id="mc_embed_signup_scroll">

                    <div class="mc-field-group form-group">
                        <label class="wb-inv" for="mce-EMAIL">Email Address </label>
                        <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email Address">
                    </div>

                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <label><span style="display:none">hidden</span>
                            <input aria-hidden="true" type="text" name="b_729a207773f7324e217a1d945_eb357181d2" tabindex="-1" value="">
                        </label>
                    </div>

                    <div class="submit-button-container">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn mce-submit-button">
                    </div>

                    <div class="mce-privacy" style="padding-top: 9px;">
                        <a href="#privacy-notice-modal" aria-controls="privacy-notice-modal" class="overlay-lnk light-link wb-lbx" aria-label="Privacy Statement Link">Privacy Notice</a>
                    </div>

                </div>
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div>

    <section class="mfp-hide modal-dialog modal-content overlay-def" id="privacy-notice-modal">
        <header class="modal-header">
            <h2 class="modal-title">Privacy Notice</h2>
        </header>
        <div class="modal-body">
            <p>Our newsletter feature uses <a href="https://mailchimp.com/">Mailchimp</a>, a third-party application. Sign-up is voluntary and subject to the <a href="https://mailchimp.com/legal/terms/">Terms of Use</a> for the Mailchimp platform.  When you sign up, your email address and language preference (English or French) is collected. No other personal information is collected.</p>

            <p>The collection and use of your personal information is authorized by the <em>Financial Administration Act</em>. Collection and use of your personal information for this site is in accordance with the federal <em>Privacy Act</em>. Your personal information may be used to respond to your inquiries, if applicable, and to help evaluate the effectiveness of Treasury Board of Canada Secretariat (TBS) programs in responding to client needs. In exceptional circumstances (e.g., individuals who make inappropriate remarks or threats), personal information may be disclosed without your consent pursuant to subsection 8(2) of the <em>Privacy Act</em>.</p>

            <p>Any personal information that may be collected is described in the Standard Personal Information Bank entitled <a href="http://www.infosource.gc.ca/emp/emp03-eng.asp#psu938">Outreach Activities, PSU 938</a>, which can be found in the TBS webpage <a href="https://www.canada.ca/en/treasury-board-secretariat/services/access-information-privacy/access-information/information-about-programs-information-holdings.html">Information about programs and information holdings</a>.</p>

            <p>Any questions, comments, concerns or complaints you may have regarding this Statement, your privacy rights and the Privacy Act may be directed to the TBS Access to Information and Privacy Coordinator by email at <a href="mailto:ATIP.AIPRP@TBS-SCT.gc.ca">ATIP.AIPRP@tbs-sct.gc.ca</a> or by telephone at 1-866-312-1511. You may also wish to contact the Office of the Privacy Commissioner of Canada by email at <a href="mailto:info@priv.gc.ca">info@priv.gc.ca</a> or by telephone at 1-800-282-1376. You have the right to complain to the Office of the Privacy Commissioner of Canada about the handling of your personal information by TBS.</p>
        </div>
    </section>
</section>
