@media screen {
.engagement-report {

.section-heading-container { 
    padding-top: 36px; 

    &:focus { outline: none; }
}

.heading-container {
    background-color : #333;
    border-bottom    : 2px #333 solid;
    border-top       : 2px #333 solid;
    color            : #fff;
    clear            : both;
    display          : block;
    margin           : 32px -15px;
    min-height       : 280px;
    padding-left     : 20px;
    padding-right    : 20px;
    position         : relative;
    text-decoration  : none;

    @media screen and (min-width: 500px) {
        padding-left    : 30px;
        padding-right   : 30px;
        min-height      : 320px;
    }

    @media screen and (min-width: 650px) {
        padding-left: 50px;
        padding-right: 50px;
        min-height: 380px;
    }

    @media screen and (min-width: 768px) {
        margin-left: 0;
        margin-right: 0;
        min-height: 380px;
    }

    // Bootstrap md breakpoint
    @media screen and (min-width: 992px)  { min-height: 420px; }

    // Bootstrap lg breakpoint
    @media screen and (min-width: 1200px) { min-height: 460px; }

    // For the title, use the traditional layout approach
    &.heading-container-large {
        padding-top: 170px;
        padding-bottom: 30px;

        @media screen and (min-width: 1200px) {
            padding-top: 230px;
            padding-bottom: 50px;
        }
        h1 { 
            &.title span.pad {
                @media screen and (max-width: 650px) {
                    padding: 0.6rem !important;
                }
            }
        }

        .subtitle span.pad {
            @media screen and (max-width: 650px) {
                padding: 0.5rem !important;
            }
        }
    }

    h2 { 
        font-size   : 23px;

        @media screen and (min-width: 500px) {
            font-size: 30px;
        }

        @media screen and (min-width: 650px) {
            font-size: 40px;
        }

        &.padded-multiline {
            @media screen and (min-width: 992px) { bottom: 40px; line-height: 1.6; }
        }
    }

    .padded-multiline {
        bottom       : 20px;
        line-height  : 1.55;
        padding      : 2px 0;
        position     : absolute;
        width        : 90%;

        //@media screen and (min-width: 992px) { bottom: 40px; line-height: 1.65; }

        span.pad {
            background-color     : #3a3a3a;
            box-decoration-break : clone;
            color                : #fff;
            display              : inline;
            padding              : 0.25em; // This determines the initial padding
        }

        &.title {
            border-bottom   : none;
            font-size       : 32px;
            font-weight     : bold;
            margin          : 0 0 11.5px;
            position        : static;
            line-height     : 1.5;

            @media screen and (min-width: 500px) { font-size: 38px; }
            @media screen and (min-width: 650px) { font-size: 46px; }
            span.pad { 
                padding  : 0.7em; 

                @media screen and (min-width: 500px) { padding: 0.9rem }

            }


        }

        &.subtitle {
            font-size     : 20px;
            margin        : 0 0 11.5px;
            margin-bottom : 1.1em;
            line-height   : 1.65;
            position      : static;

            @media screen and (min-width: 500px) { font-size: 30px; }
            @media screen and (min-width: 650px) { font-size: 36px; }

            span.pad { 
                padding: 0.7rem; 

                @media screen and (min-width: 500px) { padding: 0.9rem; }
            }
        }
    } // END .padded-multiline

    .toplink {
        background-color : #333;
        color            : white;
        display          : block;
        padding          : 10px;
        position         : absolute;
        right            : 20px;
        text-decoration  : none;
        top              : 20px;
        
        &:hover .toplinktext, &:focus .toplinktext {
            text-decoration: underline;
        }
    }

    // Front Cover Header
    &.cover {
        @include image-header("../img/v2/horizon-v2.jpg", $primary-color);
        border-bottom: 0;
        border-top: 0;
        margin-top: 0;
        margin-bottom: 0;

        .padded-multiline span.pad, .toplink { 
            background-color: $primary-color; //rgba($primary-color, 0.9); 
        }
        
        .padded-multiline span.pad {
            background-color: $primary-color; //rgba($primary-color, 0.9); 
            margin-bottom: 1rem;
        }
    }

    &.section--engagement {
        @include image-header("../img/v2/pei-startupzone-v2a.jpg", $engagement-color);

        .padded-multiline span.pad, .toplink { 
            background-color: $engagement-color; //rgba($engagement-color, 0.9); 
        }
    }

    &.section--organizing {
         @include image-header("../img/v2/calgary-v3.jpg", $organizing-color);

        .padded-multiline span.pad, .toplink { 
            background-color: $organizing-color; //rgba($organizing-color, 0.9); 
        }
    }
    
    &.section--talent {
         @include image-header("../img/v2/hub-ottawa-v2.jpg", $talent-color);

        .padded-multiline span.pad, .toplink { 
            background-color: $talent-color; //rgba($talent-color, 0.9); 
        }
    }
    
    &.section--design {
         @include image-header("../img/v2/vancouver-v2a.jpg", $design-color);

        .padded-multiline span.pad, .toplink { 
            background-color: $design-color; //rgba($design-color, 0.9); 
        }
    }
    
    &.section--foundations {
         @include image-header("../img/v2/construction.jpg", $foundations-color);

        .padded-multiline span.pad, .toplink { 
            background-color: $foundations-color; //rgba($foundations-color, 0.9); 
        }
    }
    
    &.section--yourthoughts {
         @include image-header("../img/v2/ottawa-v2.jpg", $yourthoughts-color);

        .padded-multiline span.pad, .toplink { 
            background-color: $yourthoughts-color; //rgba($yourthoughts-color, 0.9); 
        }
    }



}

}}
        