$primary-color: #1d344b;

$active-nav-background-colour: #110b0a;

// Colours
$engagement-color   : $primary-color !default;
$organizing-color   : $primary-color !default;
$talent-color       : $primary-color !default;
$design-color       : $primary-color !default;
$foundations-color  : $primary-color !default;
$yourthoughts-color : $primary-color !default;

// Image hosting
$image-base-url: "https://de2an9clyit2x.cloudfront.net";