<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
	wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
	<title>{{ page.title }} – {{ site.title }}</title>
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<!-- Meta data -->
	<meta name="description" content="{{ page.description }}">

	<!--[if gte IE 9 | !IE ]><!-->
	<link href="{{ site.GC.static_asset_path }}/assets/favicon.ico" rel="icon" type="image/x-icon">
	<link rel="stylesheet" href="{{ site.GC.static_asset_path }}/css/theme.min.css">
	<link rel="stylesheet" href="{{ BASE_PATH }}/style.css">
	<!--<![endif]-->
	<!--[if lt IE 9]>
	<link href="{{ site.GC.static_asset_path }}/assets/favicon.ico" rel="shortcut icon" />

	<link rel="stylesheet" href="{{ site.GC.static_asset_path }}/css/ie8-theme.min.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{{ site.GC.static_asset_path }}/wet-boew/js/ie8-wet-boew.min.js"></script>
	<![endif]-->
	<!--[if lte IE 9]>

	<![endif]-->
	<noscript>
		<link rel="stylesheet" href="{{ site.GC.static_asset_path }}/wet-boew/css/noscript.min.css" />
	</noscript>
	<!-- Google Tag Manager DO NOT REMOVE OR MODIFY - NE PAS SUPPRIMER OU MODIFIER -->
	<script>
	dataLayer1 = [];
	</script>
	<!-- End Google Tag Manager -->
</head>

<body vocab="http://schema.org/" typeof="WebPage">
	<!-- Google Tag Manager DO NOT REMOVE OR MODIFY - NE PAS SUPPRIMER OU MODIFIER -->
	<noscript>
		<iframe title="Google Tag Manager" src="//www.googletagmanager.com/ns.html?id=GTM-TLGQ9K" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<script>
	(function(w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			'gtm.start': new Date().getTime(),
			event: 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s),
			dl = l != 'dataLayer1' ? '&l=' + l : '';
		j.async = true;
		j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer1', 'GTM-TLGQ9K');
	</script>
	<!-- End Google Tag Manager -->
	<ul id="wb-tphp">
		<li class="wb-slc">
			<a class="wb-sl" href="#wb-cont">Skip to main content</a>
		</li>
		<li class="wb-slc visible-sm visible-md visible-lg">
			<a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
		</li>
	</ul>
	<header role="banner">
		<div id="wb-bnr" class="container">
			<section id="wb-lng" class="visible-md visible-lg text-right">
				<h2 class="wb-inv">Language selection</h2>
				<div class="row">
					<div class="col-md-12">
						<ul class="list-inline margin-bottom-none">
							<li><a lang="fr" href="{{ site.GC.translation_base_path }}{{ page.translation_link }}">Français</a></li>
						</ul>
					</div>
				</div>
			</section>
			<div class="row">
				<div class="brand col-xs-8 col-sm-9 col-md-6">
					<a href="https://www.canada.ca/en.html">
						<object type="image/svg+xml" tabindex="-1" data="/assets/img/sig-blk-en.svg"></object><span class="wb-inv"> Government of Canada</span></a>
				</div>
				<section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
					<h2>Search and menus</h2>
					<ul class="list-inline text-right chvrn">
						<li><a href="#mb-pnl" title="Search and menus" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span class="glyphicon glyphicon-search"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Search and menus</span></span></span></a></li>
					</ul>
					<div id="mb-pnl"></div>
				</section>
				<section id="wb-srch" class="col-xs-6 text-right visible-md visible-lg">
					<h2>Search</h2>
					<form class="search-form form-inline" role="search" name="search-form" action="http://recherche-search.gc.ca/rGs/s_r?#wb-land" method="get" id="search-form" accept-charset="UTF-8" target="_self">
						<div>
							<div class="form-item form-item-q form-type-textfield form-group">
								<label class="control-label" for="wb-srch-q" id="wb-srch-q-label">Search website</label>
								<input title="Enter the terms you wish to search for." class="apachesolr-autocomplete unprocessed custom-search-box form-control form-text" placeholder="Search Canada.ca" type="search" id="wb-srch-q" name="q" value="" size="27" maxlength="128">
							</div>
							<button data-icon="search" value="search" name="wb-srch-sub" type="submit" id="wb-srch-sub" class="btn btn-primary btn-small form-submit"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
							<input type="hidden" name="num" value="10">
							<input type="hidden" name="langs" value="eng">
							<input type="hidden" name="st1rt" value="0">
							<input type="hidden" name="st" value="s">
							<input type="hidden" name="s5bm3ts21rch" value="x">
							<input type="hidden" name="cdn" value="canada">
							<input type="hidden" name="delta" value="1">
							<input type="hidden" name="form_id" value="custom_search_blocks_form_1">
							<input type="hidden" name="custom_search_paths" value="search/site/[key]">
						</div>
					</form>
				</section>
			</div>
		</div>
		<nav role="navigation" id="wb-sm" data-ajax-replace="{{ site.GC.static_asset_path }}/ajax/sitemenu-en.html" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
			<div class="container nvbar">
				<h2>Topics menu</h2>
				<div class="row">
					<ul class="list-inline menu">
						<li><a href="http://www.esdc.gc.ca/en/jobs/index.page">Jobs</a></li>
						<li><a href="http://www.cic.gc.ca/english/index.asp">Immigration</a></li>
						<li><a href="https://travel.gc.ca/">Travel</a></li>
						<li><a href="https://www.canada.ca/en/services/business.html">Business</a></li>
						<li><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
						<li><a href="https://www.canada.ca/en/services/health.html">Health</a></li>
						<li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
						<li><a href="https://www.canada.ca/en/services.html">More services</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<nav role="navigation" id="wb-bc" property="breadcrumb">
			<h2>You are here:</h2>
			<div class="container">
				<div class="row">
					<ol class="breadcrumb">
						{% for pageItem in site.GC.site_breadcrumbs %}
						<li>
							{% if pageItem.url == "HOME_PATH" %}
								{% if page.url == '/' %}
									{{ pageItem.label }}
								{% else %}
									<a href="{{ HOME_PATH }}">{{ pageItem.label }}</a>
								{% endif %}
							
							{% else %}
							<a href="{{ pageItem.url }}">{{ pageItem.label }}</a>
							{% endif %}
						</li>
						{% endfor %}

						{% for pageItem in page.breadcrumbs %}
						<li>
							<a href="{{ pageItem.url }}">{{ pageItem.label }}</a>
						</li>
						{% endfor %}

						{% if page.url != '/' %}
						<li>{{ page.title }}</li>
						{% endif %}
					</ol>
				</div>
			</div>
		</nav>
	</header>
	<main role="main" property="mainContentOfPage" class="container">
		<h1 property="name" id="wb-cont">{{ page.title }}</h1> 
		{{ content }}
	</main>

	{% include themes/wet-boew/activities-en.html %}
	
	<footer role="contentinfo" id="wb-info">
		<nav role="navigation" class="container wb-navcurr">
			<h2 class="wb-inv">About government</h2>
			<ul class="list-unstyled colcount-sm-2 colcount-md-3">
				<li><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
				<li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
				<li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
				<li><a href="http://www.servicecanada.gc.ca/gcnews">News</a></li>
				<li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
				<li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
				<li><a href="http://pm.gc.ca/eng">Prime Minister</a></li>
				<li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
				<li><a href="http://open.canada.ca/en/">Open government</a></li>
			</ul>
		</nav>
		<div class="brand">
			<div class="container">
				<div class="row">
					<nav class="col-md-10 ftr-urlt-lnk">
						<h2 class="wb-inv">About this site</h2>
						<ul>
							<li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
							<li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
							<li><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
							<li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
							<li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
						</ul>
					</nav>
					<div class="col-xs-6 visible-sm visible-xs tofpg">
						<a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
					</div>
					<div class="col-xs-6 col-md-2 text-right">
						<object type="image/svg+xml" tabindex="-1" role="img" data="/assets/img/wmms-blk.svg" aria-label="Symbol of the Government of Canada"></object>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--[if gte IE 9 | !IE ]><!-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="{{ site.GC.static_asset_path }}/wet-boew/js/wet-boew.min.js"></script>
	<!--<![endif]-->
	<!--[if lt IE 9]>
	<script src="{{ site.GC.static_asset_path }}/wet-boew/js/ie8-wet-boew2.min.js"></script>
	<![endif]-->
	<script src="{{ site.GC.static_asset_path }}/js/theme.min.js"></script>

	<!-- Google Analytics -->
	{% include cds/analytics.html %}

</body>
</html>
