version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    working_directory: /tmp/cds-website-source
    steps:
      - checkout
      
      # Load git submodules
      - run:
          name: "Load git submodules"
          command: git submodule sync && git submodule update --init

      - run:
          name: "Build admin section"
          command: |
            npm install
            npm run build_admin

      # Store compiled cache (persisted across jobs)
      - run: echo $CIRCLE_SHA1 > .circle-sha
      - save_cache:
          key: cds-website-source-{{ checksum ".circle-sha" }}
          paths:
            /tmp/cds-website-source

  hugo:
    docker:
      - image: cibuilds/hugo
    working_directory: /tmp/cds-website-source
    steps:
      # Restore compiled cache (persisted across jobs)
      - run: echo $CIRCLE_SHA1 > .circle-sha
      - restore_cache:
          keys:
            - cds-website-source-{{ checksum ".circle-sha" }}
      
      # Build compiled sites
      - run:
          name: "Build English and French sites"
          command: |
            hugo -d /tmp/cds-website-dist
            chmod -R 755 /tmp/cds-website-dist

      # Store compiled cache (persisted across jobs)
      - run: echo $CIRCLE_SHA1 > .circle-sha
      - save_cache:
          key: cds-website-dist-{{ checksum ".circle-sha" }}
          paths:
            /tmp/cds-website-dist

  test:
    docker:
      - image: cibuilds/hugo
    working_directory: /tmp/cds-website-dist
    steps:
      # Restore compiled cache (persisted across jobs)
      - run: echo $CIRCLE_SHA1 > .circle-sha
      - restore_cache:
          keys:
            - cds-website-dist-{{ checksum ".circle-sha" }}

      - run:
          name: "Test English"
          command: htmlproofer /tmp/cds-website-dist/en --allow-hash-href --empty_alt_ignore --check-favicon --check-html --disable-external --file-ignore=/lib/,/admin/

      - run:
          name: "Test French"
          command: htmlproofer /tmp/cds-website-dist/fr --allow-hash-href --empty_alt_ignore --check-favicon --check-html --disable-external --file-ignore=/lib/,/admin/

  deploy:
    docker:
      - image: cdssnc/aws-cli
    steps:
      # Configure AWS CLI
      - run:
          name: "Configure AWS Cli"
          command: |
            aws configure set preview.cloudfront true
            aws configure set preview.create-invalidation true

      # Restore compiled cache (persisted across jobs)
      - run: echo $CIRCLE_SHA1 > .circle-sha
      - restore_cache:
          keys:
            - cds-website-dist-{{ checksum ".circle-sha" }}

      # Deploy english from cache and create Cloudfront object invalidation
      - deploy:
          name: "Deploy English"
          command: |
            aws s3 sync /tmp/cds-website-dist/en s3://cds-website-english-dist/ --delete
            aws cloudfront create-invalidation --cli-input-json "{\"DistributionId\":\"E29PLYL6H5XVXC\",\"InvalidationBatch\":{\"Paths\":{\"Quantity\":1,\"Items\":[\"/*\"]},\"CallerReference\":\"$(date +%s)\"}}"

      # Deploy french from cache and create Cloudfront object invalidation
      - deploy:
          name: "Deploy French"
          command: |
            aws s3 sync /tmp/cds-website-dist/fr s3://cds-website-french-dist/ --delete
            aws cloudfront create-invalidation --cli-input-json "{\"DistributionId\":\"E36QWRCACLGK3S\",\"InvalidationBatch\":{\"Paths\":{\"Quantity\":1,\"Items\":[\"/*\"]},\"CallerReference\":\"$(date +%s)\"}}"

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build
      - hugo:
          requires:
            - build
      - test:
          requires:
            - build
            - hugo
      - deploy:
          requires:
            - build
            - test
          filters:
            branches:
              only: master
