<section class="section work-in-progress--product-module work-in-progress--platform-module border-{{.Params.phase}}"
         id="{{.Params.translationKey}}">
  <!-- Product Title-->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="title-container">
        <div>
          {{ safeHTML "<" }}{{ .Scratch.Get "level" }} class='{{ .Params.phase }}{{ if eq (string (.Site.Language)) "fr" }}fr{{end}}'>
            {{ .Params.title }}
          {{ safeHTML "<" }}/{{ .Scratch.Get "level" }}>
        </div>
      </div>
    </div>
  </div>
  <!-- End Product Title-->

  <!-- URL -->
  {{ with (index .Params "product-url")}}
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="service-link">
          <a class="view-product" href='{{ . }}'>{{ i18n "view-product"}}</a></div>
      </div>
    </div>
  {{ end }}
  <!-- END URL -->

  <!-- DESC -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="work-in-progress--product-summary">
        <p>{{ .Params.description }}</p>
      </div>
    </div>
  </div>
  <!-- End DESC -->

  <!-- CONTACT -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="work-in-progress--team">
        <p class='leader'>Contact:</p>
        {{ range .Params.contact }}
        <p><a class="contact-link" href='mailto:{{.email}}'>{{ .name }}</a></p>
        {{ end }}
      </div>
    </div>
  </div>
  <!-- END CONTACT -->

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="work-in-progress--links">
        {{with .Params.links }}
          {{ if gt (len .) 0 }}
          <p class='leader'>{{ i18n "links" }}:</p>
            {{range .}}
              <p><a class="resource-link" href="{{ .url }}">{{.name}}</a></p>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
