<section class="section work-in-progress--product-module work-in-progress--platform-module border-{{.Params.phase}}"
         id="{{.Params.translationKey}}">
  <h1 class='{{ .Params.phase }}{{ if eq (string (.Site.Language)) "fr" }}fr{{end}}'>
    {{ .Params.title }}
  </h1>

  <!-- URL -->
  {{ with (index .Params "product-url")}}
    <div class="service-link">
      <a class="view-product" href='{{ . }}'>{{ i18n "view-product"}}</a>
    </div>
  {{ end }}
  <!-- END URL -->

  <div class="work-in-progress--product-summary">
    <p>{{ .Params.description }}</p>
  </div>

  <!-- CONTACT -->
  <div class="work-in-progress--team">
    <h2>Contact:</h2>
    {{ range .Params.contact }}
      <p><a class="contact-link" href='mailto:{{.email}}'>{{ .name }}</a></p>
    {{ end }}
  </div>
  <!-- END CONTACT -->

  <div class="work-in-progress--links">
    {{with .Params.links }}
      {{ if gt (len .) 0 }}
        <h2>{{ i18n "links" }}:</h2>
        {{range .}}
          <p><a class="resource-link" href="{{ .url }}">{{.name}}</a></p>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</section>
