---
layout: cds/page
title: 'Contactez-nous'
permalink: numerique.canada.ca/contactez-nous/
lang: fr
ref: contact
description: "Connectez-vous avec l'équipe du Service numérique canadien."
trans_url: '/contact'
---

<section class="section page-contact">
	<h2 class="section--title">Communiquez avec nous!</h2>

	<div class="contact-info-container">
		{% include cds/contact-info.html %}
	</div>
	
</section>
<section class="section section--mailing-list no-bg">
	<a name="liste-envoi"></a>
	{% include cds/mailing-list.html %}
</section>