.border-cta-wrapper {
    @include break-container;
    padding: 0 5rem;
}

// TODO: temporary until we correct our containers/structures to match designs
.our-values {
    &+ .border-cta-wrapper {
        margin-top: 5rem;
        margin-bottom: -5rem;
    }
}

.border-cta-row {
    display: flex;
    width: 100%;

    .border-cta {
        margin-left: 12px;
        &:first-of-type {
            margin-right: 12px;
            margin-left: 0;
        }
    }
}

.border-cta {
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 25px;

    &--grey-bg {
        background: $medium-grey;
    }
}

.border-cta__content {
    padding: 2rem;

    h3 {
        margin: 0;
    }
}

.border-cta__link {
    align-self: flex-end;
    flex-shrink: 0;

    a {
        display: inline-block;
        background: black;
        color: white !important;
        @include label;
        text-decoration: none;
        padding: 10px 15px;
    }

    svg {
        fill: white;
        margin-left: 10px;
    }
}



