// Media Query Mixins

@mixin mobile_only  { @media ( max-width: 767px )  { @content; } }
@mixin tablet       { @media ( min-width: 768px )  { @content; } }
@mixin desktop      { @media ( min-width: 992px )  { @content; } }
@mixin tv           { @media ( min-width: 900px ) { @content; } }

// the following media query mixin is a unique one meant to address content changes on our header menus before the budget
@mixin menu_break { @media (min-width: 1200px) { @content; } }
@mixin logo_break { @media (max-width: 1200px) { @content; } }

@mixin retina {
	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
    	only screen and (min--moz-device-pixel-ratio: 2),
    	only screen and (-o-min-device-pixel-ratio: 2/1),
    	only screen and (min-device-pixel-ratio: 2),
    	only screen and (min-resolution: 192dpi),
    	only screen and (min-resolution: 2dppx) {
    		@content;
  		}
}

// Font Imports

// String replace to support font import mixins
@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

// @ font face import
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
        svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}
