////////////////////////////////////////////////////////////
//
//  CDS MAIN TOP BAR
//
////////////////////////////////////////////////////////////

.topbar {
  z-index: 999;

  // below used to be @include tablet
  @include menu_break {
    padding-top: 5rem;
  }

  .nav-container {
    @include tablet {
      padding-right: 0;

      .sticky & {
        padding-right: 1.5rem;
      }
    }
  }
}

////////////////////////////////////////////////////////////
//
// CDS LOGO
//
////////////////////////////////////////////////////////////

.cds-logo {
  background-image: url("../img/cds/cds-lockup-ko-en.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  z-index: 1;

  @include mobile_only {
    height: 5rem;
    width: 20rem;
  }

  @include tablet {
    height: 8rem;
    width: 25rem;
    position: absolute;
    top: -3.9rem;
    left: 3.5rem;
  }

  @include desktop {
    height: 8rem;
    width: 25rem;
    top: -3.9rem;
    left: 1.5rem;
  }

  @include tv {
    height: 8rem;
    width: 25rem;
    top: -3.7rem;
  }

  // added the below custom mixin to address menu content changes
  @include logo_break {
    height: 5rem;
    width: 20rem;
    position: absolute;
    top: 0;
  }

  // BILINGUAL SPECIFIC CDS LOGO
  .fr & {
    background-image: url("../img/cds/cds-lockup-ko-fr.svg") !important;
  }
}

////////////////////////////////////////////////////////////
//
// TOP NAVIGATION
//
////////////////////////////////////////////////////////////

.top-nav {
  clear: both;
  text-align: right;
  list-style: none;
  margin: 1rem auto 1rem auto;
  padding: 0;

  // @media (max-width: 1484px) {
  //   max-width: 800px;
  // }

  @include logo_break {
    position: fixed;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

// Main Navigation Link
.top-nav--link {
  display: block;
  text-align: center;

  @include mobile_only {
    margin: 2rem 0;
  }

  // below used to be @include tablet
  @include menu_break {
    display: inline-block;
    position: relative;

    // Hide 'Home' Link for tablet and above
    &:first-child {
      display: none;
    }
  }

  @include desktop {
    margin: 0 1rem;
  }

  // Link Styles
  a {
    color: $white;
    font-size: 3.5rem;
    font-weight: 100;
    margin: 0.7rem;
    text-decoration: none;
    position: relative;

    // replacing the above previous styles
    @include menu_break {
      font-size: 2rem;
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      background: $primary-color;
      border: $primary-color 0px solid;
      width: 0%;
      height: 4px;
      bottom: -0.5rem;
      transition: all 0.45s ease-in-out;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover::after {
      @include tablet {
        width: 100%;
        border-width: 1px;
      }
    }

    .sticky & {
      @include tablet {
        font-weight: 300;
        color: $dark-grey;
      }
    }
  }

  // Style for when link is active
  &.active a::after {
    background: $primary-color;
    border: $primary-color 1px solid;
    width: 100%;
  }

  // Align nav to edge of document margin for tablet and up
  &:last-child a {
    @include tablet {
      margin-right: 0;
    }
  }
}

////////////////////////////////////////////////////////////
//
// MOBILE NAVIGATION WRAPPER
//
////////////////////////////////////////////////////////////

#js-mobileNav {
  display: none;
  position: relative;
  -webkit-backface-visibility: none;
  -webkit-transform-style: preserve-3d;

  // below used to be @include tablet
  @include menu_break {
    display: block;
  }

  &.active {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    animation: fadeIn 0.3s ease-in-out forwards;

    @include mobile_only {
      .home &,
      .accueil & {
        height: 100vh;

        .top-nav {
          left: 0;
          top: 10rem;
          transform: translateX(0) translateY(0);
        }
      }
    }

    & > main {
      z-index: -1;
    }
  }

  &.hiding {
    animation: fadeOut 0.3s ease-in-out !important;
    animation-fill-mode: forwards;
  }

  #js-mobileNav--button {
    background: none;
    color: $white;
    border: none;
    position: fixed;
    right: 10rem;
    top: 5rem;
    padding: 1rem;

    &:focus {
      outline: none;
    }

    .text {
      float: left;
      text-align: right;
      font-size: 1.25rem;
      font-weight: 100;
      text-transform: uppercase;
      padding: 1rem 1rem 0 0;
    }

    .close-icon {
      float: right;
      font-size: 2rem;
      border: $white 1px solid;
      padding: 0.5rem;
      border-radius: 50%;
    }

    // used to be @include tablet
    @include menu_break {
      display: none;
    }

    @include mobile_only {
      right: 1rem;
      top: 1rem;
    }
  }

  .mobile-lang {
    display: block;
    text-align: right;
    color: $white;
    position: fixed;
    top: 5.5rem;
    left: 10rem;

    // used to be @include tablet
    @include menu_break {
      display: none;
    }

    @include mobile_only {
      top: 2.3rem;
      left: 2rem;
    }

    a {
      display: inline-block;
      color: $white;
      display: inline-block;
      font-size: 1.25rem;
      font-weight: 400;
      margin-top: 0.75rem;
      text-align: center;
      text-decoration: none;
      padding-bottom: 1rem;
      border-bottom: #000 1px solid;
      transition: all 0.3s ease-in-out;

      &:hover {
        border-bottom: #ccc 1px solid;
      }
    }
  }
}

////////////////////////////////////////////////////////////
//
// MOBILE NAVIGATION BUTTON (FOR TOP BAR)
//
////////////////////////////////////////////////////////////

.main-nav-button {
  display: inline;
  line-height: 0;
  margin: 0.25rem 2.5rem 0 0;
  padding: 0;
  border: none;
  background: none;
  float: right;
  z-index: 1;

  &:focus {
    outline: none;
  }

  .glyphicon {
    margin: 0px;
  }

  .home &,
  .accueil & {
    color: $white;
  }

  .sticky & {
    color: $dark-grey;
  }

  @include mobile_only {
    margin: 0;
  }

  @include menu_break {
    display: none;
  }
}

.main-nav-button--text {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  margin-right: 0.5rem;

  .home &,
  .accueil & {
    color: $white;
  }
}

.main-nav-button--button {
  display: inline-block;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  padding: 1.25rem;
  margin-right: 15px;
}

////////////////////////////////////////////////////////////
//
// CDS TOPBAR
//
////////////////////////////////////////////////////////////

#wb-sm {
  background-color: $black;
  border-top: 2px solid $primary-color;
}

.cds-menu.sticky {
  animation: menuDown 0.3s ease-in-out;
  background: rgba($white, 0.9);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .home & .topbar,
  .accueil & .topbar {
    position: relative;
    transform: translateX(0%);
    left: 0;
  }

  .topbar {
    // below used to be @include tablet
    @include menu_break {
      padding: 0.5rem 1rem;
      margin: 0;
      width: 100%;
    }
  }

  #js-mobileNav {
    @include desktop {
      margin-top: 1rem;
    }
  }

  // Adjust page banner margin to avoid page jumping
  & + .page-banner {
    margin-top: 7rem;

    @include tablet {
      margin-top: 10rem;
    }
    @include desktop {
      margin-top: 11rem;
    }
  }
}

// Animations
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none !important;
    opacity: 0;
  }
}

@keyframes menuDown {
  0% {
    top: -10rem;
  }
  100% {
    top: 0;
  }
}

////////////////////////////////////////////////////////////
//
// Product Buttons
//
///////////////////////////////////////////////////////////

.container-products-toggle {
  margin-bottom: 20px;
  @include desktop {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.container-products-toggle a {
  color: $primary-color;
  margin: 10px;
  padding: 5px 10px;
  border-bottom: 1px dashed $primary-color;
  font-size: 0.6em;

  @include desktop {
    margin: 30px;
    padding: 10px;
    font-size: 0.9em;
  }
}

.container-products-toggle a.active {
  border: 2px solid $primary-color;
}
