////////////////////////////////////////////////////////////
//
//  CDS MAIN TOP BAR
//
////////////////////////////////////////////////////////////

.topbar {
  z-index: 999;
  padding-top: 5rem;

  @include logo_break {
    padding-top: 2.5rem;
  }

  .nav-container {
    width: max-content;
    margin-left: auto;
    margin-right: 0;
    @include tablet {
      padding-right: 0;

      .sticky & {
        padding-right: 1.5rem;
      }
    }
  }
}

////////////////////////////////////////////////////////////
//
// CDS LOGO
//
////////////////////////////////////////////////////////////

.cds-logo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  

  @include mobile_only {
    height: 5rem;
    width: 20rem;
    display: none;
  }

  // added the below custom mixin to address menu content changes
  @include logo_break {
    height: 5rem;
    width: 22.5rem;
    position: absolute;
    top: 0;
  }

  @include menu_break {
    height: 5rem;
    width: 25rem;
    position: absolute;
    top: -2rem;
  }

  // BILINGUAL SPECIFIC CDS LOGO
  &.en {
    background-image: url("../img/cds/cds-lockup-ko-en.svg");
  }
  &.fr {
    background-image: url("../img/cds/cds-lockup-ko-fr.svg");
  }
}

.cds-logo-mobile {
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
    z-index: 1;
    height: 4.5rem;
    width: 4.5rem;
    
    @include mobile_only {
      display: block;
    }

  // BILINGUAL SPECIFIC CDS LOGO - MOBILE SCREEN
  &.en {
    background-image: url("../img/cds/cds-logo-en-v2.svg");
  }
  &.fr {
    background-image: url("../img/cds/cds-logo-fr-v2.svg") !important;
  }
}

////////////////////////////////////////////////////////////
//
// TOP NAVIGATION
//
////////////////////////////////////////////////////////////

.menu-items {
  // display: flex;
  // margin: 0.5rem auto 0.5rem auto;
  padding: 0;
  text-align: right;
  @include mobile_only {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

  }
  a {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    @include mobile_only {
      display: block;
      padding-bottom: 3rem;
      
    }
    @include tablet {
      margin-right: 2rem;
    }
    text-decoration: none;
    color: $white;

    &::after {
      display: block;
      position: absolute;
      content: "";
      background: $primary-color;
      border: $primary-color 0px solid;
      width: 0%;
      height: 4px;
      bottom: -0.5rem;
      transition: all 0.45s ease-in-out;
      left: 50%;
      transform: translateX(-50%);

    }

    &:hover:not(.dropdown a):after {
      @include tablet {
        width: 100%;
        border-width: 1px;
      }
    }

  }

  .underline {
    @include tablet {
      border-bottom: $primary-color 4px solid;
    }
    
  }



  .dropdown {
    position: relative;
    display: inline-block;
    button {

      @include tablet {
        margin-right: 2rem;
      }
      
      background-color: inherit;
      border: none;
      outline: none;
      color: $white;
      font-size: 2rem;
      @include mobile_only {
        display: none;
      }
    }
    .dropdown-content {
      display: none;
      @include mobile_only {
        display: block;
        position: relative;
        background-color: transparent;
        
      }
      position: absolute;
      background-color: #000;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;

      a {
        display: block;
        text-align: left;
        @include tablet {
          padding: 1rem;
          
        }
        
        text-decoration: none;
        
        @include mobile_only {
          text-align: center;
          padding-bottom: 3rem;
        }

        &::after {
          display: block;
          position: absolute;
          content: "";
          background: $white;
          border: $white 0px solid;
          width: 0%;
          height: 0.25px;
        }
      }
      :not(.dropdown-content a:nth-last-child(1)):after {
        @include tablet {
          width: 85%;
          border-width: 0.25px;
        }

      }
    }
  }
  .dropdown:hover .dropdown-content {display: block;}
}

.top-nav {
  clear: both;
  text-align: right;
  list-style: none;
  margin: 0.5rem auto 0.5rem auto;
  padding: 0;

  @include logo_break {
    position: fixed;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

// Main Navigation Link
.search-button {
  border: 2px solid white;
  background-color: transparent;
  padding: 1rem 1rem;
  .search-button-icon {
    color: white;
  }
}
.top-nav--link {
  display: block;
  text-align: center;

  @include logo_break {
    padding-bottom: 16px;
  }

  @include mobile_only {
    margin: 2rem 0;
  }

  // below used to be @include tablet
  @include menu_break {
    display: inline-block;
    position: relative;

    // Hide 'Home' Link for tablet and above
    // &:first-child {
    //   display: none;
    // }
  }

  @include desktop {
    margin: 0 1rem;
  }

  // Link Styles
  a {
    color: $white;
    font-size: 3.5rem;
    font-weight: 100;
    margin: 0.7rem;
    text-decoration: none;
    position: relative;

    // replacing the above previous styles
    @include menu_break {
      font-size: 2rem;
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      background: $primary-color;
      border: $primary-color 0px solid;
      width: 0%;
      height: 4px;
      bottom: -0.5rem;
      transition: all 0.45s ease-in-out;
      left: 50%;
      transform: translateX(-50%);

    }

    &:hover::after {
      @include tablet {
        width: 100%;
        border-width: 1px;
      }
    }

    .sticky & {
      @include tablet {
        font-weight: 300;
        color: $dark-grey;
      }
    }
  }

  // Style for when link is active
  &.active a::after {
    background: $primary-color;
    border: $primary-color 1px solid;
    width: 100%;
  }

  // Align nav to edge of document margin for tablet and up
  &:last-child a {
    @include tablet {
      margin-right: 0;
    }
  }
  &:first-child {
    display: none;
    // @include mobile_only {
    //   margin-top: 8.5rem;
    // }
  }
}

////////////////////////////////////////////////////////////
//
// MOBILE NAVIGATION WRAPPER
//
////////////////////////////////////////////////////////////

#js-mobileNav {
  display: none;
  position: relative;
  // // -webkit-backface-visibility: none;
  // // -webkit-transform-style: preserve-3d;

  // // below used to be @include tablet
  @include menu_break {
    display: block;
  }
  #js-mobileNav--button {
    display: none;
  }
  #mobile-lng {
    display: none;
  }

  &.active {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.988);
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    animation: fadeIn 0.3s ease-in-out forwards;

    #js-mobileNav--button {
      display: block;
    }
    #mobile-lng {
      display: block;
    }

    @include mobile_only {
      .home &,
      .accueil & {
        height: 100vh;

        .top-nav {
          left: 0;
          top: 8.5rem;
          transform: translateX(0) translateY(0);
        }
      }
    }

    & > main {
      z-index: -1;
    }
  }

  &.hiding {
    animation: fadeOut 0.3s ease-in-out forwards;
  }

  #js-mobileNav--button {
    background: none;
    color: $white;
    border: 1.45px solid white;
    padding: 7.5px 12.5px;
    top: 2rem;
    z-index: 1;


    .text {
      float: left;
      text-align: right;
      font-size: 1.75rem;
      font-weight: 100;
      text-transform: capitalize;
      margin-right: 10px;
    }

    .close-icon {
      float: right;
      font-size: 2.25rem;
    }


    @include mobile_only {
      display: block;
      position: fixed;
      left: 5rem;
      top: 2rem;
    }
  }

  .mobile-lang {
    display: block;
    text-align: right;
    color: $white;
    padding-left: 2rem;


    @include mobile_only {
      position: fixed;
      top: 2.3rem;
      right: 5rem;
    }

    a {
      display: inline-block;
      color: $white;
      font-size: 1.55rem;
      font-weight: 400;
      margin-top: 0.75rem;
      text-align: center;
      text-decoration: none;
      padding-bottom: 1rem;
      border-bottom: #000 1px solid;
      transition: all 0.3s ease-in-out;

      &:hover {
        border-bottom: #ccc 1px solid;
      }
    }
  }
}

////////////////////////////////////////////////////////////
//
// MOBILE NAVIGATION BUTTON (FOR TOP BAR)
//
////////////////////////////////////////////////////////////

.main-nav-button {
  display: inline;
  line-height: 0;
  padding: 10px 12.5px;
  border: 1.45px solid white;
  margin-top: 3.5px;
  background: none;
  float: right;
  z-index: 1;

  .fa-bars {
    margin: 0px;
  }

  .home &,
  .accueil & {
    color: $white;
  }

  .sticky & {
    color: $dark-grey;
  }

  @include mobile_only {
    margin-right: 15px;
  }

  @include menu_break {
    display: none;
  }
}

.main-nav-button--text {
  display: inline-block;
  font-weight: 100;
  font-size: 1.75rem;
  text-transform: capitalize;
  margin-right: 5.5px;
  color: $white;

  .home &,
  .accueil & {
    color: $white;
  }
}

.main-nav-button--button {
  display: inline-block;
  text-align: center;
  // border: 1px solid;
  // border-radius: 50%;
  // padding: 1.25rem;
  // margin-right: 15px;
  color: $white;
}

////////////////////////////////////////////////////////////
//
// CDS TOPBAR
//
////////////////////////////////////////////////////////////

#wb-sm {
  background-color: $black;
  border-top: 2px solid $primary-color;
}

.cds-menu.sticky {
  animation: menuDown 0.3s ease-in-out;
  background: rgba($white, 0.9);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .home & .topbar,
  .accueil & .topbar {
    position: relative;
    transform: translateX(0%);
    left: 0;
  }

  .topbar {
    // below used to be @include tablet
    @include menu_break {
      padding: 0.5rem 1rem;
      margin: 0;
      width: 100%;
    }
  }

  #js-mobileNav {
    @include desktop {
      margin-top: 1rem;
    }
  }

  // Adjust page banner margin to avoid page jumping
  & + .page-banner {
    margin-top: 7rem;

    @include tablet {
      margin-top: 10rem;
    }
    @include desktop {
      margin-top: 11rem;
    }
  }
}

// Animations
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none !important;
    opacity: 0;
  }
}

@keyframes menuDown {
  0% {
    top: -10rem;
  }
  100% {
    top: 0;
  }
}

.navbar {
  display: flex;
  // @include mobile_only {
  //   display: block;
  //   // background-color: darkgreen;
  // }

  // li {
  //   display: inline;
  // }

  a { 
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropbtn {
    cursor: pointer;
    font-size: 17px;  
    border: none;
    outline: none;
    color: white;
    // font-family: "SourceSansPro", sans-serif !important;
    padding-top: 13px;
    background-color: inherit;
    margin: 0;
    @include mobile_only {
      display: none;
    }
  }

  .content {
    @include mobile_only {
      display: block;
    }
    display: none;
    position: absolute;
    @include mobile_only {
      position: relative;
    }
    background-color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    a {
      display: block;
      text-align: left;
      @include mobile_only {
        text-align: center;
      }
    }
  }

  .show {
    display: block;
  }

  .mobile-layout {
    @include mobile_only {
      display: block;
      text-align: center;

      a {
        color: $white;
        font-size: 3.5rem;
        font-weight: 100;
        margin: 0.7rem;
        text-decoration: none;
        position: relative;
      }
    }
  }

}
.mobile-margin {
  @include mobile_only {
    margin-top: 8.5rem;
  }
}