////////////////////////////////////////////////////
//
// FRONTPAGE
//
////////////////////////////////////////////////////

.home h2 {
  font-size: 5rem;
}

.homepage--intro {
  .text {
    color: $black;
    font-weight: 200;
    font-size: 2.15rem;
    line-height: 1.35em;

    @include tablet {
      margin-top: 0.5rem;
      font-size: 2.25rem;
    }

    @include desktop {
      margin-top: 1.5rem;
      font-size: 2.5rem;
      font-weight: 300;
    }
  }
}

.homepage--what-we-do {
  border-top: $medium-grey 1px solid;
  text-align: center;

  .icon-text {
    margin-top: 1.5rem;

    @include tablet {
      margin-bottom: 4rem;
    }
    @include desktop {
      margin-top: 1rem;
    }
  }

  h3 {
    font-weight: 100;
    line-height: 2.75rem;
    margin: 2rem 0;

    @include tablet {
      font-weight: 300;
      line-height: 3.2rem;
      margin-top: 5rem;
    }
  }

  i {
    border: $primary-color 5px solid;
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 3.5rem;
    padding: 3.5rem;
    min-width: 10rem;
    min-height: 10rem;

    @include desktop {
      min-width: 15rem;
      min-height: 15rem;
      padding: 4.5rem 0;
      font-size: 5rem;
    }
  }

  .text {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .bottom-mar {
    margin-bottom: 5rem;
  }
}

.homepage--intro-cds {
  .intro-video {
    margin-bottom: 1rem;

    @include tablet {
      margin-bottom: 3rem;
    }
  }

  .our-team {
    @include tablet {
      border-top: lighten($medium-grey, 3) 5px solid;
    }

    h3 {
      @include mobile_only {
        border-top: $medium-grey 1px solid;
        padding-top: 3rem;
      }
    }
  }
}

.homepage--our-team {
  background-color: #0f0a08;
  background-size: cover;
  color: $white;
  font-weight: 100;

  .homepage--our-team--buttons {
    text-align: center;
  }

  a:not([class]) {
    color: $primary-color !important;
    border-bottom: $primary-color 1px dotted;
    transition: all 0.3s ease-in-out;

    &:hover {
      border-bottom: $primary-color 1px solid;
    }
  }

  .fr-team-link {
    text-align: left;

    @include desktop {
      text-align: right;
    }
  }
}

.homepage--budget {
  blockquote {
    width: 100%;
    padding: 0rem 3.5rem 0rem 3.5rem;
    margin: 0;
    border: 0;
    position: relative;

    @include tablet {
      padding: 3.5rem 4rem 3rem 4.5rem;
    }

    @include desktop {
      padding: 3.5rem 3rem 3rem 5.5rem;
    }

    p {
      font-size: 2rem;
      line-height: 1.75em;

      @include desktop {
        font-size: 2.5rem;
      }
    }

    .lead {
      margin-bottom: 0;
    }
  }

  .quote-ico {
    position: absolute;
    font-size: 5rem;
    opacity: 0.15;
    text-shadow: 0 -1px 0 #000;
    color: #ccc;

    @include tablet {
      font-size: 7rem;
    }

    @include desktop {
      font-size: 8rem;
    }

    &.left {
      top: 0;
      left: 0;
    }

    &.right {
      display: none;

      @include tablet {
        display: block;
        bottom: 3rem;
        right: 0;
      }

      @include desktop {
        bottom: -2rem;
      }

    }
  }
}

.homepage--engagement-report {
  background: url("/img/cds/engagementReport-bk.jpg") center center no-repeat;
  background-size: cover;
  background-color: #121519;
  color: $white;

  .title {
    @include tablet {
      border-right: $white 1px solid;
      padding-right: 3rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    @include desktop {
      padding-top: 2rem;
      padding-bottom: 5rem;
      padding-left: 10rem;
    }
  }

  .text {
    @include tablet {
      padding-left: 3rem;
      padding-top: 1rem;
    }

    @include desktop {
      padding-top: 3rem;
    }
  }

  .pretitle {
    background: rgba(0, 0, 0, 0.95);
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 300;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;

    @include tablet {
      margin-bottom: 1rem;
    }
  }

  .read-the-report {
    color: #fc3 !important;
    border-bottom: #fc3 1px dotted;
    transition: all 0.3s ease-in-out;

    &:hover {
      border-bottom: $primary-color 1px solid;
    }
  }

  h2 {
    font-size: 3.25rem;
    font-weight: 100;
    margin: 0.5rem 0 2rem 0;
  }

  .postitle {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    @include tablet {
      margin-top: 5rem;
      font-weight: 100;
    }

    @include desktop {
      padding-right: 2rem;
    }
  }
}

.section--featured-blogposts {
  background: $bg-grey;
  padding-bottom: 4rem;

  .container {
    width: 90%;
  }

  .blog-posts {
    @include tablet {
      margin-bottom: 3rem;
    }

    .post {
      display: float;
      float: center;
      background: $white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      display: block;
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
        color: lighten($secondary-color, 10);
      }

      @include mobile_only {
        margin: 1.5rem auto;
        max-width: 30rem;
      }

      @include tablet {
        height: 28rem;
        margin: 1rem 0;
      }

      .image {
        background-position: center center;
        background-size: cover;
        display: block;
        height: 15rem;
      }

      .text {
        padding: 1.5rem;
      }

      .date {
        color: $dark-grey;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1rem;
      }

      h3 {
        font-weight: 500;
        font-size: 1.5rem;
        margin: 0;
        margin-top: 0.5rem;
      }
    }
  }
}

.section--contact {
  h2 {
    font-weight: 100;

    @include mobile_only {
      text-align: center;
      margin-bottom: 4rem;
    }

    @include desktop {
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }
  }

  .hiGraphic {
    background: url("/img/cds/hi.png") no-repeat center center;
    background-size: contain;
    display: block;
    height: 42rem;
    width: 100%;
    opacity: 0.25;

    .fr & {
      background: url("/img/cds/salut.png") no-repeat center center;
      background-size: contain;
    }
  }
}

////////////////////////////////////////////////////
//
// WHAT WE DO
//
////////////////////////////////////////////////////
////////////////////////////////////////////////////
//
// PRODUCT DASHBOARD
//
////////////////////////////////////////////////////
.work-in-progress--intro {
  h1,
  h2,
  h3 {
    color: #000000;
  }
}

span.discovery,
span.discoveryfr {
  color: $discovery-color;
}
.border-discovery,
.border-discoveryfr {
  border-bottom: 40px solid $discovery-color;
}

span.alpha,
span.alphafr {
  color: $alpha-color;
}
.border-alpha,
.border-alphafr {
  border-bottom: 40px solid $alpha-color;
}

span.beta,
span.betafr {
  color: $beta-color;
}
.border-beta,
.border-betafr {
  border-bottom: 40px solid $beta-color;
}

span.live,
span.livefr {
  color: $live-color;
}
.border-live,
.border-livefr {
  border-bottom: 40px solid $live-color;
}

.row.equal {
  display: flex;
  flex-wrap: wrap;
}

.work-in-progress--product-module {
  background-color: $white;
  margin-bottom: 2em;
  border-radius: 3px;
  box-shadow: 5px 8px 5px $medium-grey;
  min-height: $min-product-card-height;

  h3 {
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 0;

    @include mobile_only { font-size: 24pt; }
    @include tablet { font-size: 26pt; }
    @include desktop { font-size: 30pt; }
  }

  h3.live::after,
  h3.livefr::after,
  h3.alpha::after,
  h3.alphafr::after,
  h3.discovery::after,
  h3.découvertefr::after,
  h3.beta::after,
  h3.betafr::after {
    display: inline-block;
    position: relative;
    bottom: 10px;
    color: #ffffff;
    margin-left: 0;
    border-radius: 6px;
    font-size: 10pt;

    @include mobile_only {
      padding: 3px 20px 3px 20px;
      bottom: 5px;
    }

    @include tablet {
      padding: 5px 20px 5px 20px;
    }

    @include desktop {
      padding: 5px 30px 5px 30px;
      font-size: 12pt;
    }
  }

  h3.live::after,
  h3.livefr::after {
    content: "Live";
    background-color: $live-color;
  }

  h3.alpha::after,
  h3.alphafr::after {
    content: "Alpha";
    background-color: $alpha-color;
  }

  h3.discovery::after,
  h3.découvertefr::after {
    background-color: $discovery-color;
  }

  h3.discovery::after { content: "Discovery"; }
  h3.découvertefr::after { content: "Découverte"; }

  h3.beta::after,
  h3.betafr::after {
    background-color: $beta-color;
  }

  h3.beta::after { content: "Beta"; }
  h3.betafr::after { content: "Bêta"; }

  h4 {
    font-weight: 500;

    @include mobile_only {
      margin-top: 5px;
    }

    @include tablet {
      font-size: 18pt;
      margin-top: 10px;
    }

    @include desktop {
      font-size: 22pt;
      margin-top: 20px;
    }
  }

  h1,
  h2,
  h3 {
    color: #000000;
  }

  p { margin-bottom: 0px; }
  a { font-size: 2.00rem; }
}

.work-in-progress--platform-module {
  padding-top: 0;
  padding-bottom: 0;
  min-height: $min-resource-card-height;
}

.work-in-progress--product-summary {

  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 10px;

  p {
    margin: 0px;
    padding-top: 25px;
  }
}

.service-link {
  padding-top: 5px;

  @include mobile_only {
    font-size: 12pt;
  }

  @include tablet {
    font-size: 12pt;
  }

  @include desktop {
    font-size: 14pt;
  }
}

.bottom-container {
  padding-top: 10px;
  justify-content: space-between;

  @include mobile_only {
    display: block;
  }

  @include tablet {
    display: block;
  }

  @include tv {
    display: flex;
  }

  @include desktop {
    display: flex;
  }
}

.bottom-container-nolinks {
  padding-top: 10px;

  @include mobile_only {
    display: block;
  }

  @include tablet {
    display: block;
  }

  @include tv {
    display: flex;
  }

  @include desktop {
    display: flex;
  }
}

.title-container {
  display: flex;
}

.work-in-progress--links,
.work-in-progress--partners,
.work-in-progress--team {
  padding-right: 15px;
}

.work-in-progress--partners-nolinks {
  padding-right: 10%;
  padding-bottom: 20px;
}

.work-in-progress--partners-long,
.work-in-progress--links,
.work-in-progress--partners,
.work-in-progress--team {
  h4 { margin-bottom: 0; }
}

.statusButton {
  padding-top: 50px;
}

.seperator {
  margin: 0px auto;

  @include mobile_only {
    width: 100%;
  }

  @include tablet {
    width: 80%;
  }

  @include desktop {
    width: 65%;
  }
}

////////////////////////////////////////////////////
//
// JOIN OUR TEAM
//
////////////////////////////////////////////////////
.cell-background {
  background: $wwu-blue;
  border-radius: 20px;
  padding: 1rem 2rem 1rem 3rem;
  color: $white;
  margin-bottom: 3rem;

  @include mobile-only {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  a {
    color: $white;
    border-bottom: $primary-color 1px dotted;

    &:hover {
      border-bottom: $primary-color 1px solid;
    }

    @include mobile-only {
      font-size: 1.75rem;
    }
  }
  li {
    color: $primary-color;
    @include mobile-only {
      margin-bottom: 1rem;
    }
  }

  h4 {
    @include mobile-only {
      font-size: 1.75rem;
    }

    font-size: 2.25rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}

.work-with-us--details {
  padding-bottom: 4rem;
  padding-top: 0rem;

  .page-wide--outer-container-padding {
    @include mobile-only {
      padding-top: 0;
    }
  }
}

.work-with-us--looking-for {
  background-color: rgba(34, 89, 109, 1);
  color: $white;

  .section-smallcaps-title {
    font-weight: 500;
    font-size: 1.75rem;

    @include tablet {
      font-size: 2rem;
    }

    @include tv {
      font-size: 2.25rem;
    }
  }

  li {
    color: #f0ca4d;
    margin: 0 0 11.5px;

    @include tablet {
      font-size: 2rem;
    }

    @include tv {
      font-size: 2.25rem;
      line-height: 3.5rem;
      margin-bottom: 2.75rem;
    }

    span {
      color: $white;
    }
  }

  .dark-background {
    background: #034;
    border-radius: 20px;
    padding-left: 3rem;
    padding-right: 4rem;
    padding-top: 1rem;

    @include mobile-only {
      padding-top: 1rem;
      padding-bottom: 2rem;
    }
  }

  .border-top {
    border-top: #f0ca4d solid 0.25rem;
  }
}

.work-with-us--streams {
  .mrgn-bttm-lg {
    margin-bottom: 15px;

    @include tv {
      margin-bottom: 30px;
    }
  }

  li {
    margin: 0 0 11.5px;

    @include tablet {
      font-size: 2rem;
    }

    @include tv {
      font-size: 2.25rem;
      line-height: 3.5rem;
      margin-bottom: 2.75rem;
    }
  }

  h4 {
    font-size: 1.75rem;

    @include tablet {
      font-size: 2rem;
    }

    @include tv {
      font-size: 2.25rem;
    }
  }

  hr {
    color: $medium-grey;
  }
}

.work-with-us--process {
  border-top: $medium-grey 1px solid;
}

.work-with-us--apply-now {
  background-color: #333;
  color: $white;

  @include desktop {
    padding-bottom: 9.5rem;
  }

  label {
    font-size: 2.25rem;
    font-weight: 200;
  }

  .form-control {
    width: 100%;
  }

  .radio label {
    margin-bottom: 1.5rem;
    margin-left: 3rem;
  }

  .button {
    margin-right: 2rem;

    &:hover {
      border-radius: 1rem;
      border: #f90 2px solid;
      background: #f90;
      color: $secondary-color;
    }
  }

  a {
    color: $white;
    border-bottom: $primary-color 1px dotted;

    &:hover {
      border-bottom: $primary-color 1px solid;
    }
  }

  .spinner {
    display: inline-block;
    opacity: 0;
    max-width: 0px;
    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s;

    &.active {
      opacity: 1;
      max-width: 50px;
    }
  }
}

////////////////////////////////////////////////////
//
// OUR TEAM
//
////////////////////////////////////////////////////
.our-team--listing {
  .container {
    @media (max-width: 1200px) {
      width: 85%;
    }
  }
}

////////////////////////////////////////////////////
//
// BLOG LISTING
//
////////////////////////////////////////////////////
.blogpost-list {
  margin: 0;
  padding: 0;
  list-style: none;

  .post:first-child {
    padding-top: 0;
  }

  .post {
    padding: 3rem 0rem;
    border-bottom: #ccc 1px solid;
  }

  .date {
    font-size: 1.5rem;
    margin: 0rem 0 1rem 0;

    @include tablet {
      font-size: 1.75rem;
      font-weight: 300;
    }
  }

  .author {
    margin: 2rem 0 0 0;
    font-weight: 500;
    font-size: 2.25rem;
  }

  .photo {
    display: block;
    height: 15rem;
    width: 100%;
    background-size: cover;
    background-position: center center;

    @include tablet {
      margin-top: 1rem;
    }

    @include desktop {
      height: 20rem;
    }
  }

  h2 {
    margin-top: 1.5rem;
  }

  .text {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.6em;

    @include desktop {
      font-size: 2.25rem;
    }
  }

  .readmore {
    margin-top: 2rem;

    a {
      display: inline-block;
    }
  }

  & li.pagination {
    position: relative;
    padding: 0 0.4em;
  }

  & li.active a::after {
    background: $primary-color;
    border: $primary-color 1px solid;
    width: 100%;
    display: block;
    content: "";
    height: 4px;
    position: absolute;
    left: 0%;
  }

  & .blogpost-paginator {
    text-align: center;
    padding: 0;

    @include mobile-only {
      :first-child {
        padding-left: 0;
      }
      :last-child {
        padding-right: 0;
      }
    }
  }
}

article.post {
  padding: 6rem 0;

  @include mobile_only {
    padding: 3rem 0;
  }

  img {
    width: 100%;
  }

  a.large-link {
    @include tablet {
      font-size: 2.25rem;
    }

    @include tv {
      font-size: 2.25rem;
    }
  }

  .post-header {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 1rem 0 2rem 0;

    time {
      display: block;
      font-weight: 500;
    }

    .author {
      display: block;
      font-weight: 500;
    }
  }
}

////////////////////////////////////////////////////
//
// CONTACT
//
////////////////////////////////////////////////////
.section--contact {
  .contact-info {
    @include mobile_only {
      max-width: 35rem;
      margin: 0 auto;
    }
  }
}

.section--mailing-list {
  background: $bg-grey;
  padding-bottom: 8rem;

  &.no-bg {
    background: none;
    border-top: $medium-grey 4px solid;
  }
  p {
    text-align: center;
  }
}

.mc-field-group {
  max-width: 45rem;
  width: 90%;
  margin: auto;
}

#mc_embed_signup {
  .email {
    border-radius: 0;
    border: $primary-color 2px solid;
    height: 42px;
    font-weight: 100;
    font-size: 2rem;
    width: 100%;

    &::placeholder {
      font-weight: 100;
      font-style: italic;
      color: #bbb !important;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  label[for="mce-EMAIL"] {
    display: block !important;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    color: $dark-grey;
    font-weight: 100;

    @include mobile-only {
      font-size: 1.75rem;
    }
  }

  .submit-button-container {
    text-align: center;
    margin-top: 2.5rem;
  }
  .mce-submit-button {
    background: $primary-color;
    color: $secondary-color;
  }

  .mce-privacy {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100;
    margin-top: 1rem;
  }
}

// TODO - update general CSS for the main content section
// and create specialized H3's etc. where needed.
.page-legal {
  h2 {
    font-weight: 500;

    @include desktop {
      font-size: 2.9rem;
      margin: 4.75rem 0 1rem 0;
    }
  }

  h3 {
    font-weight: 500;

    @include desktop {
      font-size: 2.45rem;
      margin: 3rem 0 1.5rem 0;
    }
  }

  p + ul {
    margin-top: 0.5em;
  }
}

.page-wide--outer-container-padding {
  width: 95%;
  margin: 0 auto;
}

////////////////////////////////////////////////////
//
// STORIES
//
////////////////////////////////////////////////////

.story-text {
  background-color: $black;
  color: $white;
  padding-top: 3rem;

  @include mobile-only {
    height: auto;
    padding-bottom: 3rem;

    h2 {
      font-size: 2.5rem;
      margin-top: 3rem;
    }
  }
  @include tablet {
    height: auto;
    padding-bottom: 5rem;
  }

  @include desktop {
    height: 95rem;
  }

  .container {
    width: 70%;
  }
}

.story-image {
  padding: 0;

  .image-container {
    background-size: cover;
    background-position: center center;

    @include tablet {
      height: 50rem;
    }

    @include desktop {
      height: 95rem;
    }

    @include mobile-only {
      height: 40rem;
    }
  }
}

////////////////////////////////////////////////////
//
// PLATFORM
//
////////////////////////////////////////////////////

.platform-banner{
  background-color: $dark-grey;
  background-size: cover;
  background-position: center center;
  height: 12rem;
  position: relative;

  @include tablet  {
    height: 20rem;
  }

  @include desktop {
    height: 28rem;
  }

}
