// Site Colours
$primary-color: #FFCC33;
$secondary-color: #066169;
$white: #FFFFFF;
$black: #000000;
$dark-grey: #232323;
$light-grey: #F8F8F8;
$medium-grey: #E1E4E7;
$section-bg-grey: #262A2D;
$bg-grey: #FCFCFC;
$icon-grey: #333;
$date-grey: #84828f;
$bg-color: #f9f9f9;
$wwu-blue: #22596d;
$discovery-color: #AB2328;
$alpha-color: #004986;
$beta-color: #115740;
$live-color: #000000;
$action-orange: #E87722;
$career-brown: #A3442F;
$blog-pink: #97466D;
$resources-green: #066169;
$team-purple: #62466B;
$link-color: #004986;


// Image hosting
$image-base-url: "https://de2an9clyit2x.cloudfront.net";