// Site Colours
$primary-color: #FFCC33;
$secondary-color: #066169;
$white: #FFFFFF;
$black: #000000;
$dark-grey: #232323;
$light-grey: #F8F8F8;
$medium-grey: #E1E4E7;
$section-bg-grey: #262a2d;
$bg-grey: #FCFCFC;
$icon-grey: #333;
$date-grey: #84828f;
$bg-color: #f9f9f9;
$wwu-blue: #22596d;
$discovery-color: #AB2328;
$alpha-color: #004986;
$beta-color: #115740;
$live-color: #000000;
