// Site Colours
$primary-color: #FFCC33;
$secondary-color: #066169;
$white: #FFFFFF;
$black: #000000;
$section-bg-grey: #262a2d;
$dark-grey: #232323;
$light-grey: #F8F8F8;
$medium-grey: #E1E4E7;
$bg-grey: #FCFCFC;
$icon-grey: #333;
$bg-color: #f9f9f9;
$wwu-blue: #22596d;

$discovery-color: #b7028e;
$alpha-color: #f90277;
$beta-color: #22a7f0;
$live-color: #6ea748;
