<div class="section error">

    <p>Nous ne trouvons pas la page que vous cherchez. Mais peut-être pouvons-nous vous trouver un emploi à la place?
        Postulez <a href="https://numerique.canada.ca/travaillez-avec-nous">ici</a> et aidez-nous à fournir des
        services numériques hors pair!
    </p>

    <p>Vous pouvez également retourner à la <a href="https://numerique.canada.ca">page d’accueil</a> ou <a
            href="#contact-us-links">nous contacter</a>. Nous serons heureux de vous aider.
    </p>

</div>