

<footer data-system="cube-cds" role="contentinfo">
  <div class="site-foot">
    <div class="region bg-gray-dark">
        <div class="site-foot__links wrapper">

            <ul role="list" class="site-foot__list theme-tools flow">

                <li><a class="color-light" href="#">Tools and resources</a></li>

                <li><a class="color-light" href="#">Accessibility</a></li>

                <li><a class="color-light" href="#">Past projects</a></li>

            </ul>

            <ul role="list" class="site-foot__list theme-career flow">

                <li><a class="color-light" href="#">Meet the team</a></li>

                <li><a class="color-light" href="#">Our values</a></li>

            </ul>

            <ul role="list" class="site-foot__list theme-primary flow">

                <li><a class="color-light" href="#">Contact us</a></li>

                <li><a class="color-light" href="#">Newsletter</a></li>

            </ul>

            <ul role="list" class="site-foot__list  flow">

                <li><a class="color-light" href="#">Roadmap to 2025</a></li>

                <li><a class="color-light" href="#">Begining the conversation</a></li>

            </ul>

        </div>
    </div>
    <div class="site-foot__fip bg-dark">
        <div class="wrapper split-pair">
            <nav class="">
                <ul class="wmms-nav" role="list">

                    <li>
                        <a href="#">Terms and conditions</a>
                    </li>

                    <li>
                        <a href="#">Privacy</a>
                    </li>

                    <li>
                        <a href="#">Visit Canada.ca</a>
                    </li>

                </ul>
            </nav>
            <a href="#" class="wmms logo" aria-label="Government of Canada">
                <object type="image/svg+xml" tabindex="-1" role="img"
                data="/img/cds/goc--footer-logo.svg"
                aria-label="{{ i18n "goc-symbol" }}"
                class="logo"></object>
            </a>
        </div>
    </div>
  </div>
</footer>

