<h2 class="section--title">Join our mailing list!</h2>
<div class="container">
    <p>Sign up to our mailing list for information on recruitment, project updates, and new posts from the CDS blog.</p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="//canada.us15.list-manage.com/subscribe/post?u=729a207773f7324e217a1d945&amp;id=eb357181d2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
            <div id="mc_embed_signup_scroll">

                <div class="mc-field-group form-group">
                    <label for="mce-EMAIL">Email address </label>
                    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                </div>

                <div id="mce-responses">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>

                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <label><span style="display:none">hidden</span>
                        <input aria-hidden="true" type="text" name="b_729a207773f7324e217a1d945_eb357181d2" tabindex="-1" value="">
                    </label>
                </div>

                <div class="submit-button-container">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="height: auto">
                </div>

                <div class="mce-privacy" style="padding-top: 9px;">
                    <a href="#privacy-notice-modal" aria-controls="privacy-notice-modal" class="overlay-lnk light-link wb-lbx" aria-label="Privacy Statement Link">Privacy Notice</a>
                </div>

            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->
</div>

<section class="mfp-hide modal-dialog modal-content overlay-def" id="privacy-notice-modal">
    <header class="modal-header">
        <h2 class="modal-title">Privacy Notice</h2>
    </header>
    <div class="modal-body">
        <p>Our newsletter feature uses <a href="https://mailchimp.com/">Mailchimp</a>, a third-party application. Sign-up is voluntary and subject to the <a href="https://mailchimp.com/legal/terms/">Terms of Use</a> for the Mailchimp platform.  When you sign up, your email address and language preference (English or French) is collected. No other personal information is collected.</p>

        <p>The collection and use of your personal information is authorized by the <em>Financial Administration Act</em>. Collection and use of your personal information for this site is in accordance with the federal <em>Privacy Act</em>. Your personal information may be used to respond to your inquiries, if applicable, and to help evaluate the effectiveness of Treasury Board of Canada Secretariat (TBS) programs in responding to client needs. In exceptional circumstances (e.g., individuals who make inappropriate remarks or threats), personal information may be disclosed without your consent pursuant to subsection 8(2) of the <em>Privacy Act</em>.</p>

        <p>Any personal information that may be collected is described in the Standard Personal Information Bank entitled <a href="http://www.infosource.gc.ca/emp/emp03-eng.asp#psu938">Outreach Activities, PSU 938</a>, which can be found in the TBS webpage <a href="https://www.canada.ca/en/treasury-board-secretariat/services/access-information-privacy/access-information/information-about-programs-information-holdings.html">Information about programs and information holdings</a>.</p>

        <p>Any questions, comments, concerns or complaints you may have regarding this Statement, your privacy rights and the Privacy Act may be directed to the TBS Access to Information and Privacy Coordinator by email at <a href="mailto:ATIP.AIPRP@TBS-SCT.gc.ca">ATIP.AIPRP@tbs-sct.gc.ca</a> or by telephone at 1-866-312-1511. You may also wish to contact the Office of the Privacy Commissioner of Canada by email at <a href="mailto:info@priv.gc.ca">info@priv.gc.ca</a> or by telephone at 1-800-282-1376. You have the right to complain to the Office of the Privacy Commissioner of Canada about the handling of your personal information by TBS.</p>
    </div>
</section>
