<section class="product-resources-cards" style="position: relative; border-bottom: 3px solid #066169;">
  <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12" >
          <h3 class='{{ if eq (string (.Site.Language)) "fr" }}fr{{end}}'>
              {{ .Params.title }}
            </h3>
      </div>
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <div >
          <p><strong>{{ .Params.subtitle }}</strong></p>
        </div>
      </div>
      <div class="col-sm-10 col-sm-offset-1 col-xs-12" >
          <p>{{ .Params.description }}</p>
      </div>
  </div>
  <div class="positioned">
      <div class="cta cta--resources-green" style="margin-bottom: 0; border-bottom: 0;">
        <div class="cta__link">
          <a href="" id="">{{ .Params.buttonText }}
            <span class="visually-hidden"></span>
            <svg width="16" height="16"
              viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 9H0V7H8V0L16 8L8 16V9Z" />
            </svg></a>
        </div>
      </div>
  </div>
</section>