<nav class="social-links-footer" aria-label='{{i18n "contact-us"}}' >
  <span id="contact-us-links">{{i18n "contact-us"}}</span>

  <p style="display: none" aria-hidden="false">{{ i18n "options-below" }}</p>
  <ul class="contact-info contact-info-social">
    <li>
      <div class="contact-icon">
        <a title="Twitter" href="https://twitter.com/{{ i18n "twitter" }}">
          <i class="icon-twitter"></i>
        </a>
      </div>
    </li>
    <li>
      <div class="contact-icon">
        <a title="LinkedIn"
           href="https://linkedin.com/company/{{$.Site.Data.contact.linkedin}}">
          <i class="icon-linkedin"></i>
        </a>
      </div>
    </li>
    <li>
      <div class="contact-icon">
        <a title="Github"
           href="https://github.com/{{.Site.Data.contact.github}}">
          <i class="icon-github"></i>
        </a>
      </div>
    </li>
    <li>
      <div class="contact-icon">
        <a title="Youtube"
           href="https://www.youtube.com/channel/UC7LZmDau701R-Tbs3c7miMQ">
          <i class="icon-youtube"></i>
        </a>
      </div>
    </li>
    <li>
      <div class="contact-icon">
        <a title="Mailchimp"
           href={{ index $.Site.Data.contact.mailchimp (string ($.Site.Language)) "url" }}>
          <i class="icon-mailchimp"></i>
        </a>
      </div>
    </li>
    <li>
      <div class="contact-icon">
        <a title="Email" href="mailto:{{ .Site.Data.contact.email }}">
          <i class="icon-envelope"></i></a>
      </div>
    </li>
  </ul>
</nav>
