{{ define "title" }}
    <div class="page-banner">
        {{ partial "menu.html" . }}
        <div class="page-banner--tag-line">
            <section class="page-wide--outer-container-padding">
                <div class="row">
                    <div class="col-sm-offset-1 page-banner--container">
                        <div class="page-banner--tag-line--logo-container col-xs-12 col-sm-3">
                            <object type="image/svg+xml" tabindex="-1" data="/img/cds/cds-logo-{{ string (.Site.Language) }}-v2.svg" class="page-banner--tag-line--logo"></object>
                            <h1 class="wb-inv">{{ i18n "canadian-digital-service" }}</h1>
                        </div>
                        <div class="h1 col-xs-12 col-sm-8 col-md-8">{{ i18n "homepage-tag-line" }}</div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{{ end }}
{{ define "index" }}
  <section class="section section--featured-blogposts">
    <div class="container">
      <div class="row">
        <div class='col-xs-10'>
          <h2>{{i18n "featured-post" }}</h2>
        </div>
        <div class='col-xs-2'>
          <a href="{{ with $.Site.GetPage "blog" }}{{.URL}}{{ end }}"
             class='title-link'>
            {{i18n "more-posts" }}
            <i class='fas fa-arrow-circle-right'></i>
          </a>
        </div>
      </div>
      <div class="row blog-posts">
        {{ $posts := where .Pages "Section" "blog" }}
        {{ range first 3 $posts }}
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class='post'>
              <div class="image"
                   style="background-image:url('{{ .Params.thumb }}')"></div>
              <div class="text">
                <h3>{{ .Params.title }}</h3>
                <div class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
              </div>
              <a href="{{ .RelPermalink }}">
                {{ i18n "read-more" }}
                <i class='fas fa-arrow-circle-right'></i>
              </a>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>

  <section class="section section--mailing-list">
    {{ $path := printf "%s%s%s" "mailing-list." (string ($.Site.Language)) ".html" }}
    {{ partial  $path }}
  </section>
{{ end }}
