{{ define "title" }}
  {{ partial "menu.html" . }}
{{ end }}

{{ define "index" }}



  <div class="container homepage--what-we-do">
    <section class='section'>
      <div class='row'>
        <div class='col-xs-12 col-md-8'>
          <p>{{ i18n "how-we-work" }}</p>
        </div>
        <div class='col-xs-12 col-md-4 title-align'>
          <a href="{{ with $.Site.GetPage "products" }}{{.URL}}{{ end }}" class='title-link'>
            {{ i18n "more-posts" }} <i class='fas fa-arrow-circle-right'></i>
          </a>
        </div>
      </div>

      <div class='row equal'>
        {{ $posts := where .Pages ".Section" "==" "products" }}
        {{ $homepage := where $posts ".Params.onhomepage" true }}
        {{ range $idx, $post := first 4 $homepage }}
          {{ if and (ne $idx 0) (eq (mod $idx 2) 0) }}
            </div>
            <div class='row equal'>
          {{ end }}

          <div class="col-xs-12 col-md-6">
            <div class='post border-{{.Params.phase}}'>
              <h3>{{ $post.Params.title }}</h3>
              {{ if gt (len $post.Params.partners) 0 }}
                {{ range $post.Params.partners }}
                  <p>{{ .name }}</p>
                {{ end }}
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    </section>
  </div>

  <section class="section homepage--our-team">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <h2>{{ i18n "great-team" }} ...</h2>
          <p>{{ i18n "say-hello" }}</p>
        </div>
        <div class="col-md-4 col-xs-12 btn">
          <a href="{{ with $.Site.GetPage "meet-the-team" }}{{.URL}}{{ end }}">
            {{ i18n "meet-the-team" }}
          </a>
        </div>
      </div>
    </div>

    <img src="/img/cds/team-photo.jpg"
         class="img-fluid"
         alt="{{ i18n "cds-team" }}" />

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <h2>... {{ i18n "but-need-help" }}</h2>
          <p>{{ i18n "product-impact" }}</p>
        </div>
        <div class="col-md-4 col-xs-12 btn">
          <a href="{{ with $.Site.GetPage "join-our-team" }}{{.URL}}{{ end }}"
             class='apply-now'>{{ i18n "apply-now" }}</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--featured-blogposts">
    <div class="container">
      <div class="row post-header">
        <div class='col-xs-12 col-md-9'>
          <h2>{{i18n "featured-post" }}</h2>
        </div>
        <div class='col-xs-12 col-md-3'>
          <a href="{{ with $.Site.GetPage "blog" }}{{.URL}}{{ end }}"
             class='title-link'>
            {{i18n "more-posts" }}
            <i class='fas fa-arrow-circle-right'></i>
          </a>
        </div>
      </div>
      <div class="row blog-posts">
        {{ $posts := where .Pages "Section" "blog" }}
        {{ range first 3 $posts }}
          <div class="col-xs-12 col-md-4">
            <div class='post'>
              <div class="image"
                   style="background-image:url('{{ .Params.thumb }}')"></div>
              <div class="text">
                <h3>{{ .Params.title }}</h3>
                <div class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
              </div>
              <a href="{{ .RelPermalink }}">
                <span class="underline">{{ i18n "read-more" }}</span>
                <!-- {{ i18n "read-more" }} -->
                <i class='fas fa-arrow-circle-right'></i>
              </a>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>

  <section class="section section--mailing-list">
    {{ partial "mailing-list.html" }}
  </section>
{{ end }}
