---
layout: cds/page
title: 'Contact'
permalink: digital.canada.ca/contact/
category: digital.canada.ca
lang: en
ref: contact
description: "Connect with the Canadian Digital Service team."
trans_url: '/contactez-nous'
---

<section class="section page-contact">
	<h2 class="section--title">Connect with us!</h2>

	<div class="contact-info-container">
		{% include cds/contact-info.html %}
	</div>
	
</section>
<section class="section section--mailing-list no-bg">
	<a name="mailing-list"></a>
	{% include cds/mailing-list.html %}
</section>