{{ define "main" }}
<section>
    <div class="container">
        <div class="row">
            <div style="display: flex; justify-content: center;">
                <img style="width: 90%;" src="/img/cds/cds-strategy-header.svg" /> 
            </div>
            <h2 style="font-size: 45px;">Our approach</h2>
            <h2>Empower government to serve people better</h2>
        </div>
        <ul>
            <li><a href="#what-am-I-reading">What am I reading?</a></li>
            <li><a href="#why-now">Why now?</a></li>
            <li><a href="#how-we-got-here">How we got here?</a></li>
            <li> <a href="#how-we-try-to-help">How we try to help: our active theories of change</a></li>
            <li><a href="#efforts">Efforts underway and near-term goals</a></li>
            <li><a href="#our-approach">How we approach this work as a team</a></li>
            <li><a href="#potential">The potential for greater impact</a></li>
            <li><a href="#feedback">We’d love to hear from you!</a></li>
        </ul>
    </div>
</section>
<section class="bg-med-grey">
    <div class="container">
        <h3 id="what-am-I-reading">What am I reading?</h3>
        <p>
            We’re sharing our thinking about the ways we are currently trying to advance our mandate, including our
            near-term goals as we enter 2022-23, and, critically, why: why we’ve invested in partnership services,
            platform components, working in the open, and the removal of policy blockers as we try to empower our fellow
            public servants who are working hard to serve people better. This document also touches on some of our
            opportunities to meet greater demand and deliver greater impact.
            This is not a full forward strategy, nor does it set detailed or long-term goals. We are in the process of
            hiring a new leader for CDS, and they will have the space to engage our team, partners, and stakeholders and
            set that forward direction.
            Like all things CDS, our thinking here is “evergreen” and will remain responsive to further lessons learned,
            opportunities, and <a href="#feedback">feedback</a>
        </p>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div style="display: flex;">
                <div style="flex: 0 0 100%">

                    <h3 id="why-now">Why now?</h3>
                    <p>
                        The Canadian Digital Service (CDS) is almost five years old. We are reflecting on our progress,
                        where we’ve fallen short, and what we’ve learned, as we continue to reckon with the critical
                        imperative for governments to better meet the needs of the people they serve. Here’s why:
                    </p>
                    <ul>
                        <li>
                            <strong>Renewed urgency:</strong> We were established with a mandate to help departments and
                            agencies change how they deliver services to the public. For two of our nearly five years,
                            we’ve accompanied the country and world through a global pandemic. We have seen governments
                            bring flexibility and urgency to the digitization of services and benefits, to respond to
                            the crisis; we have also seen where the absence of capabilities or readiness hindered
                            responsiveness. “There’s no going back to the old normal” is an increasingly popular,
                            resonant sentiment. In this time of great change and uncertainty, the call for governments
                            to deliver trusted information and responsive, inclusive programs and services that meet
                            people’s needs cannot be overstated.
                        </li>
                        <li>
                            <strong>A natural inflection point:</strong> We participated in an <a
                                href="https://www.canada.ca/en/treasury-board-secretariat/corporate/reports/evaluation-canadian-digital-service.html">evaluation
                                of CDS</a>, which added to our lessons learned from over four years of operations. It
                            also acknowledged the tension between new and old ways of working and raised important
                            questions about our capacity to address growing demand and the ambition of our mandate with
                            current resources. CDS also secured ongoing funding through Budget 2021. Among other things,
                            this permanency means that we can offer government-wide services like <a
                                href="https://notification.canada.ca/">GC Notify</a> with the confidence that we will be
                            around to maintain and improve them.
                        </li>
                        <li>
                            <strong>New leadership:</strong> Finally, our inaugural Chief Executive Officer (CEO) and
                            Assistant Deputy Minister, Aaron Snow, ended his tour of service with us in September 2021.
                            CDS is now in the process of <a
                                href="https://digital.canada.ca/2022/02/14/are-you-the-canadian-digital-services-next-ceo/">hiring
                                a new CEO</a> to boldly lead us through our second chapter and help us scale up our
                            impact to its full potential.
                        </li>
                    </ul>
                    <h3 id="how-we-got-here">How we got here?</h3>
                    <p>
                        CDS was established as a part of the Treasury Board Secretariat (TBS) in 2017 and works with
                        partners across the federal government. CDS is a relatively small team (~120 people) with a big
                        mandate from Cabinet. That mandate is to help government departments improve how they design and
                        deliver public-facing services.
                    </p>
                    <p>
                        As a part of the government’s digital “centre”, CDS works alongside and complements the
                        important technology and service remits of partners at TBS, Shared Services Canada (SSC), Public
                        Services and Procurement Canada (PSPC), and Service Canada.
                    </p>
                    <p>
                        Through four years of partnering with, serving, and listening to departments and agencies, we’ve
                        witnessed common themes and pain points which inhibit government's ability to adopt the tools
                        and practices necessary for delivering on its core functions. We’ve heard, first hand, this
                        frustration from public servants working hard to deliver front line services, roll out critical
                        benefits, or respond to crises in Canada and abroad. We want to make it easier for them to use
                        modern methods and tools that reduce the risk of failure, lower costs, ensure users’ privacy and
                        system security, and, above all, improve people’s lives by putting their needs front and centre.
                        We want to empower government to serve people better.
                    </p>

                    <h3 id="how-we-try-to-help">How we try to help: our active theories of change</h3>
                    <p>CDS is currently invested in four main theories of change to achieve progress towards our
                        mandate: complementary ways we believe we can support and empower departments as they change how
                        they design and deliver services to better meet people’s needs.</p>
                    <ol>
                        <li>
                            <strong>Providing tailored help through partnerships:</strong> We help departments make timely design and
                            technology decisions, build their digital capabilities, and adopt new ways of working.
                        </li>
                        <li>
                            <strong>Building and scaling platform services:</strong> We build common components for common service steps
                            that any department can use to make it easier to deliver better services.
                        </li>
                        <li>
                            <strong>Working in the open:</strong> We share how we work and what we are working on at CDS in order to help
                            others learn from our experiences and provide their insights.
                        </li>
                        <li>
                            <strong>Driving policy changes to remove blockers:</strong> We advocate for and inform policy changes,
                            grounded in delivery experience, that make it easier for departments to adopt agile,
                            human-centred practices.
                        </li>
                    </ol>
                    <p>
                        To state the obvious: this is by no means a complete list of the ways a digital government unit
                        can create change. We’ve considered others along the way. Our domestic and international
                        counterparts have used varying portfolios of these theories of change. Federally, some are the
                        remit of other organizations (e.g., standard-setting in the Office of the Chief Information
                        Officer). Others don’t match our current authority (we’re fundamentally a carrot, not stick,
                        organization), or we have not yet been able to prioritize or resource them.
                    </p>
                    <p>
                        Our objective here is to describe the primary ways we currently aim to help and to amplify — and
                        why. This evolves over time. When we were created in mid-2017, for example, we foresaw but did
                        not immediately take on platform services. We didn’t launch <a
                            href="https://notification.canada.ca/">GC Notify</a> until late 2019, and now platform
                        services are central to our strategy. We will continue to pivot.
                    </p>

                    <h3 id="efforts">Efforts underway and near-term goals</h3>
                    <p>As we head into 2022-23 and new leadership for CDS, our near-term goals underpin how we hope to
                        advance our four active theories of change. Our relative size and funding requires continued
                        careful prioritization of efforts and close collaboration with partners in order to have an
                        outsized impact for the people we serve. </p>
                    <h4>Partnership services</h4>
                    <p>Improving how the Government of Canada designs and delivers federal services is a massive
                        undertaking; one that must be accomplished while departments continue to serve the public,
                        around the clock. A strong, resilient public service is one with the internal capacity to
                        deliver consistent, reliable, secure, accessible, and — consequently — trusted, federal public
                        services. While many service delivery teams face common blockers, their specific challenges,
                        experiences, capabilities, and opportunities can still vary widely. </p>
                    <p>Based on our lessons learned through delivery to date, we’ve shifted our partnership services
                        from an initial product-focused approach, (“we’ll design and build a product for you”) to an
                        enablement-focus (“we’ll help you change how you design, build, buy, and maintain a service
                        yourself”). With this pivot, we can meet departments where they are, help them take stock, and
                        move at the speed of trust to provide the tailored support they need. In doing so, we believe we
                        can effect more impactful and measurable change. </p>
                    <p>CDS partnerships are a direct investment in public-facing services, designed to help departments
                        make design and technology decisions, build their in-house digital capabilities, and adopt new
                        ways of working, so they can continually improve how they serve the public. We’re a digital
                        government consulting team, inside government, for government. We’re here to help by bringing
                        expertise informed by hands-on delivery experience at scale from the private and public sectors.
                        The progress we make and value we add will be measured by the extent to which we help
                        departments build their digital capabilities, so they can deliver great service experiences.</p>
                    <span><strong>Goal: Continue to experiment with and expand the impact of our partnership
                            services.</strong></span>
                    <ul>
                        <li>
                            Provide advice and coaching to departments that helps them make timely design and technology
                            decisions and build their in-house digital capabilities, so they can overcome specific
                            hurdles and improve their performance against the <a
                                href="https://www.canada.ca/en/government/system/digital-government/government-canada-digital-standards.html">Government
                                of Canada Digital Standards</a>.
                        </li>
                        <li>
                            Launch and continuously expand a new learning resources service, to help public servants
                            designing and delivering services by publishing practical, relevant, bilingual examples,
                            based on CDS’s delivery experience and digital expertise, that empower them to make the case
                            for change.
                        </li>
                        <li>
                            Design and pilot a new partnership offering, focussed on enabling the conditions for change,
                            by dedicating a CDS team to embed in and work directly with a department over an extended
                            period, to help them build their digital capabilities and adopt new ways of working in how
                            they design and deliver their priority services.
                        </li>
                        <li>
                            Continue to surface data, insights, and lessons learned through the delivery of partnerships
                            services, to help us better understand departmental needs and realities, evaluate our
                            service offerings, and improve our impact.
                        </li>
                    </ul>
                    <h4>Platform services</h4>
                    <p>Platform services are a scale play — a one-to-many amplifier — addressing prevalent service
                        delivery needs with common technology components. Departments can add these components to
                        existing services or use them as building blocks for new ones.</p>
                    <ul>
                        <li>
                            For the users of these services, it means that their interactions with government are more
                            consistent, reliable, secure, accessible, and — consequently — trusted.
                        </li>
                        <li>
                            For the government organizations that can easily integrate platform components into their
                            services (often on a self-serve, largely plug-and-play basis), it means they can deliver new
                            or improved services to the public more quickly.
                        </li>
                        <li>
                            And these benefits can come at lower cost, as departments avoid reinventing the wheel in
                            each organization.
                        </li>
                    </ul>
                    <p>This is why, from the U.S. to France, from Argentina to the U.K., platform services have become a
                        common fixture of successful digital transformation efforts in governments. This is why they are
                        central to our approach.</p>
                    <p>Our philosophy is to build platform components so good that departments will want to use them,
                        rather than be mandated to do so. </p>
                    <ul>
                        <li>
                            Our platform services are secure, bilingual, accessible, and tested with users and public
                            servants. They are designed to meet federal requirements out of the box — and to be easy to
                            adopt. Because they generally scale at marginal cost, platform services are free up to
                            certain heavier-use thresholds. And they are backed by CDS teams that will continue to
                            maintain and improve the components.
                        </li>
                        <li>
                            Our platform components have demonstrated value for improving tens of millions of
                            interaction points in the past twelve months, including sending personalised messages to
                            individuals, publishing time-sensitive information to segments of the public, accessing up
                            to date content online, and completing a form.
                        </li>
                    </ul>
                    <p>This year, we will continue to develop platform components as standalone products while also
                        piloting and testing models for departments to link these components together with the
                        intentions of building services end-to-end.</p>
                    <span><strong>Goal: Scale up the impact of our existing platform service offerings.</strong></span>
                    <ul>
                        <li>Continue to scale <a href="http://notification.canada.ca">GC Notify</a>, with the objectives
                            of increasing by 40% the number of active monthly services, having over 65 million
                            notifications sent by March 31, 2023, and onboarding 50+ net new services.</li>
                        <li>Increase the use and impact of <a
                                href="https://forms-formulaires.alpha.canada.ca/en/welcome-bienvenue">GC Forms</a> by
                            supporting the hosting of protected B forms for federal clients and enabling easy
                            integration with existing business processes, with the objective of having the product
                            complete over 7,000 transactions in 2022-23, a 7x increase over the previous year.</li>
                        <li>Continuously improve the quality and reliability of our platform services through research,
                            testing, and measurement, including by ensuring all of our platform services (a) meet or
                            exceed WCAG 2.1 standards; (b) are supported 24/7 and have 99.9% service uptime; and (c) use
                            direct research and testing with both members of the public and the government colleagues
                            who use platform components, including those who are marginalised and/or underserved, to
                            drive improvements.</li>
                    </ul>
                    <span><strong>Goal: Release and continue to pilot new platform services to address more of the
                            common needs people have when interacting with government. Specifically, CDS
                            will:</strong></span>
                    <ul>
                        <li>Launch and iterate on GC Articles, an articles web publishing platform that is open source,
                            easy to use, and cheap to maintain — and that we hope will speed up publishing for pilot
                            participants.</li>
                        <li>Continue to build and test a new GC design system prototype that CDS is developing in
                            collaboration with partners at the TBS Digital Transformation Office (DTO), the Principle
                            Publisher team at Service Canada, and departments.</li>
                    </ul>
                    <h4>Working in the open</h4>
                    <p>Like platform services, “working in the open” is a common feature of many digital government
                        units around the world. As our Government Digital Service (GDS) colleagues in the U.K. put it:
                        make things open; it makes things better. At CDS, we strive to share our code, resources,
                        work-in-progress, community, and lessons openly. As a theory of change, we believe this allows
                        others across the Public Service to:</p>
                    <ul>
                        <li>learn along with us;</li>
                        <li>reuse or adapt our code, tools, guides, and resources in their own context; </li>
                        <li>have greater confidence when using our platform or other services; and, we hope,</li>
                        <li>occasionally draw inspiration (or caution!) from our own experiences and lessons.</li>
                    </ul>
                    <p>This is why we <a href="https://digital.canada.ca/blog/">blog</a> about a variety of our
                        experiences, including how to acquire modern tools, how to hire digital professionals, and how
                        our work progressed on various projects. We’ve also published tools and guides in areas like <a
                            href="https://digital.canada.ca/guides/guide-interviewing/">design research</a>, <a
                            href="https://digital.canada.ca/a11y/">accessibility</a>, <a
                            href="https://digital.canada.ca/guides/evaluation-framework/">product evaluation</a>, and <a
                            href="https://cds-snc.github.io/technical-playbook-manuel-technique/">software
                            development</a> to help support these growing fields. Our team members facilitate and
                        participate in communities of practice; speak at events geared to public servants; and teach at
                        the Canada School of Public Service <a
                            href="https://www.csps-efpc.gc.ca/digital-academy/index-eng.aspx">Digital Academy</a>.</p>
                    <p>Working in the open has several additional transparency and accountability benefits:</p>
                    <ul>
                        <li>it enables others to contribute to and critique our work, which makes it better.</li>
                        <li>it supports stakeholder and public scrutiny of, and trust in our services; and</li>
                        <li>it supports recruitment, because candidates can easily check out our work.</li>
                    </ul>
                    <p>Open source is the core of our work in the open. CDS’s code for the products it builds is <a
                            href="https://github.com/cds-snc">public, on GitHub</a>. Open source software development
                        means we can take, or fork, the open source code from other organisations and customize and
                        build upon it for our own needs. We’ve forked other governments’ projects, contributed back, and
                        had ours forked by others.</p>
                    <p>Other parts of working in the open can be tougher — whether it’s balancing time and focus between
                        delivery and storytelling, or struggling with how to talk about a failure — especially one that
                        involves the trust of a partner. We want to get better at the work-in-progress and
                        lesson-sharing parts of working in the open: to do it more regularly and to be more open and
                        vulnerable about the times we come up short — and what we learn from those occasions to help us
                        get better.</p>

                    <span><strong>Goal: Do more of our work in the open, to help others leverage our efforts and learn
                            along with us, and to showcase the impact of service delivery on people in
                            Canada.</strong></span>
                    <ul>
                        <li>Reposition CDS’s public presence to support awareness and adoption of our services within
                            the GoC, while supporting the recruitment of digital professionals; </li>
                        <li>Complete current website roadmap to build the foundations of a high-impact, accessible and
                            usable site that serves users while showcasing the tools available in the CDS Platform
                            Product Suite;</li>
                        <li>Increase readership of blog posts and guidance , while highlighting people who use
                            government services or sharing the stories of public servants who have worked to keep user
                            needs first; and</li>
                        <li>Build capacity for working in the open by continuing to share stories, code, product
                            documentation, policy, work-in-progress, guides, templates, and more. </li>
                    </ul>

                    <h4>Driving policy changes to remove blockers</h4>
                    <p>Throughout the federal government, there are policies, processes, and myths that unnecessarily
                        impede departments’ ability to deliver user-centric services. While restraints and oversight on
                        the spending of public funds are necessary and important, doing so to the detriment of effective
                        service delivery hinders — rather than helps — the people that rely on government services.
                        These blockers to delivery can live in legislation or policy, or result from overly strict
                        interpretations of this direction.</p>
                    <p>Over the past five years, we’ve identified some common pain points for departments. Just a few
                        examples include:</p>
                    <ul>
                        <li>There is too much documentation and certainty requested at the beginning of software
                            development, and too strict an adherence to a multi-year timetable, meaning it can take
                            years for a single line of code to be written for a new service and tested with users, and
                            substantial resources can be invested in building the wrong thing;</li>
                        <li>It is difficult for government to integrate new digital professions that are common in the
                            private sector, such as product managers and design researchers;</li>
                        <li>It is difficult to compensate people participating in design research, despite the fact that
                            doing so is an important part of internationally-recognized ethics standards; and</li>
                        <li>Finding funds for building a digital service can take years, and even then, funds are
                            dispersed based on milestones versus outcomes for users.</li>
                    </ul>
                    <p>Since its inception, identifying and removing blockers has been core to CDS’s work. We can’t help
                        departments deliver great services if they’re weighed down by processes that don’t improve
                        outcomes for people. In our work with departments, we identify common areas where delivery teams
                        are struggling and work in different ways to help resolve them, such as:</p>
                    <ul>
                        <li>working with TBS policy centres to shine a light on pain points and recommend and help make
                            changes to the TBS Policy Suite;</li>
                        <li>busting myths as to how policies should be interpreted and applied; or</li>
                        <li>helping departments understand when to seek an exemption from a rule.</li>
                    </ul>
                    <p>Removing a blocker is not as simple as changing a rule; it requires evidence gathering, designing
                        and testing a solution, and sustained encouragement to adopt a new way of working. </p>
                    <span><strong>Goal: Continue to work with partners at TBS, SSC, and elsewhere to make changes to
                            policies and processes to better enable digital delivery and access to modern
                            tools.</strong></span>
                    <ul>
                        <li>Develop policy solutions that enable design research, including a mechanism for government
                            to compensate research participants.</li>
                        <li>Recommend changes to job classification processes and standards to (a) more easily recruit
                            and promote senior individual technology contributors; (b) more clearly outline transparent
                            career progression paths for existing public servants; and (c) more easily integrate new
                            digital professions into the Public Service in a manner that is consistent and understanding
                            of labour market realities. </li>
                        <li>Develop and test out new ways of funding digital platform services, so they can scale
                            faster.</li>
                        <li>Publish research-informed guidance on how government departments can effectively work with
                            civic technology groups to improve service delivery.</li>
                        <li>Continue to test cloud-based tools that facilitate design, software development, and team
                            collaboration, working with partners to establish or refine procurement vehicles to make
                            such tools more readily available for delivery teams across government.</li>
                    </ul>

                    <!-- How we approach this work as a team -->
                    <h2 id="our-approach">How we approach this work as a team</h2>
                    <p>Advancing these theories of change and having an outsized impact relies on the strength and
                        continuous improvement of critical enabling operations at CDS. </p>
                    <ul>
                        <li><strong>Awareness and opportunity-spotting:</strong> Engaging more people and
                            decision-making tables across government to raise awareness of our services, in line with
                            our <a
                                href="https://www.canada.ca/en/treasury-board-secretariat/corporate/reports/evaluation-canadian-digital-service.html">commitments
                                following our recent evaluation</a> (see Appendix C, “Management Response and Action
                            Plan”), and identify opportunities for us to help departments.</li>
                        <li><strong>Reliability, security, accessibility, and official languages:</strong> We will
                            continue to invest in those functions that underpin our ability to offer departments high
                            quality, well-run and -maintained platform products for the long run: dedicated CDS-level
                            and platform-level Site Reliability Engineering (SRE) expertise; a platform team dedicated
                            to security and support; in-house bilingual content capabilities; training programs focused
                            on security and accessibility; and close work with partners such as OCIO’s cybersecurity
                            team. </li>
                        <li><strong>Talent:</strong> Our people are the core of everything we do. We are focused on
                            maintaining and strengthening our established talent pipeline, continuing to recruit from
                            within and outside government, with a dedicated focus on expanding the diversity of our
                            teams and leadership. We are also putting time, effort, and resources into building a more
                            inclusive, equitable CDS. We will remain distributed across the country, coast to coast to
                            coast, and we’re excited to continue adding amazing, talented people who are passionate
                            about making public services better.</li>
                        <li><strong>Tooling and empowerment:</strong> As we noted in <a
                                href="https://digital.canada.ca/roadmap-2025/">Roadmap 2025</a>, we believe in the
                            potential of empowered teams to build services that meet people’s needs. Empowerment means a
                            lot of things, but it includes providing our employees with the tools and learning
                            opportunities they need to do their best work, including to pilot new tooling options for
                            government-wide availability, and maintaining a culture of iterative improvement and
                            learning from failure, including through blameless post-mortems.</li>
                    </ul>

                    <h2 id="potential">The potential for greater impact</h2>
                    <p>We are continuously iterating to adjust for lessons learned, to better help departments, and to
                        have a greater impact. Among other things, we reflect frequently on unmet demand: problem spaces
                        we’ve heard about from departments that we mostly don’t have the capacity to tackle today, with
                        our existing commitments, priorities, and resources — but that do fit our mandate and types of
                        capabilities. <strong>For example:</strong></p>
                    <ul>
                        <li><strong>Talent as a service:</strong> Departments have asked for advice and hands-on support
                            with hiring for specialized roles and structuring and empowering digital teams</li>
                        <li><strong>Wider use of platform services:</strong> During the pandemic, we’ve been approached
                            by provinces interested in using our platform components. We know that provincial,
                            territorial, and municipal governments are all trying to solve relatively similar digital
                            service problems to federal ones. We were excited to see the <a
                                href="https://budget.gc.ca/2022/report-rapport/chap9-en.html#2022-2">proposed
                                legislative changes committed to in Budget 2022</a> (see: “Embracing Digital Government”
                            in section 9.2), which would put us in a position to help meet this demand.</li>
                        <li><strong>Fire-fighting (/surge/strike) capability:</strong> We’ve seen an increased demand
                            for in-house ability to “fire-fight” — to rapidly build emergency or priority services or to
                            repair and re-launch existing services which are experiencing acute challenges.</li>
                        <li><strong>Procurement:</strong> We frequently get asked to help ensure that a department or
                            agency is approaching and structuring a procurement in a way that will reduce risk and yield
                            the best digital advice, services, or tools.</li>
                    </ul>
                    <h2 id="feedback">We’d love to hear from you!</h2>
                    <p>Do you have thoughts about what you’ve read here? Please don’t be shy. You can start a
                        conversation in the open (on <a href="https://twitter.com/cds_gc">Twitter</a> or <a
                            href="https://www.linkedin.com/company/cds-snc/mycompany/">LinkedIn</a>) or write to us
                        privately at <a href="mailto:cds-snc@tbs-sct.gc.ca">cds-snc@tbs-sct.gc.ca</a>. Changing how we
                        serve people in government is challenging work, and we want to get better at it and have more
                        impact at scale. We welcome your feedback.</p>
                    <div id="scroll-button-mobile">
                        <button>scroll to top <img src="/img/cds/scroll-top-arrow.svg" /></button>
                    </div>

                </div>

                <div id="scroll-button">
                    <div class="scroll-btn" id="scroll-butn">
                        <img src="/img/cds/scroll-top-arrow.svg" />
                        <p>Scroll</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
{{ end }}