{{ define "main" }}
{{ .Content }}
<section class='partnerships-info'>
  <div class="container">
    <!-- Partnerships intro -->
    <div class="row checklist">
      <div class="col-xs-12">
        <p>{{ i18n "coaching-and-advice-intro" | safeHTML }}</p>
      </div>
      <div class="col-xs-12">
        <h2><strong>{{ i18n "coaching-and-advice-checklist-title" }}</strong></h2>
        <ul class="coaching-and-advice">
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-checklist-item-one" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-checklist-item-two" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-checklist-item-three" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-checklist-item-four" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-checklist-item-five" }}</li>
        </ul>
      </div>
      <div class="col-xs-12">
        <h2><strong>{{ i18n "coaching-and-advice-checklist-two-title" }}</strong></h2>
        <ul class="coaching-and-advice">
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-checklist-two-item-one" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-checklist-two-item-two" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-checklist-two-item-three" }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class='bg-full bg-full--orange'>
  <div class="container">
    <div class="col-xs-12">
      <h2><strong>{{ i18n "coaching-and-advice-contact-us-title" }}</strong></h2>
      <p class="description">{{ i18n "coaching-and-advice-contact-us-description" }}</p>
      <a href={{ i18n "coaching-and-advice-contact-us-link" }} id="coaching-and-advice-contact-us-id">
        {{ i18n "coaching-and-advice-contact-us" }}
      </a>
    </div>
  </div>
</section>

<section class="section section--mailing-list">
  {{ partial "mailing-list.html" }}
</section>

{{ end }}