{{ define "main" }}
{{ .Content }}
<section class='partnerships-info'>
  <div class="container">
    <!-- Partnerships intro -->
    <div class="row checklist">
      <div class="col-xs-12">
        <p>{{ i18n "coaching-and-advice-intro" | safeHTML }}</p>
      </div>
      <div class="col-xs-6">
        <h2><strong>{{ i18n "coaching-and-advice-how-we-can-help-title" }}</strong></h2>
        <ul class="coaching-and-advice">
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-how-we-can-help-c1" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-how-we-can-help-c2" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-how-we-can-help-c3" }}</li>
        </ul>
      </div>
      <div class="col-xs-12">
        <h2><strong>{{ i18n "coaching-and-advice-our-advice-title" }}</strong></h2>
        <ul class="coaching-and-advice">
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-our-advice-c1" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-our-advice-c2" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-our-advice-c3" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-our-advice-c4" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-our-advice-c5" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-our-advice-c6" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-our-advice-c7" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-our-advice-c8" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-our-advice-c9" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-our-advice-c10" }}</li>
        </ul>
      </div>
      <div class="col-xs-12">
        <h2><strong>{{ i18n "coaching-and-advice-eligible-title" }}</strong></h2>
        <ul class="coaching-and-advice">
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-eligible-c1" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-eligible-c2" }}</li>
          <li><i class="fas fa-check"></i>{{ i18n "coaching-and-advice-eligible-c3" }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class='bg-full bg-full--orange'>
  <div class="container">
    <div class="col-xs-12">
      <h2><strong>{{ i18n "coaching-and-advice-how-it-works" }}</strong></h2>
      <ul style="list-style-type: none; padding-left: 0;">
        <li>{{ i18n "coaching-and-advice-how-it-works-c1" }}</li>
        <li>{{ i18n "coaching-and-advice-how-it-works-c2" }}</li>
        <li>{{ i18n "coaching-and-advice-how-it-works-c3" }}</li>
      </ul>
      <div>
        <h2 style="margin-bottom: 5rem;"><strong>{{ i18n "coaching-and-advice-contact-us-title" }}</strong></h2>
        <a href={{ i18n "coaching-and-advice-contact-us-link" }} id="coaching-and-advice-contact-us-id">
          {{ i18n "request-coaching-and-advice-button" }}
        </a>
      </div>
    </div>
  </div>
</section>

<section class='partnership-products' id='partnership-products' name='partnership-products'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <h2><strong>{{ i18n "coaching-and-advice-past-work" }}</strong></h2>
      </div>
    </div>
  </div>

  {{ $products := where .Site.Pages ".File.Dir" "==" "products/products/" }}
  <div class='container'>
    <div class='row equal'>
      {{ range $elem_index, $elem_val := $products }}
      {{ if and (ne $elem_index 0) (eq (mod $elem_index 2) 0) }}
    </div>
    <div class='row equal'>
      {{ end }}
      <div class='col-md-6 col-xs-12'>
        {{ partial "partnerships_product_item" $elem_val }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="section section--mailing-list">
  {{ partial "mailing-list.html" }}
</section>

{{ end }}