{{ define "main" }}
<section class="page--outer-container-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <p>Ministère : Secrétariat du Conseil du Trésor du Canada</p>
                <p>Secteur : Service numérique canadien</p>
                <p>Titre du poste : Directeur du talent et des opérations internes</p>
                <p>Groupe et niveau : EX-01</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Études</h2>
                <p>Grade d'un établissement d’enseignement postsecondaire reconnu ou combinaison acceptable d'études, de formation et/ou d'expérience.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Expérience</h2>
                <p>E1 – Expérience appréciable* et récente** dans l’application des pratiques RH modernes pour améliorer l’acquisition de talents et l’expérience des employés dans un environnement numérique ou transformationnel***.</p>
                <p>E2 – Expérience dans la gestion de la stratégie et des changements dans une organisation complexe****.</p>
                <p>E3 – Expérience appréciable* dans l'établissement et le maintien de relations de travail efficaces avec de hauts fonctionnaires (niveau de sous-ministre adjoint ou équivalent et supérieur) dans des organisations telles que : les ministères ou organismes fédéraux, d'autres niveaux de gouvernement, le secteur privé, les organisations/institutions sans but lucratif.</p>
                <p>E4 - Expérience de la formulation d'analyses et de conseils stratégiques à la haute direction *****.</p>
                <p>E5 - Expérience de la gestion des ressources humaines et de la gestion des ressources financières.</p>
                
                <br>
                <p>*Par “appréciable”, on entend l’ampleur et l’étendue de l’expérience habituellement associée à l’exercice de ces fonctions pendant une période d’environ deux ans.</p>
                <p>**Par “récente”, on entend l’expérience habituellement acquise au cours des cinq dernières années.</p>
                <p>***Par “transformationnel”, on entend une organisation qui est en mouvement et en changement constant.</p>
                <p>****Par “complexe”, on entend au moins deux (2) des caractéristiques suivantes : risques et impacts commerciaux importants, multidimensionnels, sensibles, touchants de nombreux partenaires ou parties prenantes, créant un précédent ou ayant un profil public important.</p>
                <p>*****Par “haute direction”, on entend un directeur exécutif et supérieur ou un dirigeant ayant un pouvoir de décision qui influence l'ensemble de l'organisation.</p>
                <br>
            
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Connaissance</h2>
                <p>C1 - Connaissance des pratiques RH modernes en matière d'acquisition de talents et d'expérience des employés.</p>
                <p>C2 - Connaissance de la manière de mener la stratégie RH dans une organisation complexe.</p>
                <p>C3 - Connaissance des stratégies et pratiques en matière de diversité, d'équité et d'inclusion.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Capacité</h2>
                <p>Ca1 – Capacité à communiquer efficacement à l’oral et à l’écrit</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Compétences clés en leadership</h2>
                <p>CCL1 – Créer une vision et une stratégie</p>
                <p>CCL2 – Mobiliser les personnes</p>
                <p>CCL3 – Préserver l’intégrité et le respect</p>
                <p>CCL4 – Collaborer avec les partenaires et les intervenants</p>
                <p>CCL5 – Promouvoir l’innovation et orienter le changement</p>
                <p>CCL6 – Obtenir les résultats</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Exigences linguistiques</h2>
                <p>Nous avons l'intention de nommer un candidat CBC/CBC impératif 
                    bilingue (niveau de français intermédiaire à avancé), mais des 
                    nominations CBC/CBC non impératives peuvent être envisagées.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Énoncé EEDI</h2>
                <p>Afin d'appuyer l'atteinte d'une main-d'œuvre diversifiée, on peut prendre en considération les candidats qui se déclarent eux-mêmes comme appartenant à l'un des groupes d'équité en matière d'emploi suivant: Autochtones, personnes handicapées, membres de minorités visibles et femmes.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Condition d’emploi</h2>
                <p>Autorisation sécuritaire Secret</p>
            </div>
        </div>

    </div>
</section>

{{ end }}