{{ define "main" }}
<section class="page--outer-container-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <p>Ministère : Secrétariat du Conseil du Trésor du Canada</p>
                <p>Secteur : Service numérique canadien</p>
                <p>Titre du poste : PDG</p>
                <p>Groupe et niveau : EX-05</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Études :</h2>
                <p>Grade d’un établissement postsecondaire reconnu ou une combinaison acceptable d’études, de formation ou d’expérience.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Expérience :</h2>
                <p>EX1 – Expérience considérable* en livraison de logiciels et dans l’art de développer et de faire évoluer des équipes numériques.</p>
                <p>EX2 – Expérience en matière d’application de pratiques numériques modernes en vue d’améliorer l’expérience du public quant aux services ou produits.</p>
                <p>EX3 – Expérience de la conduite de la stratégie et du changement dans une organisation complexe à plusieurs niveaux.</p>
                <p>EX4 – Expérience en gestion de questions financières importantes et de questions complexes liées aux ressources humaines.</p>
                <p>EX5 – Expérience en collaboration et en maintien de partenariats.</p>
                <p>* On entend par « considérable » la profondeur et l’étendue de l’expérience normalement acquise sur une période d’environ deux (2) ans et pour laquelle ces tâches sont exécutées de façon continue dans le cadre des fonctions principales du poste.</p>  
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Connaissances :</h2>
                <p>K1 – Connaissance des stratégies et méthodes numériques modernes de livraison de produit comme la conception Agile et centrée sur les personnes vouées à utiliser le service ainsi que le travail en toute transparence.</p>
                <p>K2 – Connaissance des stratégies de diversité, d’équité ou d’inclusion.</p>
                <p>K3 – Connaissance de l’intersectionnalité de la technologie et des politiques.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Capacités :</h2>
                <p>A1 – Capacité à s’adapter à l’ambiguïté et à fixer des priorités claires dans un environnement en évolution rapide.</p>
                <p>A2 – Capacité à encadrer, guider et inspirer les personnes occupant des postes de direction dans un environnement en pleine croissance.</p>
                <p>A3 – Capacité à expliquer et à présenter efficacement des concepts complexes de technologie et de prestation de services à un large éventail de publics.</p>
                <p>A4 – Capacité à persuader, inspirer et défendre les pratiques numériques modernes, la conception centrée sur les personnes vouées à utiliser le service et la prestation de services numériques.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Compétences clés en matière de leadership :</h2>
                <p>CCL1 – Créer une vision et une stratégie</p>
                <p>CCL2 – Mobiliser les personnes</p>
                <p>CCL3 – Préserver l’intégrité et le respect</p>
                <p>CCL4 – Collaborer avec les partenaires et les parties prenantes</p>
                <p>CCL5 – Promouvoir l’innovation et orienter le changement</p>
                <p>CCL6 – Obtenir des résultats </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Langues officielles :</h2>
                <p>Bilingue impératif (CBC/CBC)</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Condition d’emploi :</h2>
                <p>Cote de sécurité de niveau « Secret »</p>
            </div>
        </div>

    </div>
</section>

{{ end }}
