{{ define "main" }}
<section class="page--outer-container-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>If you have built a form online and you’re not a developer, we’d like to hear from you.</h2>
                <p>We’ve put together a quick survey that should take less than 5 minutes to complete. Please fill it out, and share it with anyone within the Government of Canada that might be interested in participating.</p>
                <hr>
                <h3>Why are we asking?</h3>
                <p>The Canadian Digital Service Platform Team is designing a way for government employees to build forms online without the help of development resources. We want to create a site that is not only safe and accessible but also one that is easy to use and meets the needs of government employees.</p>
                <p>For this to be possible, we need to hear from anyone in government who has built a form online using a form builder such as Microsoft Forms, Google Forms, SurveyMonkey, WordPress, Drupal, or any of the multitudes of others like them.</p>
                <p>Go to survey.</p>
            </div>
        </div>
    </div>  
</section>


{{ end }}