{{ define "main"}}
{{ .Content }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>{{ i18n "guides-intro" }}</p>
            </div>
            {{$resources := where .Site.Pages ".File.Dir" "==" "guides/resources/"}}
            <div class='row equal'>
              {{ range $elem_index, $elem_val := $resources }}
              {{ if and (ne $elem_index 0) (eq (mod $elem_index 2) 0) }}
            </div>
      
            <div class='row equal'>
              {{ end }}
              <div class='col-md-6 col-xs-12'>
                  {{ partial "resources-items" $elem_val}}
              </div>
              {{ end }}
            </div>
        </div>
    </div>
</section>

<section class="section section--mailing-list">
    {{ partial "mailing-list.html" }}
  </section>
{{ end }}