{{ define "main" }}
<section class="page--outer-container-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Inclusive language in the workplace</h2>
                <p>While common workplace words and phrases may seem harmless, some have a problematic history. Here are
                    some examples of those words, and better alternatives to convey the same meaning. This list should
                    grow and adapt as our understanding of language evolves.</p>
                <hr>

                <h3>Chief</h3>
                <p>A deeply meaningful role to Indigenous communities, with a richer context than what it’s typically
                    used to mean in corporate settings (“Chief Officer” roles or “Editor-in-Chief”). The title is also
                    widely misappropriated, from trivializing greetings (“Hey, Chief!”) to racist expressions (“Too many
                    Chiefs, not enough Indians”) to sports team names and imagery.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Head of...</li>
                    <li>The person in charge of...</li>
                </ul>
                <hr>

                <h3>Circle the wagons</h3>
                <p>A term sometimes used to mean assuming a protective position from outside critique or interference.
                    Its origin has racist and colonial overtones from when colonizer caravans would circle each other to
                    protect from perceived Indigenous Peoples’ rebellion.</p>
                <h4>Use this instead: </h4>
                <ul>
                    <li>Get organized</li>
                    <li>Line up support</li>
                </ul>
                <hr>

                <h3>Crazy or insane</h3>
                <p>These words can trivialize and further stigmatize mental health challenges.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Strange</li>
                    <li>Shocking</li>
                </ul>
                <hr>

                <h3>Girl(s)</h3>
                <p>This word can belittle adults and their achievements.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Person or people</li>
                    <li>If gender is relevant, woman or women</li>
                </ul>
                <hr>

                <h3>Grandfathering</h3>
                <p>A term referring to the exemption of some people from a process because of conditions that existed
                    before. The term “grandfather clause” originated in the American South in the 1890s as a way to defy
                    the 15th Amendment and prevent black Americans from voting.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Legacy</li>
                    <li>Exempting (...from a new requirement)</li>
                    <li>Honouring (...an old/prior arrangement)</li>
                </ul>
                <hr>

                <h3>Guys</h3>
                <p>This word prioritizes one gender when referring to mixed-gender groups.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>People</li>
                    <li>Folks</li>
                </ul>
                <hr>

                <h3>Gypped</h3>
                <p>A racial slur for being defrauded or swindled. According to the Oxford English Dictionary, the term
                    is “probably ultimately from a shortening of gypsy”, a word commonly used to describe the Romani
                    people.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Ripped off</li>
                    <li>Cheated</li>
                </ul>
                <hr>

                <h3>Female</h3>
                <p>A scientific designation for animals or plants. If you refer to people as females, you risk reducing
                    them to their reproductive abilities.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>People</li>
                    <li>If gender is relevant, woman</li>
                </ul>
                <hr>

                <h3>Hacker</h3>
                <p>In job descriptions, the term ”hacker” can be tough for many to identify with because of its negative
                    and criminal connotation.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Engineer</li>
                    <li>Problem solver</li>
                </ul>
                <hr>

                <h3>Handicap</h3>
                <p>Some disability advocates believe this term is rooted in a correlation between a disabled person and
                    a beggar.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Disabled</li>
                </ul>
                <hr>

                <h3>Housekeeping</h3>
                <p>In reference to office work, this language can feel gendered and fall more on women to do.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Maintenance</li>
                    <li>Administration</li>
                </ul>
                <hr>

                <h3>Ladies or gals</h3>
                <p>These terms can feel patronizing to some and misgender others.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>People</li>
                    <li>Folks</li>
                    <li>Everyone</li>
                </ul>
                <hr>

                <h3>Lame</h3>
                <p>An ableist word originally used to reference people with reduced mobility.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Disappointing</li>
                    <li>Boring</li>
                </ul>
                <hr>

                <h3>Man</h3>
                <p>As in “man hours,” “manpower,” or “man the conference booth”. This is unnecessarily gendered
                    language.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Work</li>
                    <li>Staff</li>
                </ul>
                <hr>

                <h3>Master</h3>
                <p>A problematic term sometimes used to refer to one file or process with original data that either
                    controls another process, or acts as a main source of information. As Ron Eglash, a professor at the
                    University of Michigan wrote in a 2007 essay, “The concept of a free master that did no work and a
                    slave that followed the master’s orders made for a vivid, if ethically suspect, technosocial
                    metaphor.”</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Primary</li>
                    <li>Main</li>
                </ul>
                <hr>

                <h3>Mom, girlfriend, or grandma test</h3>
                <p>A term for putting a product in front of people to learn more about how they would use it. The
                    assumption that if a mom or girlfriend or grandmother can use a program then anyone can, is both
                    sexist and ageist. </p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Usability test</li>
                </ul>
                <hr>

                <h3>Ninja, rockstar, or wizard</h3>
                <p>These are words sometimes used in tech job descriptions that can skew towards a gendered
                    interpretation. This can discourage some groups from identifying with those roles and applying for
                    them.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Specialist</li>
                    <li>Advisor</li>
                </ul>
                <hr>

                <h3>Open the kimono</h3>
                <p>This is business jargon with sexist and racist overtones for sharing information about the inner
                    workings of an organization.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Be transparent</li>
                    <li>Look behind the scenes</li>
                </ul>
                <hr>

                <h3>Peanut gallery</h3>
                <p>This term for heckling or unwelcome comments originates in the 1920s. It referred to the back section
                    of theaters, which were the only places that Black people were allowed to sit at the time. The
                    phrase was meant to poke fun at the idea of people of color engaging in intellectualism.</p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Feedback</li>
                    <li>Heckling</li>
                </ul>
                <hr>

                <h3>Pow-wow</h3>
                <p>This is a North American Indigenous social gathering with important cultural meaning. Using this term
                    to describe a few people chatting about a project over a coffee can be insulting. </p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Meet</li>
                    <li>Collaborate</li>
                    <li>Sync</li>
                </ul>
                <hr>

                <h3>Whitelist or blacklist</h3>
                <p>These are terms that only make sense if you equate white with “good, permitted, safe” and black with
                    “bad, dangerous, forbidden”. </p>
                <h4>Use this instead:</h4>
                <ul>
                    <li>Unblocked list or blocked list</li>
                    <li>Permitted list or denied list</li>
                    <li>Safe list or unsafe list</li>
                </ul>
                <br>
            </div>
        </div>
    </div>
</section>


{{ end }}