{{ define "main" }}
<div class="job-postings-container">
  <section>
    <section class="padding">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
          <h1>{{ .Params.title}}</h1>
          <a href="#apply-now">Apply now</a>
          <div class="content">
            {{.Content}}
          </div>
          <div>
            <h2 class="h2-font-weight">Work anywhere in Canada</h2>
            <p>CDS is a fully distributed team. This job can be performed from anywhere in Canada. In the future, occasional travel to Ottawa may be required.</p>
            <p><a href="https://www.canada.ca/en/public-service-commission/services/assessment-accommodation-page.html">Assessment accommodation<svg width="26" height="30" viewBox="0 0 24 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M10 6.5V8.5H5V19.5H16V14.5H18V20.5C18 20.7652 17.8946 21.0196 17.7071 21.2071C17.5196 21.3946 17.2652 21.5 17 21.5H4C3.73478 21.5 3.48043 21.3946 3.29289 21.2071C3.10536 21.0196 3 20.7652 3 20.5V7.5C3 7.23478 3.10536 6.98043 3.29289 6.79289C3.48043 6.60536 3.73478 6.5 4 6.5H10ZM21 3.5V12.5L17.206 8.707L11.207 14.707L9.793 13.293L15.792 7.293L12 3.5H21Z" fill="#004986"/>
            </svg></a></p>

            <p>Out of an abundance of caution, all interviews will be conducted via video or teleconference for the foreseeable future.</p>

          </div>
          
          

        </div>
      </div>
    </section>
  </section>
</div>
<!-- HIRING PROCESS -->

<div class="gray">
  <div class="job-postings-container">

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <h2 class="h2-font-weight">Our hiring process</h2>
        <h1 class="cds-title"> At CDS, we welcome and invite difference.</h1>
        <p>The Canadian Digital Service (CDS) is changing how the federal government designs and delivers digital
          services. We’re here to improve people’s lives by changing how the government builds technology. We do this by
          putting people’s needs and concerns front and centre. Every experience Canadians have with their government
          should be safe, fast, easy, transparent, and accessible.</p>
        <p>We proudly, passionately, and actively strive to make CDS more reflective of the society that we serve. We
          will only be able to deliver better, more accessible, and more inclusive public services if we harness diverse
          thoughts, experiences, and skills. We work hard to create an environment where different perspectives and
          experiences are valued. We are committed to helping diverse talent thrive.</p>
        <p>CDS welcomes all applicants, including Veterans and people of all races, ethnicities, religions, sexual
          orientations, gender identities and expressions, national origins, disabilities, ages, body sizes and
          including those with diverse households and family commitments. We are committed to providing an inclusive and
          barrier-free work environment, starting with the hiring process. If you need to be accommodated during any
          phase of the evaluation process, please use the Contact information below to request specialized
          accommodation. All information received in relation to accommodation will be kept confidential.</p>

        <div class="cta__link black">
          <a href="/join-our-team/">More about our hiring process<svg width="16" height="16" viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M8 9H0V7H8V0L16 8L8 16V9Z" />
            </svg></a>
        </div>
      </div>
    </div>
  </div>
</div>
{{ if .Params.leverId }}
<div id="apply-now" class="work-with-us--apply-now">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <h2>Apply now</h2>
      <form enctype="multipart/form-data" class="text-left" role="form" id="contactForm">
        <input type="hidden" id="jobId" name="jobId" value="{{.Params.leverId}}" />
        <!-- Full Name -->
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" class="form-control validate-required" id="name" name="name" aria-required="true"
            aria-describedby="name-required" />
          <span id="name-required" class="error-message validate-required-message" style="display: none;">This field
            is required</span>
        </div>
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control validate-required validate-email" id="email"
            aria-required="true" aria-describedby="email-required" />
          <span id="email-required" class="error-message validate-required-message" style="display: none;">This field
            is required</span>
        </div>

        <!-- Resume -->

        <label for="resume">Resume</label>
        <div class="form-group">
          <div class="browse">
            
            <label>Browse...
              <input class="resume" type="file" id="resume" name="resume"
                accept="application/msword, application/pdf, text/plain" required style="display: none;" />
            </label>
            
          </div>
          <span class="no-file-chosen" id="no-file-chosen-text">No file selected</span>
          
        </div>

        <!-- Body -->

        <div class="form-group">
          <label for="body">Tell us in 300 words or less why you want to work with us and,
            if applicable, what we should know about your
            work samples</label>
            <textarea class="form-control validate-required validate-maxwords" id="body" name="body" rows="5"
              aria-required="true" aria-describedby="body-required word-count-message"></textarea>
            <span id="body-required" class="error-message validate-required-message" style="display: none;">This field
              is required<br />
            </span>
            <span id="word-count-message" class="help-text">
              <span id="word-count">300</span> words remaining</span>

        </div>
        <!-- Samples of your work -->
        <div class="form-group">
          <label for="samples">Samples of your work<span class="alt-label"> (optional)</span></label>
          <div >
            <span class="url">URLs, please!</span>
            
          </div>
          
          <textarea class="form-control validate-required validate-maxwords" id="samples" name="samples" rows="5"
            aria-required="true" aria-describedby="body-required word-count-message"></textarea>
        </div>
        <!-- Submit-->
        <div>
          <button type="submit" class="submit-btn" >
            Submit<svg width="16" height="16" viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M8 9H0V7H8V0L16 8L8 16V9Z" />
          </svg>
          </button>

        </div>
        <div class="privacy-link">
          <a href="/legal/privacy-notice">Privacy Notice</a>
        </div>
        

      </form>
    </div>
  </div>

</div>
{{end}}

{{ end }}