{{ define "main" }}
<div class="container">
  <section class="content">
    <section class="section page--outer-container-padding">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
          <h2 class="section--title">{{ i18n "hiring" }}</h2>
          {{ .Content }}
        </div>
      </div>
    </section>
  </section>
</div>

<div>
  <!-- START APPLY FORM FR  -->
  {{ if .Params.leverId }}
  <section class="section work-with-us--apply-now ">
    <div class="container page-wide--outer-container-padding">
      <h2 class="section--title">Postulez maintenant</h2>

      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <form
          enctype="multipart/form-data"
          class="text-left"
          role="form"
          id="contactForm"
        >
          <!-- jobId -->
          <input
            type="hidden"
            id="jobId"
            name="jobId"
            value="{{.Params.leverId}}"
          />
          <!-- Full Name -->
          <div class="form-group">
            <label for="name">Nom complet</label>
            <input
              type="text"
              class="form-control validate-required"
              id="name"
              aria-required="true"
              aria-describedby="name-required"
            />
            <span
              id="name-required"
              class="error-message validate-required-message"
              style="display: none;"
              >Ce champ est obligatoire</span
            >
          </div>
          <!-- Email -->
          <div class="form-group">
            <label for="email">Courriel</label>
            <input
              type="email"
              class="form-control validate-required validate-email"
              id="email"
              aria-required="true"
              aria-describedby="email-required"
            />
            <span
              id="email-required"
              class="error-message validate-required-message"
              style="display: none;"
              >Ce champ est obligatoire</span
            >
          </div>

          <!-- Resume -->
          <div class="form-group">
            <label for="resume">CV</label>
            <input
              type="file"
              id="resume"
              name="resume"
              accept="application/msword, application/pdf, text/plain"
            />
          </div>

          <!-- Body -->
          <div class="form-group">
            <label for="body"
              >Dites-nous, en 300 mots ou moins, pourquoi vous voulez travailler
              avec nous et ce que l'on devrait savoir au sujet de vos
              échantillons de travail.</label
            >
            <textarea
              class="form-control validate-required validate-maxwords"
              id="body"
              rows="5"
              aria-required="true"
              aria-describedby="body-required word-count-message"
            ></textarea>
            <span
              id="body-required"
              class="error-message validate-required-message"
              style="display: none;"
              >Ce champ est obligatoire<br />
            </span>
            <span id="word-count-message" class="help-text">
              <span id="word-count">300</span> mots restants</span
            >
          </div>
          <!-- Samples of your work -->
          <div class="form-group">
            <label for="work_link"
              >Échantillons de votre travail (liens URL SVP!)</label
            >
            <input type="text" class="form-control" id="work_link" />
          </div>
          <div class="form-group">
            <label class="wb-inv" for="work_link_2"
              >Échantillons de votre travail</label
            >
            <input type="text" class="form-control" id="work_link_2" />
          </div>
          <!-- Submit-->
          <button type="submit" class="button" id="submitButton">
            <span class="spinner" id="buttonSpinner">
              <i class="fa fa-refresh fa-spin"></i></span
            >Soumettre
          </button>
          <a href="/transparence/enonce-de-confidentialite/"
            >Énoncé de confidentialité</a
          >
        </form>
      </div>
    </div>
  </section>
  {{ end }}
  <!-- EN APPLY FORM FR  -->
</div>
{{ end }}
