{{ define "main" }}
<div class="job-postings-container">
  <section>
    <section class="padding">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
          <h1>{{ .Params.title}}</h1>
          <a href="">Postulez maintenant</a>
          <div class="content">
            {{.Content}}
          </div>
          <div>
            <h2 class="h2-font-weight">Travaillez de n’importe où au Canada</h2>
            <p>Le SNC est une équipe entièrement décentralisée. Ce travail peut être effectué de n'importe où au Canada. À l'avenir, des déplacements occasionnels à Ottawa pourraient être nécessaires.</p>
            <p><a href="https://www.canada.ca/en/public-service-commission/services/assessment-accommodation-page.html">Mesures d’adaptation en matière d’évaluation<svg width="26" height="30" viewBox="0 0 24 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M10 6.5V8.5H5V19.5H16V14.5H18V20.5C18 20.7652 17.8946 21.0196 17.7071 21.2071C17.5196 21.3946 17.2652 21.5 17 21.5H4C3.73478 21.5 3.48043 21.3946 3.29289 21.2071C3.10536 21.0196 3 20.7652 3 20.5V7.5C3 7.23478 3.10536 6.98043 3.29289 6.79289C3.48043 6.60536 3.73478 6.5 4 6.5H10ZM21 3.5V12.5L17.206 8.707L11.207 14.707L9.793 13.293L15.792 7.293L12 3.5H21Z" fill="#004986"/>
            </svg></a></p>

            <p>Par mesure de précaution, toutes les entrevues dans un avenir proche seront menées par vidéo ou téléconférence.</p>

          </div>

        </div>
      </div>
    </section>
  </section>
</div>


<div class="gray">
  <div class="job-postings-container">

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <h2 class="h2-font-weight">Notre processus d'embauche</h2>
        <h1 class="cds-title">Au SNC, nous accueillons et invitons la différence.</h1>
        <p>Le Service numérique canadien (SNC) change la façon dont le gouvernement fédéral conçoit et offre les
          services numériques. Notre mission est d'améliorer la vie des gens en changeant la façon dont le gouvernement
          développe la technologie. Pour ce faire, nous plaçons les besoins et les préoccupations des personnes au
          premier plan. Chaque interaction entre les Canadiens et Canadiennes et le gouvernement devrait être
          sécuritaire, rapide, facile, transparente et accessible.
        </p>
        <p>C’est avec fierté et passion que nous nous efforçons de rendre le SNC plus représentatif du public que nous
          servons. C’est en tirant parti de diverses perspectives, expériences et compétences que nous pourrons offrir
          des services publics de meilleure qualité, plus accessibles et plus inclusifs. Nous travaillons fort pour
          créer un environnement où différentes perspectives et expériences sont valorisées, et nous nous engageons à
          aider les talents de tout type à s’épanouir.</p>
        <p>Le SNC accueille tous les candidats, peu importe leur race, ethnicité, religion, orientation sexuelle,
          identité et expression de genre, origine nationale, handicap, âge et taille corporelle, y compris les vétérans
          et les personnes qui ont des engagements familiaux divers. Nous nous engageons également à offrir un milieu de
          travail inclusif et libre d’obstacles, dès le processus d’embauche. Si vous avez besoin de mesures
          d’adaptation à une étape ou une autre du processus d’évaluation, veuillez envoyer un message aux coordonnées
          indiquées dans le lien ci-dessous pour en faire la demande. Tout renseignement concernant les mesures
          d’adaptation sera traité confidentiellement.</p>

        <div class="cta__link black">
          <a href="/join-our-team/">En savoir plus sur notre processus de recrutement<svg width="16" height="16" viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M8 9H0V7H8V0L16 8L8 16V9Z" />
            </svg></a>
        </div>
      </div>
    </div>
  </div>
</div>

{{ if .Params.leverId }}
<div class="work-with-us--apply">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <h2 >Postulez maintenant</h2>
      <form enctype="multipart/form-data" class="text-left" role="form" id="contactForm">
        <input type="hidden" id="jobId" name="jobId" value="{{.Params.leverId}}" />
        <!-- Full Name -->
        <div class="form-group">
          <label for="name">Nom complet</label>
          <input type="text" class="form-control validate-required" id="name" name="name" aria-required="true"
            aria-describedby="name-required" />
          <span id="name-required" class="error-message validate-required-message" style="display: none;">Ce champ est
            obligatoire</span>
        </div>
        <!-- Email -->
        <div class="form-group">
          <label for="email">Courriel</label>
          <input type="email" name="email" class="form-control validate-required validate-email" id="email"
            aria-required="true" aria-describedby="email-required" />
          <span id="email-required" class="error-message validate-required-message" style="display: none;">Ce champ est
            obligatoire</span>
        </div>

        <!-- Resume -->

        <label for="resume">CV</label>
        <div class="form-group">
          <!-- <label for="resume">Resume</label> -->
          <div class="browse">
            <label>Parcourir...
              <input class="resume" type="file" id="resume" name="resume"
                accept="application/msword, application/pdf, text/plain" required style="display: none;" />
            </label>

          </div>
          <span class="no-file-chosen" id="no-file-chosen-text">No file selected</span>


        </div>
        <!-- Body -->

        <div class="form-group">
          <label for="body">Dites-nous, en 300 mots ou moins, pourquoi vous voulez travailler avec nous et, le cas échéant, ce que l’on devrait savoir au sujet de vos échantillons de travail.</label>
            <textarea class="form-control validate-required validate-maxwords" id="body" name="body" rows="5"
              aria-required="true" aria-describedby="body-required word-count-message"></textarea>
            <span id="body-required" class="error-message validate-required-message" style="display: none;">Ce champ est
              obligatoire<br />
            </span>
            <span id="word-count-message" class="help-text">
              <span id="word-count">300</span> mots restants</span>

        </div>
        <!-- Samples of your work -->
        <div class="form-group">
          <label for="samples">Échantillons de votre travail<span class="alt-label"> (Facultatif)</span></label>

          <label>Liens URL SVP!</label>
          <textarea class="form-control validate-required validate-maxwords" id="samples" name="samples" rows="5"
            aria-required="true" aria-describedby="body-required word-count-message"></textarea>
        </div>
        <!-- Submit-->
        <div>
          <button type="submit" class="submit-btn" >
            Soumettre<svg width="16" height="16" viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M8 9H0V7H8V0L16 8L8 16V9Z" />
          </svg>
          </button>

        </div>
        <div class="privacy-link">
          <a href="/legal/privacy-notice">Énoncé de confidentialité</a>
        </div>
        

      </form>
    </div>
  </div>

</div>
{{end}}
{{ end }}