{{ define "main" }}
<div class="container job-postings-container">
  <section>
    <section class="padding">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
          {{ if and (.Params.leverId) (eq .Params.archived false) }}
          <a href="#apply-now">Postulez maintenant</a>
          {{end}}
          {{ if and (.Params.leverId) (eq .Params.archived true) }}
          <div class="job-posting-banner">
            <p>Nous n’acceptons plus de candidatures pour ce poste. Pour consulter une liste des postes actifs, veuillez
              vous rendre sur notre <a href="/carrieres/" style="color: black;">page carrières</a>.</p>
          </div>

          {{ end }}
          <div class="content">
            {{.Content}}
          </div>
          <div>
            <h2 class="h2-font-weight">Travaillez de n’importe où au Canada</h2>
            <p>Le SNC est une équipe entièrement décentralisée. Ce travail peut être effectué de n'importe où au Canada.
            </p>
            <p><a href="https://www.canada.ca/en/public-service-commission/services/assessment-accommodation-page.html"
                rel="externe">Mesures
                d’adaptation en matière d’évaluation<img src="/img/icons/assessment-accomodation.svg"
                  alt="Lien externe" /></a></p>

            <p>Par mesure de précaution, toutes les entrevues dans un avenir proche seront menées par vidéo ou
              téléconférence.</p>
          </div>

        </div>
      </div>
    </section>
  </section>
</div>


<div class="hiring-process">
  <div class="container job-postings-container">

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <p class="cds-title">Au SNC, nous accueillons et invitons la différence.</p>
        <p>C’est avec fierté et passion que nous nous efforçons de rendre le SNC plus représentatif du public que nous
          servons. C’est en tirant parti de diverses perspectives, expériences et compétences que nous pourrons offrir
          des services publics de meilleure qualité, plus accessibles et plus inclusifs. Nous travaillons fort pour
          créer un environnement où différentes perspectives et expériences sont valorisées, et nous nous engageons à
          aider les talents de tout type à s’épanouir.</p>
        <p>Le SNC accueille tous les candidats, peu importe leur race, ethnicité, religion, orientation sexuelle,
          identité et expression de genre, origine nationale, handicap, âge et taille corporelle, y compris les vétérans
          et les personnes qui ont des engagements familiaux divers. Nous nous engageons également à offrir un milieu de
          travail inclusif et libre d’obstacles, dès le processus d’embauche. Si vous avez besoin de mesures
          d’adaptation à une étape ou une autre du processus d’évaluation, veuillez envoyer un message aux coordonnées
          indiquées dans le lien ci-dessous pour en faire la demande. Tout renseignement concernant les mesures
          d’adaptation sera traité confidentiellement.</p>
        <p>Un bassin de personnes qualifiées PEUT être créé et PEUT être utilisé à la suite de ce processus pour
          pourvoir des postes similaires avec des profils linguistiques (anglais essentiel, bilingue impératif BBB/BBB,
          bilingue impératif CBC/CBC), ainsi que des mandats (indéterminé, déploiement, intérim, affectation,
          détachement, période déterminée) qui peuvent varier selon le poste à doter.</p>

        <div class="cta__link black">
          <a href="/careers/">En savoir plus sur notre processus de recrutement<img
              src="/img/icons/arrow-right-white.svg" role="presentation" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="apply-now" class="row work-with-us--apply-now container">
  {{ if and (.Params.leverId) (eq .Params.archived false) }}
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <h2>Postulez maintenant</h2>
    <form enctype="multipart/form-data" class="text-left" id="contactForm">
      <input type="hidden" id="jobId" name="jobId" value="{{.Params.leverId}}" />
      <!-- Pronouns -->
      <div class="form-group">
        <label for="pronouns">Pronom(s)</label>
        <input type="text" class="form-control" id="pronouns" name="pronouns" />
      </div>
      <!-- Full Name -->
      <div class="form-group">
        <label for="name">Nom complet</label>
        <input type="text" class="form-control validate-required" id="name" name="name" aria-required="true"
          aria-describedby="name-required" />
        <span id="name-required" class="error-message validate-required-message" style="display: none;">Ce champ est
          obligatoire</span>
      </div>
      <!-- Email -->
      <div class="form-group">
        <label for="email">Adresse courriel</label>
        <input type="email" name="email" class="form-control validate-required validate-email" id="email"
          aria-required="true" aria-describedby="email-required" />
        <span id="email-required" class="error-message validate-required-message" style="display: none;">Ce champ est
          obligatoire</span>
      </div>
      <!-- Preferred Language -->

      <div class="form-group">
        
        <div class="radio-div">
          <span>Preferred language for communication</span>
        </div>
        <input type="radio" id="francais" class="radio-control validate-required" name="preferred-language" value="Francais" aria-required="true" aria-describedby="preferred-language-required"/>
        <label for="francais">Français</label><br>
        <input type="radio" id="english" class="radio-control validate-required" name="preferred-language" value="English" aria-required="true" aria-describedby="preferred-language-required"/>
        <label for="english">English</label><br>
        <span id="preferred-language-required" class="error-message validate-required-message" style="display: none;">Ce champ est
          obligatoire</span>
      </div>

      <!-- Resume -->

      <div class="form-group">
        <label for="resume">Téléverser votre CV
          <div class="browse">
            <div>Parcourir...
              <input class="resume form-control validate-required" type="file" id="resume" name="resume"
                accept="application/msword, application/pdf, text/plain" aria-required="true" aria-describedby="resume" />
            </div>

          </div>

        </label><br id="break-id"style="display: none;">

        <span class="no-file-chosen" id="no-file-chosen-text">Aucun fichier sélectionné</span>
        <span id="resume-error" class="error-message resume-validate-required-message" style="display: none;">Ce champ est
          obligatoire</span>


      </div>

      <!-- Samples of your work -->
      <div class="form-group">
        <label for="samples">Échantillon de travail / profil LinkedIn</label>

        <textarea class="form-control" id="samples" name="samples" rows="5"></textarea>
      </div>
      <!-- How did you hear about this job-->

      <div class="form-group">
        <div class="radio-div">
          <span>Comment avez-vous entendu parler de cette offre d’emploi?</span>
        </div>
        
        <input type="radio" class="radio-control validate-required" id="cds-career-page" name="where-did-you-hear" value="Page « Carrières » du SNC" aria-required="true" aria-describedby="where-did-you-hear"/>
        <label for="cds-career-page">Page « Carrières » du SNC</label><br>

        <input type="radio" class="radio-control validate-required" id="goc-jobs" name="where-did-you-hear" value="Emplois.gc.ca" aria-required="true" aria-describedby="where-did-you-hear"/>
        <label for="goc-jobs">Emplois.gc.ca</label><br>

        <input type="radio" class="radio-control validate-required" id="linkedin" name="where-did-you-hear" value="LinkedIn" aria-required="true" aria-describedby="where-did-you-hear"/>
        <label for="linkedin">LinkedIn</label><br>

        <input type="radio" class="radio-control validate-required" id="facebook-groups" name="where-did-you-hear" value="Groupes Facebook" aria-required="true" aria-describedby="where-did-you-hear"/>
        <label for="facebook-groups">Groupes Facebook</label><br>

        <input type="radio" class="radio-control validate-required" id="communities-queertech" name="where-did-you-hear" value="Communautés — Queertech" aria-required="true" aria-describedby="where-did-you-hear"/>
        <label for="communities-queertech">Communautés — Queertech</label><br>

        <input type="radio" class="radio-control validate-required" id="communities-other" name="where-did-you-hear" value="Communautés — Autres" aria-required="true" aria-describedby="where-did-you-hear"/>
        <label for="communities-other">Communautés — Autres</label><br>

        <input type="radio" class="radio-control validate-required" id="employee-ref" name="where-did-you-hear" value="Recommandation par un·e employé·e" aria-required="true" aria-describedby="where-did-you-hear"/>
        <label for="employee-ref">Recommandation par un·e employé·e</label><br>

        <input type="radio" class="radio-control validate-required" id="friend-family-ref" name="where-did-you-hear" value="Recommandation par un·e ami·e ou membre de la famille" aria-required="true" aria-describedby="where-did-you-hear"/>
        <label for="friend-family-ref">Recommandation par un·e ami·e ou membre de la famille</label><br>
        <span id="preferred-language-required" class="error-message validate-required-message" style="display: none;">Ce champ est
          obligatoire</span>
      </div>

      <!-- Accommodation -->

      <div class="form-group">
        <div class="radio-div">
          <span>Aurez-vous besoin de mesures d’adaptation durant le processus de recrutement?</span>
        </div>
        
        <input type="radio" id="yes-accommodation" name="accommodation" value="Oui" />
        <label for="yes-accommodation">Oui</label><br>

        <input type="radio" id="no-accommodation" name="accommodation" value="Non" />
        <label for="no-accommodation">Non</label><br>

      </div>
      <!-- Body -->

      <div class="form-group">
        <label for="body">Que devons-nous savoir à votre sujet? (300 mots)</label>
        <textarea class="form-control validate-maxwords" id="body" name="body" rows="5"
          aria-required="true" aria-describedby="body-required word-count-message"></textarea>
        </span>
        <span id="word-count-message" class="help-text">
          <span id="word-count">300</span> mots restants</span>

      </div>

      <!-- Submit-->
      <div>
        <button type="submit" class="submit-button" id="submit-btn">
          <span class="submit-button-text">Soumettre<img src="/img/icons/arrow-right-white.svg" role="presentation"
              alt="" /></span>
        </button>
      </div>
      <div>
        <p>Si vous êtes dans l’impossibilité d’utiliser le formulaire, veuillez envoyer votre CV par courriel à l’adresse  <a href="mailto: cds-snc@tbs-gct.gc.ca">cds-snc@tbs-gct.gc.ca</a></p>
      </div>
      <div class="privacy-link">
        <a href="/transparence/confidentialite/">Énoncé de confidentialité</a>
      </div>


    </form>
  </div>
  {{end}}
</div>


{{ end }}