{{ define "main" }}
<section class="page--outer-container-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                
                <h2>Le langage inclusif au travail</h2>
                <p>Les mots et expressions de notre quotidien professionnel peuvent sembler inoffensifs, mais certains posent problème de par leur histoire. En voici quelques exemples, doublés d’alternatives plus adaptées. Cette liste est vouée à s’allonger et à être adaptée avec l’évolution de notre langage.</p>
                <hr>

                <h3>Avoir des T.O.C.</h3>
                <p>Utiliser ce terme pour faire référence à un simple perfectionnisme banalise la situation des personnes ayant des troubles obsessionnels compulsifs médicalement diagnostiqués.</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>être perfectionniste;</li>
                    <li>être pointilleux.</li>
                </ul>
                <hr>

                <h3>C’est du chinois</h3>
                <p>L’utilisation de cette expression pour désigner une chose que l’on ne comprend pas est irrespectueuse, car elle suggère que la langue chinoise est incompréhensible.</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>incompréhensible;</li>
                    <li>compliqué.</li>
                </ul>
                <hr>

                <h3>Clause grand-père </h3>
                <p>Ce terme fait référence à l’exemption de certaines personnes d’un processus en raison de conditions préexistantes. Son équivalent anglais, grandfather clause, est né dans le Sud américain dans les années 1890 et représentait à l’époque une façon de s’opposer au 15e amendement et d’empêcher les Américains noirs de voter.</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>droits acquis;</li>
                    <li>exemption (d’une nouvelle exigence);</li>
                    <li>respect (d’un arrangement antérieur).</li>
                </ul>
                <hr>

                <h3>Enterrer la hache de guerre</h3>
                <p>L’utilisation de cette expression vulgarise l’histoire et les traditions des peuples des Premières Nations, inuits et métis.</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>faire la paix;</li>
                    <li>cesser les hostilités;</li>
                </ul>
                <hr>

                <h3>Fille ou filles</h3>
                <p>Ce terme peut rabaisser les adultes et leurs accomplissements.</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>personne ou personnes;</li>
                    <li>si le genre est pertinent, femme ou femmes.</li>
                </ul>
                <hr>

                <h3>Fou, folle ou dingue</h3>
                <p>Ces mots peuvent banaliser et stigmatiser davantage les problèmes de santé mentale.</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>étrange;</li>
                    <li>choquant.</li>
                </ul>
                <hr>

                <h3>Handicapé·e</h3>
                <p>En tant que nom, ce terme a pris une connotation péjorative car il réduit la personne concernée à son handicap.</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>personne handicapée.</li>
                </ul>
                <hr>

                <h3>Heure-homme</h3>
                <p>Cette expression désigne la charge de travail effectuée par une personne en une heure. Le langage genré n’est ici pas nécessaire.</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>heure-personne.</li>
                </ul>
                <hr>

                <h3>Hystérique</h3>
                <p>Ce terme désignait historiquement un trouble psychique exclusivement féminin. Son utilisation à notre époque relève du sexisme.</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>frénétique;</li>
                    <li>nerveux ou nerveuse.</li>
                </ul>
                <hr>

                <h3>Liste noire</h3>
                <p>Ce terme n’a de sens que si l’on attribue à la couleur noire le sens de « mauvais, dangereux, interdit », par opposition à la couleur blanche qui véhiculerait le sens de « bon, permis, sûr ».</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>liste débloquée ou bloquée;</li>
                    <li>liste autorisée ou non autorisée;</li>
                    <li>liste sûre ou liste dangereuse.</li>
                </ul>
                <hr>

                <h3>Maître</h3>
                <p>Ce terme problématique est parfois utilisé pour désigner un fichier ou un processus comprenant des données originales et contrôlant un autre processus ou jouant le rôle de source d’information principale. Comme l’expliquait dans un essai de 2007 Ron Eglash, professeur à l’université du Michigan, « le concept d’un maître libre qui ne travaille pas et d’un esclave obéissant à ses ordres dessine une métaphore technosociale frappante à l’éthique suspecte. »</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>primaire;</li>
                    <li>principal·e. </li>
                </ul>
                <hr>

                <h3>Ma grand-mère saurait l’utiliser</h3>
                <p>Cette expression vise à désigner un produit d’une simplicité extrême. Dire qu’un produit qui peut être utilisé par une grand-mère peut forcément être utilisé par tout le monde revient à faire preuve de sexisme et d’âgisme à la fois.</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>tests d'utilisation</li>
                </ul>
                <hr>

                <h3>Ménage</h3>
                <p>Dans le contexte du travail de bureau, ce langage peut sembler sexiste et incomber davantage aux femmes.</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>maintenance;</li>
                    <li>administration.</li>
                </ul>
                <hr>

                <h3>Mesdames, mesdemoiselles</h3>
                <p>En plus de présenter un risque de mégenrage, ces termes peuvent être perçus comme condescendants et sexistes.</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>tout le monde.</li>
                </ul>
                <hr>

                <h3>Ninja</h3>
                <p>En plus de constituer une appropriation culturelle, ce terme parfois utilisé pour décrire des postes dans l’univers de la technologie peut donner lieu à une interprétation genrée. Cela peut décourager certains groupes de s’identifier au poste et de postuler.</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>spécialiste;</li>
                    <li>conseiller.</li>
                </ul>
                <hr>

                <h3>Pow-wow</h3>
                <p>Il s’agit d’un rassemblement social des peuples des Premières Nations, inuits et métis revêtant une signification culturelle importante. Il peut être insultant d’employer ce terme pour faire référence à une simple discussion sur un projet autour d’un café.</p>
                <h4>Utilisez plutôt :</h4>
                <ul>
                    <li>réunion;</li>
                    <li>collaboration;</li>
                    <li>alignement.</li>
                </ul>                
                <br>
            </div>
        </div>
    </div>
</section>


{{ end }}
