{{ define "main" }}

{{ .Content }}

{{ $baseURL := "https://de2an9clyit2x.cloudfront.net/" }}

<section class="section our-team--listing">

  <div class="meet-us-container">
    <div class="heading">
      <h2>{{ i18n "senior_management" }}</h2>
    </div>

    {{ partial "contact-info.html" (dict "team" $.Site.Data.team.exec)}}


    <div class="heading">
      <h2>{{ i18n "design" }}</h2>
    </div>
    {{ partial "contact-info.html" (dict "team" $.Site.Data.team.team.design)}}

    <div class="heading">
      <h2>{{ i18n "design_research" }}</h2>
    </div>
    {{ partial "contact-info.html" (dict "team" $.Site.Data.team.team.design_research)}}

    <div class="heading">
      <h2>{{ i18n "development" }}</h2>
    </div>
    {{ partial "contact-info.html" (dict "team" $.Site.Data.team.team.development)}}


    <div class="heading">
      <h2>{{ i18n "internal_operations" }}</h2>
    </div>
    {{ partial "contact-info.html" (dict "team" $.Site.Data.team.team.internal_operations)}}

    <div class="heading">
      <h2>{{ i18n "partnerships" }}</h2>
    </div>
    {{ partial "contact-info.html" (dict "team" $.Site.Data.team.team.partnerships)}}

    <div class="heading">
      <h2>{{ i18n "policy" }}</h2>
    </div>
    {{ partial "contact-info.html" (dict "team" $.Site.Data.team.team.policy)}}

    <div class="heading">
      <h2>{{ i18n "product_management" }}</h2>
    </div>
    {{ partial "contact-info.html" (dict "team" $.Site.Data.team.team.product_management)}}

    <div class="heading">
      <h2>{{ i18n "outreach" }}</h2>
    </div>
    {{ partial "contact-info.html" (dict "team" $.Site.Data.team.team.outreach)}}

    <div class="heading">
      <h2>{{ i18n "talent" }}</h2>
    </div>
    {{ partial "contact-info.html" (dict "team" $.Site.Data.team.team.talent)}}

  </div>
</section>

<section class="section section--mailing-list">
  {{ partial "mailing-list.html" }}
</section>
{{ end }}