{{ define "title" }}
{{ partial "menu.html" . }}
{{ end }}

{{ define "main" }}
<section class="strategy-top-section">
    <div class="container">
        <div class="row">
            <div class="header-div">
                <img alt="Une personne assise sur son bureau entourée de différentes options d’écrans et de documents." src="/img/cds/cds-strategy-img.svg" />
            </div>
            <h1 style="font-size: 45px; color: black;">Notre approche :</h1>
            <h2>Outiller le gouvernement pour mieux servir les gens</h2>
        </div>
        <ul id="table-of-contents">
            <li><a href="#en-quoi-consiste-ce-document">En quoi consiste ce document? </a></li>
            <li><a href="#pourquoi-maintenant">Pourquoi maintenant?</a></li>
            <li><a href="#notre-parcours">Notre parcours</a></li>
            <li> <a href="#nos-manières-d’aider">Nos manières d’aider : nos théories actives du changement</a></li>
            <li><a href="#efforts">Efforts en cours et objectifs à court terme</a></li>
            <li><a href="#approcher">Notre façon d’envisager cette tâche en tant qu’équipe</a></li>
            <li><a href="#influence">Les possibilités d’accroître notre influence</a></li>
            <li><a href="#feedback">Faites-nous part de votre point de vue!</a></li>
        </ul>
    </div>
</section>
<section class="bg-med-grey">
    <div class="container what-am-i-reading">
        <h3 id="en-quoi-consiste-ce-document">En quoi consiste ce document?</h3>
        <p>
            Nous nous penchons ici sur les manières dont nous essayons actuellement de remplir notre mandat, y compris
            sur nos objectifs à court terme à l’aube de l’exercice 2022-2023, et sur le <span class="italic">pourquoi</span> de nos actions.
            Pourquoi nous avons investi dans les services de partenariats, pourquoi nous privilégions les composants de
            plateforme, pourquoi nous travaillons ouvertement et pourquoi nous éliminons les obstacles politiques en vue
            d’outiller nos collègues fonctionnaires, qui mettent tout en œuvre pour mieux servir les gens. Ce document
            évoque également certaines des possibilités qui s’offrent à nous pour répondre à une demande accrue et pour
            renforcer les effets de notre travail.
        </p>
        <p>
            Il ne constitue pas une stratégie vers l’avant ni ne détaille des objectifs détaillés ou à long terme. Nous
            sommes en train de recruter une nouvelle personne pour diriger le SNC. Celle-ci aura la latitude nécessaire
            pour travailler avec notre équipe, nos partenaires et nos parties prenantes et pour enfin définir notre
            stratégie vers l’avant.
        </p>
        <p>
            Comme tout ce qui a trait au SNC, la vision que nous décrivons s’inscrit sur le long terme. Nous
            l’adapterons en fonction des leçons que nous apprenons, des occasions qui se présentent à nous et de la
            <a href="#feedback">rétroaction que nous recevons</a>.
        </p>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="cds-strategy-content">
                <div class="content">

                    <h3 id="pourquoi-maintenant">Pourquoi maintenant?</h3>
                    <p>
                        Le Service numérique canadien (SNC) aura bientôt cinq ans. Alors même que nous continuons à
                        gérer le besoin critique qu’ont les gouvernements de mieux répondre aux besoins des personnes
                        qu’ils servent, nous nous penchons sur les progrès que nous avons faits, sur les situations dans
                        lesquelles nous n’avons pas été à la hauteur et sur les leçons que nous avons apprises. Voici
                        pourquoi :
                    </p>
                    <ul>
                        <li>
                            <strong>Une urgence réaffirmée :</strong> Nous avions comme mandat fondateur d’aider les
                            gouvernements et organismes à changer la manière dont ils offraient leurs services au
                            public. Nous avons passé deux des cinq dernières années à épauler le pays et le monde dans
                            le contexte d’une pandémie planétaire. Nous avons vu des gouvernements répondre à la crise
                            en se montrant flexibles et rapides pour la numérisation des services et avantages qu’ils
                            offraient; nous avons aussi constaté dans quels cas le manque de capacités ou de préparation
                            avait pesé sur la réactivité. Le sentiment qu’« il n’y aura pas de retour à la normale » se
                            fait de plus en plus commun et de plus en plus significatif. À une époque de changement et
                            d’incertitude, les gouvernements sont plus que jamais appelés à fournir des renseignements
                            de confiance et à offrir des programmes et services inclusifs et réactifs, à la hauteur des
                            besoins du public.
                        </li>
                        <li>
                            <strong>Un point d’inflexion naturel :</strong> Nous avons participé à une <a
                                href="https://www.canada.ca/fr/secretariat-conseil-tresor/organisation/rapports/evaluation-service-numerique-canadien.html">évaluation
                                du SNC</a>, laquelle a rajouté de nouvelles leçons à celles que nous avions apprises en
                            quatre ans d’activité. Celle-ci a également reconnu la tension existante entre les méthodes
                            de travail traditionnelles et modernes, et posé d’importantes questions quant à notre
                            capacité à faire face à une demande accrue et aux ambitions de notre mandat par rapport à
                            nos ressources actuelles. Le budget de 2021 a accordé au SNC un financement permanent. Cela
                            signifie, entre autres, que nous pouvons offrir à l’ensemble du gouvernement des services
                            comme <a href="https://notification.canada.ca">Notification GC</a> en sachant que nous
                            serons là pour les entretenir et les améliorer.
                        </li>
                        <li>
                            <strong>Nouvelle direction :</strong> Enfin, notre tout premier président-directeur général
                            (PDG) et sous-ministre adjoint, Aaron Snow, a quitté le SNC en septembre 2021. Nous sommes
                            actuellement en plein <a
                                href="https://numerique.canada.ca/2022/02/14/%C3%AAtes-vous-notre-pdg-de-demain/">recrutement
                                de notre PDG de demain</a> qui nous guidera dans le second
                            chapitre que nous entamons et nous aidera à accroître nos résultats pour atteindre notre
                            plein potentiel.
                        </li>
                    </ul>
                    <h3 id="notre-parcours">Notre parcours</h3>
                    <p>
                        Le SNC a été créé au sein du Secrétariat du Conseil du Trésor (SCT) en 2017 et collabore avec
                        divers partenaires dans l’ensemble du gouvernement fédéral. Le SNC est une équipe relativement
                        petite (environ 120 personnes) à laquelle le Cabinet a confié un mandat imposant : aider les
                        ministères gouvernementaux à améliorer la façon dont ils conçoivent et fournissent leurs
                        services publics.
                    </p>
                    <p>
                        En tant qu’élément central des efforts numériques du GC, le SNC collabore avec des partenaires
                        au sein du SCT, de Services partagés Canada (SPC), de Services publics et Approvisionnement
                        Canada (SPAC) et de Service Canada et complète leurs importantes attributions en matière de
                        technologie et de service.
                    </p>
                    <p>
                        Durant ces quatre années passées à collaborer avec les ministères et organismes, à leur rendre
                        service et à les écouter, nous avons constaté des thèmes et obstacles communs qui limitent la
                        capacité du gouvernement à adopter les outils et pratiques nécessaires à ses fonctions
                        centrales. Les fonctionnaires s’acharnent à offrir des services de première ligne, fournir des
                        avantages cruciaux ou répondre aux crises, au Canada comme ailleurs. Ce sont eux qui nous ont
                        fait part de leur frustration. Nous voulons leur permettre d’utiliser plus facilement des
                        méthodes et outils modernes qui réduisent le risque d’échec, diminuent les coûts, protègent la
                        vie privée des utilisateur·rice·s et la sécurité des systèmes et, surtout, améliorent le
                        quotidien de la population en faisant de ses besoins la priorité absolue. <strong>Nous voulons
                            donner au
                            gouvernement les outils pour mieux servir les gens.</strong>
                    </p>

                    <h3 id="nos-manières-d’aider">Nos manières d’aider : nos théories actives du changement</h3>
                    <p>Au SNC, nous nous impliquons actuellement dans quatre principales théories du changement pour
                        réaliser des progrès vis-à-vis de notre mandat. Il s’agit de quatre manières complémentaires de
                        soutenir les ministères et renforcer leurs capacités, à l’heure où ces derniers revoient leur
                        façon de concevoir et d’offrir leurs services pour mieux répondre aux besoins des gens.</p>
                    <ol>
                        <li>
                            <strong>Offrir une aide sur mesure par le biais des partenariats :</strong> Nous aidons les
                            ministères à
                            prendre des décisions rapides en matière de conception et de technologie, à développer leurs
                            capacités numériques et à adopter de nouvelles méthodes de travail.
                        </li>
                        <li>
                            <strong>Construire et mettre à l’échelle nos services de plateformes :</strong> Nous
                            construisons des
                            composants communs pour les étapes de service communes que n’importe quel ministère peut
                            utiliser pour faciliter et améliorer la prestation de leurs services.
                        </li>
                        <li>
                            <strong>Travailler ouvertement :</strong> Au SNC, nous exposons notre manière de travailler
                            et nos projets en
                            cours pour aider les autres à apprendre de nos expériences et pour les inviter à nous
                            fournir leurs observations.
                        </li>
                        <li>
                            <strong>Favoriser des changements de politiques pour éliminer les obstacles :</strong> Nous
                            encourageons les
                            changements de politique reposant sur l’expérience de mise en œuvre, qui permettraient aux
                            ministères d’adopter plus facilement des pratiques agiles et axées sur les personnes.
                        </li>
                    </ol>
                    <p>
                        Évidemment, ce ne sont pas là les seuls moyens dont dispose une unité du gouvernement numérique
                        pour créer le changement. Nous avons envisagé d’autres méthodes au fil de nos activités. Nos
                        homologues, au Canada comme à l’international, ont utilisé diverses combinaisons de ces théories
                        du changement. Au niveau fédéral, certaines relèvent d’autres organismes (comme la définition de
                        normes au sein du bureau du Dirigeant principal de l’information). D’autres ne correspondent pas
                        aux autorisations dont nous disposons actuellement (notre organisme se rapproche plus de la
                        carotte que du bâton) ou n’ont pas encore pu se voir accorder la priorité ou les ressources
                        nécessaires.
                    </p>
                    <p>
                        Notre objectif est de décrire les principales façons dont nous comptons offrir notre aide et
                        notre soutien, et pourquoi. Ces points évolueront. Au moment de notre création, à la mi-2017,
                        nous prévoyions par exemple de développer des services de plateformes, sans pour autant nous
                        lancer immédiatement. Ce n’est qu’à la fin de 2019 que nous avons lancé <a
                            href="https://notification.canada.ca">Notification GC</a>, et nos
                        services de plateformes se trouvent maintenant au cœur même de notre stratégie. Nous
                        continuerons à évoluer.
                    </p>

                    <h3 id="efforts">Efforts en cours et objectifs à court terme</h3>
                    <p>À l’aube de l’exercice 2022-23 et d’une nouvelle direction pour le SNC, nos objectifs à court
                        terme soutiennent la manière dont nous espérons faire avancer nos quatre théories actives du
                        changement. Compte tenu de notre taille et de notre financement, nous devons soigneusement et
                        continuellement classer nos efforts par ordre de priorité et collaborer étroitement avec nos
                        partenaires si nous voulons avoir une incidence considérable sur le quotidien des gens que nous
                        servons. </p>
                    <h4>Services de l’unité des partenariats</h4>
                    <p>Améliorer la façon dont le gouvernement du Canada conçoit et livre les services fédéraux, voilà
                        une tâche colossale; une tâche à accomplir parallèlement à la prestation continue et sans
                        interruption des services au public. Un service public solide et résilient a la capacité interne
                        d’offrir des services publics fédéraux uniformes, fiables, sécurisés et accessibles; des
                        services qui, pour toutes ces raisons, obtiennent la confiance du public. Si les équipes de
                        prestation de service rencontrent des obstacles similaires, leurs défis, expériences, capacités
                        et occasions peuvent varier largement. </p>
                    <p>Nous nous sommes appuyés sur les leçons apprises dans le cadre de la prestation jusqu’ici pour
                        passer d’une approche axée sur les produits (« nous allons concevoir et développer un produit
                        pour vous ») à une approche axée sur le renforcement des capacités (« nous allons vous aider à
                        changer la manière dont vous concevez, développez, achetez et entretenez un service par
                        vous-mêmes »). En pivotant de la sorte, nous pouvons nous adapter à la situation des ministères,
                        aider ces derniers à faire le point et créer avec eux une relation de confiance qui nous
                        permettra de leur offrir plus rapidement le soutien sur mesure dont ils ont besoin. Ce faisant,
                        nous croyons pouvoir susciter un changement plus important et mesurable. </p>
                    <p>L’unité opérationnelle des partenariats du SNC constitue un investissement direct envers les
                        services publics. Elle est conçue pour aider les ministères à prendre des décisions en matière
                        de conception et de technologie, à développer leurs compétences numériques internes et à adopter
                        de nouvelles méthodes de travail, et ce, pour leur permettre d’améliorer continuellement leur
                        façon de servir le public. Nous sommes une équipe de conseil du gouvernement numérique. Nous
                        travaillons pour le gouvernement, au sein du gouvernement. Nous sommes là pour aider, et nous
                        offrons pour ce faire une expertise appuyée sur une expérience de prestation pratique à grande
                        échelle au sein des secteurs privé et public. Pour mesurer nos progrès et la valeur ajoutée que
                        nous offrons, nous examinons à quel point nous aidons les ministères à renforcer leurs capacités
                        numériques pour leur permettre d’offrir des expériences de service exceptionnelles. </p>
                    <span><strong>Objectif : continuer à tester et à accroître les résultats de nos services de
                            partenariats.</strong></span>
                    <ul>
                        <li>
                            Conseiller et accompagner les ministères pour les aider à prendre des décisions rapides en
                            matière de conception et de technologie et développer leurs capacités numériques internes
                            afin qu’ils puissent venir à bout d’obstacles particuliers et améliorer leurs performances
                            par rapport aux <a
                                href="https://www.canada.ca/fr/gouvernement/systeme/gouvernement-numerique/normes-numeriques-gouvernement-canada.html">normes
                                numériques du gouvernement du Canada</a>.
                        </li>
                        <li>
                            Lancer et développer activement un nouveau service de ressources d’apprentissage pour aider
                            les fonctionnaires à concevoir et à offrir des services et pour les outiller à encourager le
                            changement; publier pour ce faire des exemples pratiques, pertinents et bilingues basés sur
                            l’expérience du SNC en prestation de service et sur son expertise numérique.
                        </li>
                        <li>
                            Concevoir et piloter une nouvelle offre de partenariats visant à créer les conditions
                            propices au changement, et ce, en intégrant au sein d’un ministère une équipe du SNC qui
                            collaborera directement avec lui pour une durée prolongée. Cette méthode permet aux
                            ministères de développer leurs capacités numériques et d’adopter de nouvelles méthodes de
                            travail pour la conception de leurs services prioritaires.
                        </li>
                        <li>
                            Continuer à mettre en évidence des données, observations et leçons apprises dans le cadre
                            des services de partenariat. Cela nous aidera à mieux comprendre les besoins et la situation
                            des ministères, à évaluer notre offre de services et à améliorer l’incidence de notre
                            travail.
                        </li>
                    </ul>
                    <h4>Services de l’unité des plateformes</h4>
                    <p>Évolutifs, les services de plateforme offrent des applications multiples. Ils répondent à des
                        besoins fréquents en matière de prestation de services à l’aide de composants technologiques
                        communs. Les ministères peuvent ajouter ces composants à des services existants ou les utiliser
                        comme blocs de construction pour en créer de nouveaux.</p>
                    <ul>
                        <li>
                            Ce système permet au gouvernement d’offrir aux utilisateur·rice·s des interactions plus
                            uniformes, fiables, sécurisées et accessibles, et ainsi de gagner leur confiance.
                        </li>
                        <li>
                            Cela signifie que les organismes gouvernementaux pouvant facilement intégrer à leurs
                            services des composants de plateforme (souvent selon le principe du libre-service et du
                            prêt-à-l’emploi) peuvent offrir plus rapidement au public des services nouveaux ou
                            améliorés.
                        </li>
                        <li>
                            Ces avantages engendrent également moins de frais, car les ministères n’ont pas à repartir
                            de zéro pour chaque organisme.
                        </li>
                    </ul>
                    <p>C’est pourquoi, des États-Unis à la France et de l’Argentine au Royaume-Uni, les gouvernements
                        ont largement adopté les services de plateformes pour assurer le succès de leurs efforts de
                        transformation numérique. C’est également pour cette raison que ces composants forment la clé de
                        voûte de notre approche.</p>
                    <p>Notre philosophie est de développer des composants de plateforme d’une telle qualité que les
                        ministères voudront les utiliser d’eux-mêmes, sans avoir à y être forcés. </p>
                    <ul>
                        <li>
                            Nos services de plateforme sont sécurisés, bilingues, accessibles et testés auprès
                            d’utilisateur·rice·s et de fonctionnaires. Ils sont conçus pour répondre aux exigences du
                            gouvernement fédéral et pour permettre une adoption en toute simplicité. En raison des
                            faibles coûts qu’entraîne leur adaptation à plus grande échelle, les services de plateforme
                            sont gratuits jusqu’à un niveau d’utilisation plus élevé. De plus, ils sont soutenus par les
                            équipes du SNC, qui continuent à entretenir et à améliorer les différents composants.
                        </li>
                        <li>
                            Au cours des douze derniers mois, les composants de plateforme ont prouvé leur valeur en
                            améliorant des dizaines de millions de points d’interaction, qu’il s’agisse de l’envoi de
                            messages personnalisés à des individus, de la publication d’informations urgentes destinées
                            à certains groupes du public, de l’accès à du contenu à jour en ligne ou encore de
                            l’utilisation de formulaires.
                        </li>
                    </ul>
                    <p>Cette année, nous continuerons à développer les composants de plateforme en tant que produits
                        autonomes, tout en pilotant et testant des modèles qui permettront aux ministères de combiner
                        ces composants pour créer des services de A à Z.</p>
                    <span><strong>Objectif : accroître l’influence de notre offre de services de plateformes
                            existante.</strong></span>
                    <ul>
                        <li>Continuer à faire évoluer <a href="http://notification.canada.ca">Notification GC</a>,
                            l’objectif étant d’augmenter de 40 % le nombre de services actifs mensuels, d’envoyer 65
                            millions de notifications d’ici au 31 mars 2023 et d’intégrer plus de 50 nouveaux services
                            nets.</li>
                        <li>Accroître l’utilisation et l’incidence de <a
                                href="https://forms-formulaires.alpha.canada.ca/fr/welcome-bienvenue">Formulaires GC</a>
                            en soutenant l’hébergement de formulaires Protégé B pour la clientèle fédérale et en
                            permettant l’intégration de l’outil aux processus opérationnels existants. Nous envisageons
                            que plus de 7 000 transactions soient effectuées par le biais du produit en 2022-23, soit
                            sept fois plus que l’année précédente.
                        </li>
                        <li>Améliorer sans cesse la qualité et la fiabilité de nos services de plateforme par le biais
                            de recherches, de tests et de mesures, et notamment en veillant à ce que tous nos services
                            de plateforme (a) respectent ou dépassent les normes WCAG 2.1; (b) fassent l’objet d’une
                            assistance 24 heures sur 24, 7 jours sur 7, et offrent un taux de temps de fonctionnement de
                            99,9 %; et (c) s’appuient, en vue d’améliorations, sur des recherches directes et sur des
                            tests réalisés auprès de membres du public et de collègues fonctionnaires utilisant les
                            composants de plateforme, y compris des personnes marginalisées ou mal desservies.</li>
                    </ul>
                    <span><strong>Objectif : lancer et continuer à piloter de nouveaux services de plateforme pour
                            répondre à davantage de besoins courants du public lorsqu’il interagit avec le gouvernement.
                            Le SNC va plus précisément :</strong></span>
                    <ul>
                        <li>Lancer et améliorer Articles GC, une plateforme de publication d’articles sur le Web à code
                            source ouvert à la fois simple à utiliser et peu coûteuse à entretenir et qui, nous
                            l’espérons, devrait accélérer la publication de renseignements pour les organismes
                            participant au pilote;</li>
                        <li>Continuer à développer et à tester un nouveau prototype du Système de conception GC que le
                            SNC développe actuellement en collaboration avec ses partenaires du Bureau de la
                            transformation numérique (BTN) du SCT, de l’équipe de l’Éditeur principal à Service Canada,
                            et des ministères.</li>
                    </ul>
                    <h4>Travailler ouvertement</h4>
                    <p>Tout comme les services de plateforme, le fait de « travailler ouvertement » est un point commun
                        à de nombreuses unités de gouvernement numérique dans le monde. Comme le disent si bien nos
                        collègues du Government Digital Service (GDS) au Royaume-Uni, « make things open; it makes
                        things better. » (« la transparence améliore tout. ») Au SNC, nous nous efforçons de communiquer
                        ouvertement sur notre code, nos ressources, nos projets en cours, notre communauté et les leçons
                        que nous avons apprises. Nous avons la conviction que cette théorie du changement permet à
                        d’autres membres du service public :</p>
                    <ul>
                        <li>d’apprendre avec nous;</li>
                        <li>de réutiliser notre code, nos outils, nos guides et nos ressources ou de les adapter au
                            contexte qui leur est propre;</li>
                        <li>d’être plus à l’aise avec nos services, qu’ils soient de plateforme ou non;</li>
                        <li>de s’inspirer de nos expériences et des leçons que nous avons apprises, ou de s’en servir
                            comme d’une mise en garde.</li>
                    </ul>
                    <p>C’est pourquoi nous publions des articles de <a
                            href="https://numerique.canada.ca/blogue/">blogue</a> sur diverses expériences que nous
                        avons vécues, qu’il s’agisse de l’acquisition d’outils modernes, du recrutement de
                        professionnels du numérique ou encore de nos progrès sur différents projets. Nous avons
                        également publié des outils et des guides dans des domaines variés comme <a
                            href="https://numerique.canada.ca/guides/guide-entrevue/">la recherche en
                            conception</a>, <a href="https://numerique.canada.ca/a11y/">l’accessibilité</a>, <a
                            href="https://numerique.canada.ca/guides/cadre-devaluation/">l’évaluation de produits</a> et
                        <a href="https://cds-snc.github.io/technical-playbook-manuel-technique/fr/">le développement
                            logiciel</a> pour apporter
                        notre pierre à l’édifice dans ces secteurs en pleine croissance. Les membres de notre équipe
                        animent des communautés de pratiques ou y participent, interviennent lors d’évènements destinés
                        aux fonctionnaires et enseignent à <a
                            href="https://www.csps-efpc.gc.ca/digital-academy/index-fra.aspx">l’académie du
                            numérique</a> de l’École de la fonction publique du
                        Canada.
                    </p>
                    <p>Le fait de travailler ouvertement présente plusieurs avantages supplémentaires en matière de
                        transparence et de responsabilisation :</p>
                    <ul>
                        <li>Cela permet aux autres de contribuer à notre travail et d’offrir de la rétroaction, ce qui
                            est gage d’amélioration.</li>
                        <li>Cela permet aux parties prenantes et au public d’examiner notre travail, ce qui accroît la
                            confiance accordée à notre service.</li>
                        <li>Cela encourage le recrutement, car les candidat·e·s peuvent facilement consulter notre
                            travail.</li>
                    </ul>
                    <p>Le code source ouvert est la clé de voûte du travail ouvert. Le SNC <a
                            href="https://github.com/cds-snc">publie sur GitHub</a> le code
                        relatif aux produits qu’il développe. Le développement logiciel à code source ouvert nous permet
                        d’utiliser ou de dupliquer le code source ouvert d’autres organismes, de le personnaliser et de
                        le faire évoluer pour qu’il corresponde à nos propres besoins. Nous avons dupliqué d’autres
                        projets gouvernementaux, y avons contribué et avons vu nos propres projets dupliqués par
                        d’autres.</p>
                    <p>Other parts of working in the open can be tougher — whether it’s balancing time and focus between
                        delivery and storytelling, or struggling with how to talk about a failure — especially one that
                        involves the trust of a partner. We want to get better at the work-in-progress and
                        lesson-sharing parts of working in the open: to do it more regularly and to be more open and
                        vulnerable about the times we come up short — and what we learn from those occasions to help us
                        get better.</p>

                    <span><strong>Objectif : Travailler plus ouvertement pour aider les autres à tirer profit de nos
                            efforts, pour leur permettre d’apprendre avec nous et pour montrer l’incidence de la
                            prestation de services sur la population du Canada.</strong></span>
                    <ul>
                        <li>Modifier le positionnement du SNC sur la scène publique pour encourager la sensibilisation à
                            nos services et leur adoption au sein du gouvernement du Canada, tout en encourageant le
                            recrutement de professionnels du numérique;</li>
                        <li>Aller au bout de la feuille de route du site Web pour jeter les bases d’un site à fort
                            impact, accessible et convivial, qui servira les utilisateur·rice·s tout en mettant en
                            valeur les outils de la suite de produits de plateforme du SNC;</li>
                        <li>Attirer un lectorat plus important pour nos articles de blogue et pour nos conseils tout en
                            mettant en avant les utilisateur·rice·s de services gouvernementaux ou en communiquant
                            l’histoire de fonctionnaires ayant placé les besoins de ces derniers au cœur de leur
                            travail;</li>
                        <li>Renforcer notre capacité à travailler ouvertement en continuant à communiquer histoires,
                            code, documentation sur les produits, politiques, projets en cours, guides, gabarits et plus
                            encore. </li>
                    </ul>

                    <h4>Favoriser des changements de politiques pour éliminer les obstacles</h4>
                    <p>Dans l’ensemble du gouvernement fédéral, il existe des politiques, des processus et des mythes
                        qui entravent inutilement la capacité des ministères à offrir des services axés sur les
                        utilisateur·rice·s. Bien qu’il soit nécessaire et important que l’utilisation des fonds publics
                        soit soumise à des restrictions et à des contrôles, ceux-ci peuvent pénaliser les
                        utilisateur·rice·s de services gouvernementaux au lieu de les aider s’ils représentent un
                        obstacle à une prestation de service efficace. Ces entraves à la prestation de service peuvent
                        être de nature légale ou politique, ou résulter d’interprétations trop strictes.</p>
                    <p>Au cours des cinq dernières années, nous avons décelé plusieurs difficultés communes aux
                        différents ministères. En voici quelques exemples :</p>
                    <ul>
                        <li>Le début du développement logiciel requiert trop de documentation et de certitudes, et une
                            adhérence trop stricte à un calendrier pluriannuel. De ce fait, pour un nouveau service, il
                            peut prendre plusieurs années avant qu’une simple ligne de code soit écrite et testée auprès
                            des utilisateur·rice·s, et il arrive qu’on investisse des ressources importantes pour
                            développer un outil inadapté;</li>
                        <li>Les professions du numérique récentes et courantes dans le secteur privé, comme les métiers
                            de gestionnaire de produit ou de chercheur·se en conception, sont difficiles à intégrer au
                            sein du gouvernement;</li>
                        <li>Il est difficile de rémunérer les participant·e·s à la recherche en conception, bien qu’il
                            s’agisse là d’un élément important des normes éthiques reconnues à l’international;</li>
                        <li>L’obtention de fonds pour le développement d’un service numérique peut prendre des années et
                            les fonds en question sont distribués en fonction des jalons, et non du résultat pour les
                            utilisateur·rice·s.</li>
                    </ul>
                    <p>Depuis ses débuts, le SNC a pour tâche centrale de déceler et d’éliminer les obstacles. Nous ne
                        pouvons pas aider les ministères à offrir des services de grande qualité s’ils sont accablés par
                        des processus qui n’améliorent en rien le résultat pour le public. Lorsque nous collaborons avec
                        les ministères, nous déterminons les problèmes communément rencontrés par les équipes de
                        livraison et cherchons à les résoudre de diverses manières, notamment :</p>
                    <ul>
                        <li>en collaborant avec les centres décisionnels du SCT pour faire la lumière sur les
                            difficultés rencontrées et pour aider à apporter des changements à l’ensemble des politiques
                            du SCT;</li>
                        <li>en brisant les mythes sur les façons dont les politiques devraient être interprétées et
                            appliquées;</li>
                        <li>en aidant les ministères à comprendre dans quels cas ils devraient chercher à être exemptés
                            d’une règle.</li>
                    </ul>
                    <p>Il n’est pas aussi aisé d’éliminer un obstacle que de simplement changer une règle. Il faut
                        réunir des preuves, concevoir et tester une solution et promouvoir sans cesse l’adoption d’une
                        nouvelle méthode de travail. </p>
                    <span><strong>Objectif : poursuivre notre collaboration avec nos partenaires au SCT, à SPC et
                            ailleurs pour faire évoluer les politiques et les processus, et ainsi soutenir la livraison
                            numérique et l’accès à des outils modernes.</strong></span>
                    <ul>
                        <li>Développer des solutions politiques permettant la recherche en conception, y compris un
                            mécanisme autorisant le gouvernement à rémunérer les participant·e·s.</li>
                        <li>Recommander des changements pour les processus et normes de classification d’emplois pour
                            (a) recruter et promouvoir plus facilement des contributeur·rice·s individuel·le·s
                            principaux·ales en technologie; (b) définir des voies d’avancement de carrière claires et
                            transparentes pour les fonctionnaires actuel·le·s; et (c) intégrer plus facilement de
                            nouvelles professions du numérique au service public de façon uniforme et alignée avec les
                            réalités du marché du travail. </li>
                        <li>Développer et tester de nouvelles façons de financer les services de plateforme numérique
                            pour leur assurer une évolution plus rapide.</li>
                        <li>Publier des lignes directrices étayées par de la recherche sur la façon dont les ministères
                            peuvent collaborer efficacement avec les groupes de technologie civique afin d’améliorer
                            leur prestation de services.</li>
                        <li>Continuer à tester des outils infonuagiques simplifiant la conception, le développement
                            logiciel et la collaboration d’équipe. Travailler avec les partenaires pour établir ou
                            perfectionner les systèmes d’approvisionnement de façon à mettre ces outils à la disposition
                            immédiate des équipes de prestation dans l’ensemble du gouvernement.</li>
                    </ul>

                    <!-- How we approach this work as a team -->
                    <h2 id="approcher">Notre façon d’envisager cette tâche en tant qu’équipe</h2>
                    <p>Pour faire progresser ces théories du changement et avoir une influence conséquente, nous devons
                        veiller à la robustesse et à l’amélioration continue d’opérations de renforcement des capacités
                        cruciales. </p>
                    <ul>
                        <li><strong>Conscientisation et recherche d’occasions :</strong> Impliquer davantage de
                            personnes et de tables décisionnelles dans l’ensemble du gouvernement pour faire connaître
                            nos services, conformément aux <a
                                href="https://www.canada.ca/fr/secretariat-conseil-tresor/organisation/rapports/evaluation-service-numerique-canadien.html">engagements
                                que nous avons pris à la suite de notre récente
                                évaluation</a> (voir l’annexe C, « Réponse et plan d’action de la direction »), et
                            déceler les
                            occasions dont nous disposons pour aider les ministères.</li>
                        <li><strong>Fiabilité, sécurité, accessibilité et langues officielles :</strong> Nous allons
                            continuer à investir dans ces fonctions sur lesquelles repose notre capacité à offrir aux
                            ministères des produits de plateformes de haute qualité bien exploités, bien entretenus et
                            faits pour durer : une expertise en ingénierie de fiabilité des sites (IFS) au niveau du SNC
                            et des plateformes; une équipe de plateforme consacrée à la sécurité et au soutien
                            technique; des capacités bilingues en interne pour ce qui a trait au contenu; des programmes
                            de formation axés sur la sécurité et l’accessibilité; et une collaboration étroite avec des
                            partenaires comme l’équipe de cybersécurité du BDPI. </li>
                        <li><strong>Talent:</strong> Notre équipe est au cœur de tout ce que nous faisons. Nous mettons
                            l’accent sur l’entretien et le renforcement de notre bassin de talents : nous allons
                            continuer à recruter au sein du gouvernement comme à l’externe, en accordant une attention
                            particulière à la diversification de notre équipe et de notre direction. Nous consacrons
                            également du temps, des efforts et des ressources à la création d’un SNC plus inclusif et
                            équitable. Nous allons continuer à travailler de manière décentralisée dans tout le pays,
                            d’un océan à l’autre, et nous avons hâte d’accueillir dans notre équipe de nouvelles
                            personnes fantastiques et talentueuses, passionnées par l’amélioration des services publics.
                        </li>
                        <li><strong>Outillage et autonomisation :</strong> Comme indiqué dans notre <a
                                href="https://numerique.canada.ca/feuille-de-route-2025/">feuille de route pour
                                2025</a>, nous avons la conviction que des équipes autonomes ont tout le potentiel
                            nécessaire pour créer des services répondant aux besoins des gens. L’autonomisation peut
                            prendre de nombreux visages, mais elle implique notamment de fournir à notre personnel les
                            outils et les occasions d’apprentissage dont il a besoin pour bien faire son travail (ce qui
                            inclut le pilotage de nouvelles options d’outillage pour les rendre disponibles dans
                            l’ensemble du gouvernement) et d’entretenir une culture d’amélioration progressive où l’on
                            apprend de ses erreurs, y compris par le biais de rétrospectives sans accusations.</li>
                    </ul>

                    <h2 id="influence">Les possibilités d’accroître notre influence </h2>
                    <p>Nous nous adaptons sans cesse aux leçons apprises afin de mieux aider les ministères et
                        d’accroître nos résultats. Nous nous penchons entre autres fréquemment sur les demandes non
                        traitées. Il s’agit là de domaines problématiques signalés par les ministères que nos
                        engagements, nos priorités et nos ressources nous empêchent d’aborder à l’heure actuelle, mais
                        qui correspondent à notre mandat et à nos capacités. <strong>Par exemple :</strong></p>
                    <ul>
                        <li><strong>Le talent en tant que service : </strong> Des ministères nous ont demandé des
                            conseils ainsi qu’une aide pratique concernant le recrutement pour des postes spécialisés et
                            la structuration et l’autonomisation d’équipes numériques.</li>
                        <li><strong>Une utilisation élargie des services de plateforme :</strong> Durant la pandémie,
                            des provinces ont manifesté le souhait d’utiliser nos composants de plateforme. Nous savons
                            qu’en matière de services numériques, les gouvernements provinciaux, territoriaux et
                            municipaux rencontrent des problèmes relativement similaires à ceux du gouvernement fédéral.
                            Nous avons été enthousiasmé·e·s par la découverte, <a
                                href="https://budget.gc.ca/2022/report-rapport/chap9-fr.html#2022-2">dans le budget de
                                2022, des modifications
                                législatives que le gouvernement a l’intention d’entreprendre</a> (voir : « Accélérer le
                            gouvernement numérique » à l’article 9.2) et qui nous permettraient d’aider à répondre à
                            cette demande.</li>
                        <li><strong>Une capacité de parer au plus pressé (période de pointe/attaque) : </strong> Nous
                            avons noté une demande accrue quant aux capacités internes à « parer au plus pressé »,
                            c’est-à-dire à créer rapidement des services d’urgence ou prioritaires ou encore à réparer
                            et lancer à nouveau des services existants rencontrant des problèmes importants. </li>
                        <li><strong>L’approvisionnement :</strong> Il nous est souvent demandé de veiller à ce qu’un
                            ministère ou un organisme aborde et structure un approvisionnement de façon à réduire les
                            risques et à obtenir les meilleurs conseils, services ou outils numériques.</li>
                    </ul>
                    <div class="feedback-div">
                        <h2 id="feedback">Faites-nous part de votre point de vue!</h2>
                        <p>Avez-vous des commentaires sur ce document? Ne soyez pas timide. Vous pouvez entamer une
                            conversation publique (sur <a href="https://twitter.com/SNC_GC">Twitter</a> ou <a
                                href="https://www.linkedin.com/company/cds-snc/mycompany/">LinkedIn</a>) ou nous envoyer un
                            message privé à
                            l’adresse <a href="mailto:cds-snc@tbs-sct.gc.ca">cds-snc@tbs-sct.gc.ca</a>. Ce n’est pas chose
                            simple de changer la manière dont le
                            gouvernement sert les gens; nous souhaitons nous améliorer et accroître nos résultats à grande
                            échelle. Vos commentaires sont les bienvenus.</p>
                    </div>

                    <div id="scroll-button-mobile">
                        <button>Défiler jusqu’en haut<img src="/img/cds/scroll-top-arrow.svg" /></button>
                    </div>

                </div>

                <div id="scroll-button">
                    <div class="scroll-btn" id="scroll-butn">
                        <img alt="Défiler jusqu’en haut" src="/img/cds/scroll-top-arrow.svg" />
                        <p>Haut</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
{{ end }}