{{ define "main" }}
{{ .Content }}
<section class='partnerships-info'>
  <div class="container">
    <!-- Partnerships intro -->
    <div class="row">
      <div class="col-xs-12">
        <p>{{ i18n "partnerships-intro" | safeHTML }}</p>
      </div>
    </div>
  </div>
</section>
<section class="partnerships-info bg-med-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="partnership-title">{{i18n "partnerships-what-we-can-help-title" | safeHTML}}</h2>
        <p> {{i18n "partnerships-what-we-can-help-1st" | safeHTML }}</p>
        <ul>
          <li>{{i18n "partnerships-what-we-can-help-list-1" | safeHTML }}</li>
          <li>{{i18n "partnerships-what-we-can-help-list-2" | safeHTML }}</li>
          <li>{{i18n "partnerships-what-we-can-help-list-3" | safeHTML }}</li>
          <li>{{i18n "partnerships-what-we-can-help-list-4" | safeHTML }}</li>
        </ul>

        <h2>{{i18n "partnerships-three-ways-heading" | safeHTML }}</h2>
        <!-- Consultation -->
        <h3><strong>{{i18n "partnerships-consultation" | safeHTML }}</strong></h3>
        <h4>{{i18n "partnerships-time-commitment" | safeHTML }}</h4>
        <p>{{i18n "partnerships-consultation-time-commitment" | safeHTML }}</p>
        <h4>{{i18n "partnerships-how-it-works" | safeHTML }}</h4>
        <p>{{i18n "partnerships-consultation-description" | safeHTML }}</p>

        <!-- Exploration -->
        <h3><strong>{{i18n "partnerships-exploration" | safeHTML }}</strong></h3>
        <h4>{{i18n "partnerships-time-commitment" | safeHTML }}</h4>
        <p>{{i18n "partnerships-exploration-time-commitment" | safeHTML }}</p>
        <h4>{{i18n "partnerships-how-it-works" | safeHTML }}</h4>
        <p>{{i18n "partnerships-exploration-description" | safeHTML}}</p>

        <!-- Embedded Teams -->
        <h3><strong>{{i18n "partnerships-embedded-team" | safeHTML }}</strong></h3>
        <h4>{{i18n "partnerships-time-commitment" | safeHTML }}</h4>
        <p>{{i18n "partnerships-embedded-team-time-commitment" | safeHTML }}</p>
        <h4>{{i18n "partnerships-how-it-works" | safeHTML }}</h4>
        <p>{{i18n "partnerships-embedded-team-description" | safeHTML }}</p>

      </div>
    </div>
  </div>
</section>

<section class='bg-yellow-full'>
  <div class="partnerships-contact">
    <div>
      <p>{{ i18n "partnerships-interested-in-chatting" }}</p>
    </div>
    <div>
      <a href={{ i18n "partnerships-contact-us-link" }} id="partnerships-contact-us-link">
        {{ i18n "partnerships-contact-us" }}
      </a>
    </div>
  </div>
</section>

<section class='partnership-products' id='partnership-products' name='partnership-products'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <h2>{{ i18n "what-were-working-on" }}</h2>
      </div>
    </div>
  </div>

  {{ $products := where .Site.Pages ".File.Dir" "==" "products/products/" }}
  <div class='container'>
    <div class='row equal'>
      {{ range $elem_index, $elem_val := $products }}
      {{ if and (ne $elem_index 0) (eq (mod $elem_index 2) 0) }}
    </div>
    <div class='row equal'>
      {{ end }}
      <div class='col-md-6 col-xs-12'>
        {{ partial "partnerships_product_item" $elem_val }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="section section--mailing-list">
  {{ partial "mailing-list.html" }}
</section>

{{ end }}