{{ define "main" }}
  {{ .Content }}

   <section class='partnerships-info'>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>At the Canadian Digital Service, we partner up with federal departments to design, test and build simple, easy to use services. Our goal is to improve the experience – for people who deliver government services and people who use those services.
            </p>
        </div>
      </div>

       <div class="row">
        <div class="col-xs-12">
          <h2>How it works</h2>
          <p>Together, we form a team that follows the ‘Agile software development methodology’. This means we begin with an intensive <span class='discovery'>'Discovery'</span> research phase to explore user needs and possible solutions to meeting those needs. After that, we move into a prototyping <span class='Alpha'>Alpha</span> phase to find and test ways to meet user needs. Next comes the <span class='beta'>'Beta'</span> phase, where we release the solution to the public and intensively test it. Lastly, the <span class='live'>Live</span> phase, where the service is fully released and continues to be monitored and improved upon. </p>
          <p>Between the <span class='beta'>Beta</span> and <span class='live'>Live</span> phases, our team members step back from the service, and the partner team in the department continues the maintenance and development. We can help partners recruit their service team from both internal and external sources.</p>
          <p>Before each phase begins, CDS and the partner sign a partnership agreement which outlines the goal and outcomes for the coming phase, how we’ll get there, and a commitment to get them done. </p>
       </div>
    </div>
  <div>

   <section class='bg-dark-full'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12'>
          <h2>Who is on the team</h2>
          <p>Each team has a mix of members from CDS and the partner department so we can share our ways of working, and get a shared understanding of the problem we’re trying to solve together.</p>
      
          <ul>
            <li>{{ i18n "partnerships-cds-pm" | safeHTML }}</li>
            <li>{{ i18n "partnerships-cds-researcher" | safeHTML }}</li>
            <li>{{ i18n "partnerships-cds-designers" | safeHTML }}</li>
            <li>{{ i18n "partnerships-cds-developers" | safeHTML }}</li>
            <li>{{ i18n "partnerships-cds-support" | safeHTML }}</li>
          </ul>

           <p>{{ i18n "partnerships-from-partner" }}:</p>
          <ul>
            <li>{{ i18n "partnerships-partner-owner" | safeHTML }}</li>
            <li>{{ i18n "partnerships-partner-experts" | safeHTML }}</li>
            <li>{{ i18n "partnerships-partner-for-beta" | safeHTML }}</li>
            <li>{{ i18n "partnerships-partner-for-live" | safeHTML }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

   <section class='bg-yellow-full'>
      <div class='row'>
        <div class='col-md-7 col-xs-12'>
          <p>{{ i18n "partnerships-interested-in-chatting" }}</p>
        </div>
        <div class='col-md-5 col-xs-12'>
          <a href="mailto:CDS-SNC@tbs-sct.gc.ca">
            {{ i18n "partnerships-contact-us" }}
          </a>
        </div>
      </div>  
  </section>

   <section class='partnership-products'>
    <div class=''>
      <div class='row'>
        <div class='col-xs-12'>
          <h2>{{ i18n "what-were-working-on" }}</h2>
          <p>{{ i18n "partnerships-partner-overview" }}

             {{ $blog_url := "picking-our-projects" }}
            {{ if eq $.Site.Language.Lang "fr" }}
              {{ $blog_url = "choisir-nos-projets" }}
            {{ end }}
            <a href="{{with $.Site.GetPage $blog_url}}{{.URL}}{{ end }}">
              {{ i18n "blog-post" }}
            </a>.
          </p>
        </div>
      </div>
    </div>

     {{ $products := where .Site.Pages ".Dir" "==" "products/products/" }}
    <div class=''>
      <div class='row'>
        <div class='col-xs-12'>
          <h3>{{ i18n "partnerships-inflight" }}</h3>
        </div>
      </div>
      <div class='row equal'>
        {{ $inflight := where .Site.Pages ".Params.status" "==" "in-flight" }}

         {{ range $elem_index, $elem_val := $inflight | intersect $products }}
          {{ if and (ne $elem_index 0) (eq (mod $elem_index 2) 0) }}
            </div>
            <div class='row equal'>
          {{ end }}
          <div class='col-md-6 col-xs-12'>
            {{ .Render "list"}}
          </div>
        {{ end }}
      </div>
    </div>

     <div class=''>
      <div class='row'>
        <div class='col-xs-12'>
          <h3>{{ i18n "partnerships-past" }}</h3>
        </div>
      </div>
      <div class='row equal'>
        {{ $past := where .Site.Pages ".Params.status" "==" "past" }}

         {{ range $elem_index, $elem_val := $past | intersect $products }}
          {{ if and (ne $elem_index 0) (eq (mod $elem_index 2) 0) }}
            </div>
            <div class='row equal'>
          {{ end }}
          <div class='col-md-6 col-xs-12'>
            {{ .Render "list"}}
          </div>
        {{ end }}
      </div>
    </div>
  </section>

 {{ end }}