{{ define "main" }}    
  <div class="container">
      <section class="content">
          <section class="page--outer-container-padding">
                {{ .Content }}
                <h2 class="section--title">{{ i18n "in-flight" }}</h2>
                {{ range where .Pages ".Params.status" "==" "in-flight" }}
                  {{ .Render "list"}}
                {{ end }}
                <h2 class="section--title">{{ i18n "past-products"}}</h2>
                {{ range where .Pages ".Params.status" "==" "past" }}
                  {{ .Render "list"}}
                {{ end }}
          </section>
      </section>
  </div>
{{end}}