{{ define "title"}}
{{ partial "menu" }}
<div class="page-banner">
  <div class="page-banner--scrim"></div>
  <div class="container">
    <div class="page-banner--title">
      <h1>{{ i18n "products"}}</h1>
      <div class="container-products-toggle">
        <a href="/products" class="active">{{ i18n "products-btn"}}</a>
        <a href="/platform">{{ i18n "developer-tools-btn"}}</a>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "main" }}
<div class="container">
  <section class="content">
    <section class="page--outer-container-padding">
      {{ .Content }}
      <h2 class="section--title">{{ i18n "in-flight" }}</h2>
      {{ range where .Pages ".Params.status" "==" "in-flight" }}
      {{ .Render "list"}}
      {{ end }}
      <h2 class="section--title">{{ i18n "past-products"}}</h2>
      {{ range where .Pages ".Params.status" "==" "past" }}
      {{ .Render "list"}}
      {{ end }}
    </section>
  </section>
</div>
{{ end }}
