{{ define "main" }}
<section class="page--outer-container-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Si vous avez déjà créé un formulaire en ligne et n’occupez pas un poste lié au développement, nous aimerions en savoir plus sur votre expérience.</p>
                <p>Nous avons créé une enquête qui devrait prendre moins de 5 minutes de votre temps. Veuillez y répondre et la partager avec toute personne au sein du gouvernement du Canada susceptible de vouloir y participer.</p>
                <hr>
                <h3>Pourquoi ces questions?</h3>
                <p>L’équipe de la plateforme du service numérique canadien est en train de concevoir un nouvel outil pour permettre aux fonctionnaires de créer des formulaires en ligne sans avoir besoin de ressources en développement.  Nous voulons créer un site qui, en plus d’être sécurisé et accessible, soit simple d’utilisation et réponde aux besoins des fonctionnaires.</p>
                <p>Pour ce faire, nous devons connaître l’expérience des membres du gouvernement ayant déjà créé un formulaire en ligne à l’aide d’un générateur de formulaires comme Microsoft Forms, Google Forms, SurveyMonkey, WordPress, Drupal ou l’un des nombreux autres outils similaires.</p>
                <p><a href="https://forms-formulaires.alpha.canada.ca/fr/id/203">Accéder à l’enquête.</a></p>
            </br>
        </br>
            </div>
        </div>
    </div>  
</section>
{{ end }}