{{ define "main" }}
<section class="page--outer-container-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <p>Department: Treasury Board of Canada Secretariat</p>
                <p>Sector: Canadian Digital Service</p>
                <p>Position Title: CEO</p>
                <p>Group and Level: EX-05</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Education:</h2>
                <p>Graduation with a degree from a recognized post-secondary institution or an acceptable combination of education, training and/or experience.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Experience:</h2>
                <p>EX 1 – *Significant experience delivering software and nurturing and scaling digital teams.</p>
                <p>EX 2 – Experience applying modern digital practices to improve user experiences in services or products.</p>
                <p>EX 3 - Experience driving strategy and change in a multilayer, complex organization.</p>
                <p>EX 4 - Experience in managing significant financial and complex human resources matters.</p>
                <p>EX 5 - Experience in collaborating and maintaining partnerships.</p>
                <p>* Significant is understood to mean the depth and breadth of experience normally acquired over a period of approximately two (2) years and for which these tasks are performed on an on-going basis as part of the main duties of the position.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Knowledge:</h2>
                <p>K1 - Knowledge of modern digital product delivery strategies and methods such-as agile and user-centred (UX) design and working in the open.</p>
                <p>K2 - Knowledge of diversity, equity and/or inclusion strategies.</p>
                <p>K3 - Knowledge of the intersectionality of technology and policy.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Abilities:</h2>
                <p>A1 – Ability to navigate ambiguity and set clear priorities in a rapidly evolving environment.</p>
                <p>A2 - Ability to coach, mentor and inspire leaders in a growth environment.</p>
                <p>A3 - Ability to effectively explain and present complex technology and service delivery concepts to a wide variety of audiences.</p>
                <p>A4 - Ability to persuade, inspire and advocate for modern digital practices, user-centred design, and digital service delivery.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Key Leadership Competencies: </h2>
                <p>KLC1 - Create vision and strategy</p>
                <p>KLC2 - Mobilize people</p>
                <p>KLC3 - Uphold integrity and respect</p>
                <p>KLC4 - Collaborate with partners and stakeholders</p>
                <p>KLC5 - Promote innovation and guide change</p>
                <p>KLC6 - Achieve results</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Official Languages: </h2>
                <p>Bilingual Imperative (CBC/CBC)</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Condition of employment:</h2>
                <p>Secret security clearance</p>
            </div>
        </div>

    </div>
</section>

{{ end }}