{{ define "main" }}
<section class="page--outer-container-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <p>Department: Treasury Board of Canada Secretariat</p>
                <p>Sector: Canadian Digital Service</p>
                <p>Position Title: Director of Talent & Internal Operations</p>
                <p>Group and Level: EX-01</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Education</h2>
                <p>Graduation with a degree from a recognized post-secondary institution or an acceptable combination of education, training and/or experience.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Experience</h2>
                <p>E1 - Significant and recent** experience applying modern HR practices to improve talent acquisition and employee experience in a digital or transformational environment.</p>
                <p>E2 - Experience driving strategy and change in a multilayer and complex organization.</p>
                <p>E3 - Significant* experience in establishing and maintaining effective working relationships with senior officials (Assistant Deputy Minister level or equivalent and higher) in such organizations as: federal departments or agencies, other levels of government, the private sector, not-for-profit organizations/institutions.</p>
                <p>E4 - Experience providing strategic analysis and advice to senior management.</p>
                <p>E5 - Experience in managing human resources and in managing financial resources.</p>

                <br>
                <p>*Significant is defined as depth and breadth of experience that would normally be acquired over a period of approximately two years.</p>
                <p>**Recent is defined as experience that would normally be acquired within the last five years.</p>
                <p>*** Transformational is defined as an organization that is in constant movement and change.</p>
                <p>****Complex is defined as having two (2) or more of the following characteristics: significant business risks and impacts, multidimensional, sensitive, affecting many partners or stakeholders, precedent setting or with significant public profile.</p>
                <p>*****Senior management is defined as Executive Director and above or an executive with decision-making power that influences the whole of the organization.</p>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Knowledge</h2>
                <p>K1 - Knowledge of modern HR practices in talent acquisition and employee experience.</p>
                <p>K2 - Knowledge of how to drive HR strategy in a complex organization.</p>
                <p>K3 - Knowledge of diversity, equity, and inclusion strategies and practices.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Abilities</h2>
                <p>A1 – Ability to communicate effectively orally and in writing.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Key Leadership Competencies</h2>
                <p>KLC1 - Create vision and strategy</p>
                <p>KLC2 - Mobilize people</p>
                <p>KLC3 - Uphold integrity and respect</p>
                <p>KLC4 - Collaborate with partners and stakeholders</p>
                <p>KLC5 - Promote innovation and guide change</p>
                <p>KLC6 - Achieve results</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Official Languages Proficiency</h2>
                <p>It is our intent to appoint a bilingual Imperative CBC/CBC (intermediate to advanced French levels) candidate however non-imperative CBC/CBC appointments may be considered.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>EEDI Statement</h2>
                <p>In support of achieving a diverse workforce, consideration may be given to candidates self-declare as belonging to one of the following Employment Equity groups: Aboriginal peoples, persons with disabilities, members of visible minorities, and women.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2>Condition of employment</h2>
                <p>Secret security clearance</p>
            </div>
        </div>

    </div>
</section>

{{ end }}