{{ define "title" }}
    {{partial "menu.html" . }}
    <h1 class="wb-inv">{{ .Params.title }}</h1>
{{ end }}
{{ define "main" }}
    <section class="content">
        <div class="row">
            <div class="story-text col-lg-4 col-md-5 col-xs-12">
                <div class="container">
                    {{ .Content }}
                </div>
            </div>
            <div class="story-image col-lg-8 col-md-7 col-xs-12">
                <div class="image-container" role="img" aria-label="{{ .Params.imagealt }}" style="background-image: url('{{ .Params.image }}')"></div>
            </div>
        </div>
    </section>
{{ end }}