{{ define "main" }}
<div class="container">
    <section class="section work-with-us--intro page-intro--outer-container-padding">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                <h2 class="section--title">Travaillez au SNC</h2>
                {{ if gt (len (where .Pages ".Params.archived" "==" false)) 0 }}
                    <div class="cell-background">
                        <p><strong>Candidatures possibles pour un temps limité</strong></p>
                        {{ if gt (len (where .Pages ".Params.archived" "==" false)) 0 }}
                            <p style="margin-bottom: 0.5rem;">Nous souhaitons combler ces postes le plus tôt possible&nbsp;:</p>
                            <div class="row mrgn-tp-0">
                                <ul>
                                    {{ range $p := (where .Pages ".Params.archived" "==" false)}}
                                        <li><a href={{ .RelPermalink }}>{{ .Title }}</a></li>
                                    {{ end }}
                                </ul>
                            </div>
                        {{ end }}
                        <p>Nous embauchons dans quatre volets&nbsp;:</p>
                        <div class="row mrgn-tp-0">
                            <ul>
                                <li><a href="#comms">Communications et Mobilisation</a></li>
                                <li><a href="#design">Conception</a></li>
                                <li><a href="#development">Développement</a></li>
                                <li><a href="#prod">Gestion de produit</a></li>
                            </ul>
                        </div>
                    </div>
                {{end}}
                <p>Le SNC constitue une équipe de personnes talentueuses, passionnées et résolues à relever les principaux <a href="/2017/08/24/choisir-nos-projets/">défis de prestation de services</a> au Canada. Qu’il s’agisse d’améliorer le processus d’immigration ou d’aider les anciens combattants à recevoir leurs prestations, saisissez l’occasion d’avoir un véritable impact pour votre pays. <a href="/#mission">Pour en savoir plus sur notre mission</a>.</p>
                <h3>L’équipe</h3>
                <p>Nos petites équipes multidisciplinaires sont constituées de développeurs, concepteurs, chercheurs en expérience utilisateur, scientifiques de données et gestionnaires de produit. Nous sommes soucieux de bâtir une équipe diversifiée sur plusieurs plans&nbsp;: représentation hommes-femmes, ascendance autochtone, races, personnes ayant un handicap, âges, langues et parcours professionnels.</p>
                </div>
                
        </div>
    </section>
</div>

{{ .Content }}

{{ end}}