{{ define "main" }}



{{$types := slice "section" "blog" "tools-and-resources" "a11y" "categories" "roadmap" "engagement" "products" "form-submission" "legal" "tags"}}
<div class="site-search-div">
    <div class="filter-box">
        <form id="filter-form">
            {{range $index, $element := $types}}
            <div>
                <!-- use i18n for label -->
                <input type="checkbox" id="{{$index}}" name="{{$element}}" onclick="checkboxClicked(this)" class="checkboxes">
                <label for="{{$index}}">{{$element}}<span id="{{$element}}">(0)</span></label>
                
            </div>
            {{end}}
            <!-- <button type="submit">Search</button> -->
            <input type="button" onclick="handleData()" value="submit" />
        </form>

        
        

        
    </div>
    <div class="container">
        <div class="sort-by-show-results">
            <span id="results-number"></span>
            <span>Sort By
                <div class="dropdown">
                    <button onclick="dropdownClicked()" class="dropbtn" id="dropdownbtn">Dropdown</button>
                    <div id="myDropdown" class="dropdown-content">
                        <button id="relevant" class="recent-relevance-btn ">Most Relevant</button>
                        <button id="recent" class="recent-relevance-btn ">Most Recent</button>
                    </div>
                </div>
            </span>
        </div>
        <ul id="site-results">
            <li>
                Enter a keyword above to search this site.
            </li>
        </ul>
    </div>

</div>



<!-- <a href="javascript:prevPage()" id="btn_prev">Prev</a>
<a href="javascript:nextPage()" id="btn_next">Next</a>
<div>Page<span id="page"></span></div> -->
<div class="pagenumbers" id="pagination"></div>

<script src="https://unpkg.com/lunr/lunr.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
{{ end }}