---
title: "Blogue"
description: "Les publications du blog des membres de l'équipe du Service numérique canadien, des collègues et des amis travaillant sur les services numériques."
image: blog.jpg
lang: fr
layout: cds/page
permalink: /blogue/
trans_url: '/blog'
---

{% assign posts=site.posts | where:"lang",page.lang %}
<div class="container page-blog--container-padding">
	<ul class="blogpost-list">
	    {% for post in posts %}
			<li class="post">
		    	<div class="date">
					{% assign m = post.date | date: "%-m" %}
					{{ post.date | date: "%-d" }}
					{% case m %}
						{% when '1' %}janvier
						{% when '2' %}février
						{% when '3' %}mars
						{% when '4' %}avril
						{% when '5' %}mai
						{% when '6' %}juin
						{% when '7' %}juillet
						{% when '8' %}août
						{% when '9' %}septembre
						{% when '10' %}octobre
						{% when '11' %}novembre
						{% when '12' %}décembre
					{% endcase %}
					{{ post.date | date: "%Y" }}
				</div>
		    	<div class="row">
		    		<div class="col-xs-12 col-sm-4">
						{% if post.image-alt %}
							<div class="photo" role="img" aria-label="{{ post.image-alt }}" style="background-image: url('/assets/img/cds/post-images/{{ post.image }}')"></div>
						{% else %}
							<div class="photo" style="background-image: url('/assets/img/cds/post-images/{{ post.image }}')"></div>
						{% endif %}
			    	</div>
			    	<div class="col-xs-12 col-sm-8">
				    	<div class="text">
				        	<div class="title"><a href="{{ post.url }}"><h2>{{ post.title }}</h2></a></div>
				        	<div class="author">{{ post.author }}</div>
				        	<div class="summary">{{post.excerpt | strip_html | truncatewords:75}}</div>
				        	<div class="readmore"><a href="{{ post.url }}" aria-label="Lire la suite de {{ post.title }}">Lire davantage</a></div>
				        </div>
				    </div>
		        </div>
		    </li>
		{% endfor %}
	</ul>
</div>