---
title: 'Contactez-nous'
description: "Connectez-vous avec l'équipe du Service numérique canadien."
image: contact.jpg
lang: fr
layout: cds/page
permalink: /contactez-nous/
trans_url: '/contact'
---

<section class="section page-contact page--outer-container-padding">
	<h2 class="section--title">Communiquez avec nous!</h2>
		<div class="contact-info-container">
			{% include cds/contact-info.html %}
		</div>
</section>
	
<section class="section section--mailing-list no-bg">
		<a name="liste-envoi"></a>
		{% include cds/{{ page.lang }}/mailing-list.html %}
</section>