---
layout: cds/base
---
<header role="banner">
    {% include cds/fip.html %}

    <div class="page-banner">
        <div class="page-banner--video">
            <video playsinline muted loop poster="/assets/img/cds/header-images/front-poster-image.jpg" id="js-video-bg">
                <source src="/assets/img/cds/header-images/homepage_header.mp4" type="video/mp4">
            </video>
            <div class="page-banner--scrim"></div>

            <div class="page-banner--video-controls hidden">
                <div id="js-play-pause">
                    <a href="#" id="js-paused" class="video-banner--control-button">
                        <span class="fa fa-play pause-ico"></span>
                        <span class="button-text">{{ site.data.trans[page.lang].play }}<span class="sr-only"> video</span></span>
                    </a>
                    <a href="#" id="js-playing" class="video-banner--control-button" style="display: none;">
                        <span class="fa fa-pause pause-ico"></span>
                        <span class="button-text">{{ site.data.trans[page.lang].pause }}<span class="sr-only"> video</span></span>
                    </a>
                </div>
            </div>
        </div>

        {% include cds/site-menu.html %}

        <div class="page-banner--tag-line">
            <div class="container">
                <div class="row">
                    <div class="page-banner--tag-line--logo-container col-xs-12 col-sm-3 col-sm-offset-2 col-md-offset-3">
                        <object type="image/svg+xml" tabindex="-1" data="/assets/img/cds/cds-logo-{{ page.lang }}.svg" class="page-banner--tag-line--logo"></object>
                        <h1 class="wb-inv">{{ site.data.trans[page.lang].canadian-digital-service }}</h1>
                    </div>
                    <div class="h1 col-xs-12 col-sm-7 col-md-6">{{ site.data.trans[page.lang].homepage-tag-line }}</div>
                </div>
            </div>
        </div>
    </div>

</header>
<main role="main" property="mainContentOfPage">
    <section id="wb-cont">
        {{ content }}
    </section>
</main>