---
layout: cds/base
---
<header role="banner">
    {% include cds/fip.html %}

    {% include cds/site-menu.html %}

    <div class="page-banner" style="background-image:url('/assets/img/cds/header-images/{{ page.image }}')">
        <div class="page-banner--scrim"></div>
        <div class="container">
            <div class="page-banner--title">
                <h1>{{ page.title }}</h1>
                {% if page.subtitle %}
                    <span class="page-title-sub">
                        {{ page.subtitle }}
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<main role="main" property="mainContentOfPage">
    <section id="wb-cont">
        {{ content }}
    </section>
</main>

